{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-solution-page template-{{page.slug}}{% endblock %}

{% block content %}

    {# Hero section - section includes links #}
    {% include "includes/hero_video_section.html" %}

    <div class="brand-pattern"></div>

    {% block breadcrumbs %}
        {% include "navigation/breadcrumbs.html" %}
    {% endblock %}
    {# Upper Background Image #}
    {% image page.heading_background_image max-100x100 %}

    {# Streamfield options #}
    <section class="section section--body">
        {{ page.body }}
    </section>

    {# Related partners #}
    {% if page.partners %}
        {% image page.partners_customisations.image max-100x100 as partners_image %}
        <section class="section section--partners"
                 style="{% if partners_image %}background-image:url({{ partners_image.url }});{% endif %}
                        {% if page.partners_customisations.background_hex %}background:{{ page.partners_customisations.background_hex }};{% endif %}">
            <h2 class="section__title"
                {% if page.partners_customisations.heading_hex %}style="color:{{ page.partners_customisations.heading_hex }};"{% endif %}>Our partners</h2>
            <div class="media-block-container">
                {% for partner in page.partners %}
                    {# Partner card here #}
                    {% include "includes/partner_card.html" with partner=partner %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# Related people #}
    {% if page.people %}
    <section class="section section__people">
        <h2 class="section__title">People</h2>
        <h3>{{ page.person_category }}</h3>
        {% for person in page.people %}
            {# Person card here #}
            {% include "includes/person_index_card.html" with person=person %}
        {% endfor %}
    </section>
    {% endif %}

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}

    {# Latest articles, limited to three most recent, link to all articles index #}
    {% include "includes/articles_section.html" with title="Latest from "|add:page.title customisations=page.article_customisations %}

{% endblock %}
