{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <div class="intro">
        <div class="container">
            {% include "includes/share.html" %}
            <h1>{{ page.title }}</h1>
            <p>{{ page.summary }}</p>
        </div>
    </div>

    {# Hero video and fallback image #}
    {% include "includes/hero_video.html" with video=page.hero_video %}

    {# Partners #}
    {% if page.partners %}
    <div class="partners">
        {% for partner in page.partners %}
            {# Partner card here #}
            {% include "includes/partner_card.html" with partner=partner %}
        {% endfor %}
    </div>
    {% endif %}

    {# People #}
    {% if page.person_category and page.people %}
    <div class="people">
        <h3>{{ page.person_category }}</h3>
        {% for person in page.people %}
            {# Person card here #}
            {% include "includes/person_index_card.html" with person=person %}
        {% endfor %} 
    </div>   
    {% endif %}

    <section class="main-body">
        <div class="container">
            {{ page.body }}
        </div>
    </section>

    {% if page.call_to_action %}
    <section class="country-cta">
        <div class="container">
        <h2>Call to Action</h2>
        <a href="{{ page.call_to_action.link_url }}">
            {{ page.call_to_action.title }}
        </a>
        </div>
    </section>
    {% endif %}
    
    {% include "includes/relatedcontent.html" %}

{% endblock %}
