{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section - section includes links #}
    <section class="hero">
        {# Hero video include #}
        {% include "includes/hero_video.html" with video=page.hero_video feature=page.hero_fallback_image %}

        <div class="hero__content hero__content--centered">
            {% if page.logo %}
                {% image page.logo original as solution_logo %}
                <img class="hero__logo" src="{{ solution_logo.url }}" alt="{{ page.title }}">
            {% elif page.strapline %}
                <h2 class="hero__strapline">{{ page.strapline }}</h2>
            {% endif %}

            {# Link field to video or page #}
            {% if page.link_page or page.link_url %}
                {% if page.link_page %}

                    <a class="link link--boxed" href="{{ page.link_page.url }}">
                        {{ page.link_text }}
                        <span></span>
                        <span></span>
                    </a>
                {% elif page.link_url  %}
                    <a class="link link--boxed" href="{{ page.link_url }}" target="_blank">
                        {{ page.link_text }}
                        <span></span>
                        <span></span>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </section>

    {# Streamfield options #}
    <section class="section section--body">
        {{ page.body }}
    </section>

    {# Related partners #}
    {% if page.partners %}
        <section class="section section--partners">
            <h2 class="section__title">Our partners</h2>
            <div class="media-block-container">
                {% for partner in page.partners %}
                    {# Partner card here #}
                    {% include "includes/partner_card.html" with partner=partner %}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# Related people #}
    {% if page.people %}
    <section class="section section__people">
        <h2 class="section__title">People</h2>
        <h3>{{ page.person_category }}</h3>
        {% for person in page.people %}
            {# Person card here #}
            {% include "includes/person_index_card.html" with person=person %}
        {% endfor %}
    </section>
    {% endif %}

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
    <section class="cta">
        <h2>Call to Action</h2>
        <a href="{{ page.call_to_action.link_url }}">
            {{ page.call_to_action.title }}
        </a>
    </section>
    {% endif %}

    {# Latest articles, limited to three most recent, link to all articles index #}
    {% if page.articles %}
    <section class="section section--articles">
        <h2 class="section__title">Latest in {{ page.title }}</h2>
        <div class="article-container wrapper wrapper--medium">
            {% for article in page.articles %}
                {% include "includes/article_card.html" %}
            {% endfor %}
        </div>
        <div class="wrapper wrapper--center">
            <a class="link link--boxed link--center" href="/articles">
                See all news
                <span></span>
                <span></span>
            </a>
        </div>
    </section>
    {% endif %}

{% endblock %}
