<div class="video video-container">
    <div class="video__player">
        <div class="video__wrapper">
            <iframe src="https://www.youtube.com/embed/WFJz7F8zgj0?feature=oembed" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="video__overlay">
            <img class="video__poster" src="https://img.youtube.com/vi/7iy7U-Zu0zQ/maxresdefault.jpg" alt="">
            <div class="video__button">
                <p>Play</p>
                <svg class="video__icon">
                    <use xlink:href="#video-play"></use>
                </svg>
            </div>
        </div>

    </div>
    <div class="video__content">
        <h4 class="video__title">Lorem ipsum: dolor sit amet voluptatum tempo</h4>
        <p class="video__copy">Voluptas id eius ab, odit nostrum voluptatum temporibus ducimus. Facilis incidunt adipisci molestiae.</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
</div>
