.article-info {
    @include small-text;
    color: $green;
    padding: 1rem 0 .5rem;

    &__author {
        color: $mid-grey;
        margin: 10px 0 0;

        span {
            color: $green;
            padding-right: 15px;
        }
    }

    &__category {
        border-bottom: 1px solid $yellow;
    }
}
