{% load wagtailcore_tags %}

{% if page.get_ancestors|length > 2 %}
    <nav role="navigation" aria-label="breadcrumb">
        <ul class="breadcrumb-container">
            {% for ancestor_page in page.get_ancestors %}
                {% if not ancestor_page.is_root %}
                    {% if ancestor_page.depth > 2 %}
                        <li class="breadcrumb">
                            {% if ancestor_page.specific.exclude_from_navigation %}
                                <span class="link link--underlined">
                                    {{ ancestor_page.title }}
                                </span>
                            {% else %}
                                <a class="link link--underlined" href="{% pageurl ancestor_page %}" title="{{ ancestor_page.title }}">
                                    {{ ancestor_page.title }}
                                </a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="breadcrumb"><a class="link link--underlined" href="/" title="Home">Home</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
