.rich-text {
    @include font-size(16px, 18px);
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
    text-shadow: inherit;

    .large-text & {
        @include font-size(18px, 25px);
        font-weight: $weight-bold;
    }

    a {
        border-bottom: 2px solid $yellow;
        font-weight: $weight-bold;
    }

    ul,
    ol {
        padding-left: 20px;
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }
}
