.rich-text  {
    @include font-size(16px, 18px);

    .large-text & {
        @include font-size(18px, 20px);
    }

    a {
        border-bottom: 2px solid $yellow;
        padding-bottom: 1px;
        font-weight: $weight-bold;
    }

    ul,
    ol {
        padding-left: 20px;
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }
}
