.rich-text {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes

    .large-text & {
        @include large-text;
        font-weight: $weight-bold;
    }

    a {
        border-bottom: 2px solid $yellow;
        font-weight: $weight-bold;
    }

    ul,
    ol {
        padding-left: 20px;
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }
}
