<div class="rich-text">
    <p>Ex enim vero numquam sapiente eum, quos ab illo nesciunt esse beatae rerum, aliquam quam amet id voluptatum et fugit labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex enim vero numquam sapiente eum, quos ab illo nesciunt esse beatae rerum, aliquam quam amet id voluptatum et fugit labore.</p>
    <p>Consectetur adipisicing elit. Ex enim vero numquam sapiente eum, quos ab illo nesciunt esse beatae rerum, aliquam quam amet id voluptatum et fugit labore odio!</p>
    <p>Sapiente enim vero numquam sapiente eum, quos ab illo nesciunt esse beatae rerum, aliquam quam amet id voluptatum et fugit labore. Lorem ipsum dolor sit amet, consectetur adipisicing eum, quos ab illo nesciunt esse beatae rerum, aliquam quam <a href="#">amet id voluptatum</a> et fugit labore odio!</p>
</div>
