.hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 20px;

    @include media-query(mob-landscape) {
        width: 30px;
    }

    &__line {
        display: block;
        height: 4px;
        left: 0;
        opacity: 1;
        position: absolute;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        width: 100%;

        .template--standard-page & {
            background: $navy-blue;
        }

        .template--listings-page & {
            background: $white;
        }

        .open & {
            background: $white;
        }

        @include media-query(mob-landscape) {
            height: 5px;
        }

        &:nth-child(1) {
            top: 0px;

            .open & {
                top: 10px;
                width: 0%;
                left: 50%;
            }
        }

        &:nth-child(2) {
            top: 8px;

            @include media-query(mob-landscape) {
                top: 12px;
            }

            .open & {
                transform: rotate(45deg);
            }
        }

        &:nth-child(3) {
            top: 8px;

            @include media-query(mob-landscape) {
                top: 12px;
            }

            .open & {
                transform: rotate(-45deg);
            }
        }

        &:nth-child(4) {
            top: 16px;

            @include media-query(mob-landscape) {
                top: 24px;
            }

            .open & {
                top: 10px;
                width: 0%;
                left: 50%;
            }
        }
    }
}