.list-item {
    margin-bottom: 3rem;

    @include media-query(tablet-landscape) {
        padding: 0 20px;
    }

    &__image {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 0.5rem;
    }
}
