.list-item {
    margin-bottom: 3rem;

    &:nth-child(3n+1) {
        padding: 0 10px 20px 0;
    }

    &:nth-child(3n+2) {
        padding: 0 10px 20px;
    }

    &:nth-child(3n+3) {
        padding: 0 0 20px 10px;
    }

    &__image {
        margin-bottom: 1rem;
    }

    &__title {
        margin-bottom: 0.5rem;
    }
}
