<div class="grid grid--three wrapper wrapper--medium">
    <div class="list-item">
        <img class="list-item__image" src="https://placehold.it/350x250" alt="">
        <h4 class="list-item__title">Nemo fugit velit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit velit delectus voluptatem earum animi impedit tempora, voluptas, veniam vitae</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
    <div class="list-item">
        <img class="list-item__image" src="https://placehold.it/350x350" alt="">
        <h4 class="list-item__title">Nemo fugit velit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit velit delectus voluptatem earum animi impedit tempora, voluptas, veniam vitae</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
    <div class="list-item">
        <img class="list-item__image" src="https://placehold.it/350x450" alt="">
        <h4 class="list-item__title">Nemo fugit velit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit velit delectus voluptatem earum animi impedit tempora, voluptas, veniam vitae</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
    <div class="list-item">
        <img class="list-item__image" src="https://placehold.it/350x250" alt="">
        <h4 class="list-item__title">Nemo fugit velit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit velit delectus voluptatem earum animi impedit tempora, voluptas, veniam vitae</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
    <div class="list-item">
        <img class="list-item__image" src="https://placehold.it/350x250" alt="">
        <h4 class="list-item__title">Nemo fugit velit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit velit delectus voluptatem earum animi impedit tempora, voluptas, veniam vitae</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
    <div class="list-item">
        <img class="list-item__image" src="https://placehold.it/350x250" alt="">
        <h4 class="list-item__title">Nemo fugit velit</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo fugit velit delectus voluptatem earum animi impedit tempora, voluptas, veniam vitae</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
</div>
