.section {
    padding: 2rem 0;

    @include media-query(tablet-landscape) {
        padding: 4rem 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &--statistics {
        @include background-container;
        background-color: $yellow;
    }

    &--partners {
        background: $light-grey;
    }

    &--statistics {
        padding: 40px;
        margin-bottom: 3em;

        @include media-query(container) {
            margin-bottom: 4rem;
        }

        > h3 {
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &--intro {
        padding: 0;
        @include body-container;
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 100%;

        @include media-query(tablet-portrait) {
            margin-top: 2em;
        }
    }

    &--body {
        padding: 1rem 0 0;

        @include media-query(tablet-portrait) {
            padding-top: 2em;
        }

        @include media-query(container) {
            padding-top: 4rem;
        }

        > h3 {
            @include body-container;
            margin-bottom: 1rem;

            @include media-query(tablet-portrait) {
                margin-bottom: 2rem;
            }
        }

        .template-job-board-page & {
            font-family: 'Cabin', sans-serif;
        }
    }

    &--downloads {
        background: $light-grey;
    }

    &--articles {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;

        @media (min-width: 2000px) {
            background-size: contain;
        }

        .template-ni-nyampinga & {
            background-image:: url('../images/ni-nyampinga-pattern.png');
        }

        .template-tega & {
            background-image:: url('../images/tega-pattern.png');
        }

        .template-girls-connect & {
            background-image:: url('../images/girls-connect-pattern.png');
        }

        .template-zathu & {
            background-image:: url('../images/zathu-pattern.png');
        }

        .template-yegna & {
            background-image:: url('../images/yegna-pattern.png');
        }

        .template-springster & {
            background-image:: url('../images/springster-pattern.png');
        }
    }

    &--top-bottom-space {
        padding: 5rem 0;
    }

    &--bottom-space-no-padding {
        margin: 0 0 4rem;
        padding: 0;
        
        .template-solution-page &, .template-country-page & {
            padding-top: 2rem;

            @include media-query(tablet-portrait) {
                padding-top: 4rem;
            }
        }
    }
}
