.section {
    padding: 4rem 0;

    &__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    &--partners {
        background: $light-grey;
    }

    &--body {
        padding: 0;

        h2 {
            max-width: $wrapper--small;
            margin: 3rem auto 2rem;
            line-height: 1.2;
        }
    }
}
