<a href="#" class="button button--download">
    <span>Lorem ipsum dolor sit amet</span>
    <svg width="12px" height="20px" viewBox="0 0 12.19 19.22">
        <g>
            <g>
                <path d="M11.84,7.11,6.1,12.81.35,7.11" />
                <polyline points="6.09 12.4 6.09 0 6.09 2.56" />
                <line x1="0.35" y1="18.72" x2="11.84" y2="18.72" />
            </g>
        </g>
    </svg>
</a>
