{% include 'organisms-header' %}

<article>
    {% include 'molecules-hero--article' %}

    {% include 'atoms-breadcrumbs' %}

    <div class="wrapper wrapper--small wrapper--top-bottom-space">

        <h3 class="heading heading--bottom-space">Lorem Ipsum</h3>

        {% include 'atoms-label--large' %}
        {% include 'atoms-label--small' %}
        {% include 'atoms-label--small' %}

        {% include 'atoms-rich-text' %}
        {% include 'atoms-rich-text' %}
    </div>
</article>

{% include 'organisms-footer' %}
