.large-text-container {
    // TODO Refactor to mixin
    margin-bottom: 1rem;
    padding: 2rem 0;
    background-size: cover;
    background-position: 50% 50%;

    @include media-query(tablet-portrait) {
        padding: 3rem 0;
    }
}

.large-text {
    @include large-text;
    @include body-container;
    max-width: $body-width;

    @include media-query(tablet-landscape) {
        padding: 0;
    }

    .template-article-page & {
        font-weight: $weight-bold;
        padding: 0;

        @include media-query(tablet-landscape) {
            margin-bottom: 30px;
        }
    }

    &:first-child {
        .template-country-page &,
        .template-solution-page & {
            margin: 2rem auto 3rem;

            @include media-query(tablet-landscape) {
                margin: 2rem auto 6rem;
            }
        }
    }
}
