.large-text {
    @include large-text;
    font-weight: $weight-bold;
    max-width: $wrapper--small;
    margin: 0 auto 1rem;
    padding: 0 20px;

    @include media-query(tablet-landscape) {
        margin: 0 auto 2rem;
        padding: 0;
    }

    .template-home-page & {
        font-weight: $weight-bold;
        margin: 2rem auto;

        @include media-query(tablet-landscape) {
            margin: 7rem auto;
        }
    }

    .template-article-page & {
        font-weight: $weight-bold;
        padding: 0;

        @include media-query(tablet-landscape) {
            margin-bottom: 30px;
        }
    }

    &:first-child {
        .template-country-page &,
        .template-solution-page & {
            margin: 2rem auto 3rem;

            @include media-query(tablet-landscape) {
                margin: 2rem auto 6rem;
            }
        }
    }
}
