<div class="large-text-container">
    <div class="large-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum unde ab corporis, sapiente ipsam officia inventore tempore hic quisquam id nisi assumenda deleniti quibusdam ratione.</p>
    </div>
</div>
