.search-result  {
  border-bottom: 1px solid $light-grey;
  padding: 30px 0;
  display: flex;
  flex-direction: column;

  @include media-query(tablet-portrait) {
    flex-direction: row;
  }

  &:first-child {
    border-top: 1px solid $light-grey;
  }

  &__heading {
    margin: 15px 0;
  }

  img {
    margin-right: 30px;
  }

  &__default-image {
    min-width: 270px;
    height: 175px;
    background: url('../images/defualt-search-result-icon.png') no-repeat $light-grey;
    background-size: 60px;
    background-position: center;
    margin-right: 30px;
  }
}
