<li class="search-result">
  {# <img src="https://placehold.it/250x175"> #}
  <div class="search-result__default-image"></div>
  <div>
    {% include 'atoms-breadcrumbs' %}
    <h4 class="search-result__heading heading--medium"><a >Lorem Ipsum</a></h4>
  </div>
</li>