<div class="extendable-body-container">
    <div class="extendable-body">
          <h2>Lorem ipsum</h2><p>
          Dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet, ligula in mollis interdum, ex nisi imperdiet arcu, vel aliquet tellus nisi sit amet neque. Sed interdum sapien ac semper dictum. Pellentesque hendrerit ligula sit amet libero venenatis condimentum. Nam et felis imperdiet, consequat tortor in, consectetur lectus.</p>
    </div>

    <div class="extendable-body__controls">
        <a class="link link--boxed extendable-body--open extendable-body--toggle">
            See more
            <span></span>
            <span></span>
        </a>

        <a class="link link--boxed extendable-body--close extendable-body--toggle">
            See less
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="extendable-body extendable-body--collapsible">
        </h3>Suspendisse ac mi libero</h3>
        <p>Quisque dapibus ex et diam commodo, in ullamcorper velit commodo. Morbi eu mi ac massa varius accumsan vel vitae neque. Vestibulum laoreet mi et dolor sagittis facilisis at nec ipsum. Nam in dolor ut enim malesuada maximus. Morbi nulla felis, accumsan in mauris egestas, consequat pharetra diam.</p>
    </div>
</div>
