.label {
    &--small {
        @include small-text;
    }

    &--large {
        font-weight: $weight-bold;
    }

    &--grey {
        color: $steel;
    }

    &--green {
        color: $green;
    }
}
