{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {# Hero section - section includes links #}
    {% include "includes/hero_video_section.html" %}

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
    <section class="cta">
        <h2>Call to Action</h2>
        <a href="{{ page.call_to_action.link_url }}">
            {{ page.call_to_action.title }}
        </a>
    </section>
    {% endif %}

{% endblock %}
