{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {# Hero section - section includes links #}
    {% include "includes/hero_video_section.html" %}

    <div class="wrapper wrapper--site wrapper--top-bottom-space large-text">
        <p>{{ page.introduction }}</p>
    </div>

    {# Homepage Carousel #}
    {% if page.carousel_items.exists %}
    <div class="carousel carousel--home-desktop">
        <div class="carousel__home-title">{{ page.overview_title }}</div>
        {% image page.overview_image fill-1600x800 class="carousel__image carousel__image--main" %}

        {% for item in page.carousel_items.all %}
            {% image item.image fill-1600x800 data-image="{{ forloop.counter }}" class="carousel__image carousel__image--hidden" %}
        {% endfor %}

        <div class="carousel__panels">
            {% for item in page.carousel_items.all %}

                {% if item.link_page %}
                    <a data-panel="{{ forloop.counter }}" class="carousel__panel" href="{{ item.link_page.url }}">
                {% elif item.link_url %}
                    <a data-panel="{{ forloop.counter }}" class="carousel__panel" href="{{ item.link_url }}">
                {% else %}
                    <div data-panel="{{ forloop.counter }}" class="carousel__panel">
                {% endif %}

                        <svg class="carousel__icon"
                             {% if item.title_colour_hex %}style="stroke:{{ item.title_colour_hex }};"{% endif %}>
                            <use xlink:href="#chevron"></use>
                        </svg>

                        <h4 class="carousel__panel-title"
                            {% if item.title_colour_hex %}style="color:{{ item.title_colour_hex }};"{% endif %}>
                            {{ item.title }}
                        </h4>
                        <div class="carousel__panel-content">
                            <p>{{ item.description }}</p>

                            {% if item.link_page %}
                                <span class="link link--with-arrow">
                                    {{ item.link_text|default:item.title }}
                                    <div class="arrow"></div>
                                </span>
                            {% elif item.link_url %}
                                <span class="link link--with-arrow">
                                    {{ item.link_text|default:item.title }}
                                    <div class="arrow"></div>
                                </span>
                            {% endif %}
                        </div>

                {% if item.link_page %}
                    </a>
                {% elif item.link_url %}
                    </a>
                {% else %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="carousel carousel--home-mobile">
        <div class="js-carousel--home-mobile owl-carousel">
            {% for item in page.carousel_items.all %}

                <div class="carousel__panel-mobile">
                    <h4 class="carousel__home-title carousel__home-title--mobile">{{ page.overview_title }}</h4>
                    {% image item.image fill-720x400 as carousel_item_image %}
                    <img src="{{ carousel_item_image.url }}">

                    <div class="carousel__panel-content-mobile">
                        <h4 class="carousel__panel-title">{{ item.title }}</h4>
                        <div class="carousel__panel-content">
                            <p>{{ item.description }}</p>
                            {% if item.link_page %}
                                <a class="link link--with-arrow" href="{{ item.link_page.url }}">
                                    {{ item.link_text|default:item.title }}
                                    <div class="arrow"></div>
                                </a>
                            {% elif item.link_url %}
                                <a class="link link--with-arrow" href="{{ item.link_url }}">
                                    {{ item.link_text|default:item.title }}
                                    <div class="arrow"></div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    {% endif %}

    {# Streamfield options #}
    <section class="section section--body">
        {{ page.body }}
    </section>

    {# Latest articles, limited to three most recent, link to all articles index #}
    {% include "includes/articles_section.html" with title="Latest News &amp; Stories" %}

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}

{% endblock %}
