django==1.11.29
wagtail==1.13.1
psycopg2==2.7
django-redis==4.10.0
Pillow==8.2.0
django-extensions==1.7.4
Werkzeug==0.15.3
django-template-debug==0.3.5
stellar==0.4.3
wagtail-django-recaptcha==0.1
uwsgidecorators==1.1.0
wagtailfontawesome==1.0.7
wagtailmedia==0.1.4
django-storages==1.6.5
boto3==1.4.8
user-agents==1.1.0
django-user-agents==0.3.2
mozilla-django-oidc==1.1.1
django-allauth~=0.39.1

# Production dependencies
dj-database-url==0.4.1
whitenoise==2.0.4
uwsgi==2.0.15
ConcurrentLogHandler==0.9.1
raven==6.6.0
django-cache-url==1.3.1
