.stat-block {
    position: relative;
    z-index: 10;
    padding: 30px 50px 30px 30px;
    max-width: 260px;
    margin: 0 40px 60px;
    background: $white;
    min-height: 350px;

    @include media-query(tablet-landscape) {
        margin: 0 40px;
    }

    &::after {
        content: '';
        border: 1px solid $green;
        position: absolute;
        top: -12px;
        left: -12px;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        transition: top, left, 0.2s ease-in-out;
    }

    &:not(div):hover {
        &::after {
            top: -5px;
            left: -5px;
        }
    }

    &__content {
        z-index: 10;
        position: relative;

        b {
            @extend h4;
        }
    }

    &__label,
    &__cite {
        @include sub-text;
    }
}
