<div class="stat-block">
    <div class="stat-block__content">
        <p class="stat-block__label">Our Reach</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam repudiandae, impedit explicabo.</p>
        <p class="stat-block__cite">Latest DHS 2015 stats</p>
    </div>
    {% include 'atoms-link--with-arrow' %}    
 </div>
