<div class="stat-block-container grid grid--three wrapper wrapper--mid">
<div class="stat-block">
    <div class="stat-block__content">
        <p class="stat-block__label">Our Reach</p>
        <div class="stat-block__copy">
             <div>
               <h4><b>44%</b> Veniam repudiandae, impedit explicabo. adipisicing elit. Veniam repudiandae, impedit explicabo adipisicing elit. Veniam repudiandae, impedit explicabo</h4>
               <p class="stat-block__cite">Latest DHS 2015 stats</p>
            </div>
            {% include 'atoms-link--with-arrow' %}
        </div>
    </div>
 </div>
     <div class="stat-block">
         <div class="stat-block__content">
             <p class="stat-block__label">Our Reach</p>
             <div class="stat-block__copy">
                  <div>
                    <h4><b>44%</b> lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam repudiandae, impedit explicabo. adipisicing elit. Veniam repudiandae, impedit explicabo adipisicing elit. Veniam repudiandae, impedit explicabo</h4>
                    <p class="stat-block__cite">Latest DHS 2015 stats</p>
                 </div>
                 {% include 'atoms-link--with-arrow' %}
             </div>
         </div>
      </div>
      <div class="stat-block">
          <div class="stat-block__content">
              <p class="stat-block__label">Our Reach</p>
              <div class="stat-block__copy">
                   <div>
                     <h4><b>44%</b>Veniam repudiandae, impedit explicabo. adipisicing elit. Veniam repudiandae, impedit explicabo adipisicing elit. Veniam repudiandae, impedit explicabo</h4>
                     <p class="stat-block__cite">Latest DHS 2015 stats</p>
                  </div>
                  {% include 'atoms-link--with-arrow' %}
              </div>
          </div>
       </div>
</div>
