<div class="share-icons share-icons--vertical js-share-icons share-icons--hide-mobile">
    <a class="share-icons__link" href="https://www.facebook.com/sharer/sharer.php?u=">
        <svg class="share-icons__icon"><use xlink:href="#facebook"></use></svg>
    </a>
    <a class="share-icons__link" href="http://www.twitter.com/share?url=">
        <svg class="share-icons__icon"><use xlink:href="#twitter"></use></svg>
    </a>
    <a class="share-icons__link" href="https://www.linkedin.com/cws/share?url=">
        <svg class="share-icons__icon"><use xlink:href="#linkedin"></use></svg>
    </a>
    <a class="share-icons__link" href="mailto:?subject=Thought%20you%20might%20be%20interested&body=">
        <svg class="share-icons__icon"><use xlink:href="#email"></use></svg>
    </a>
</div>
