{% include 'organisms-header' %}
{% include 'molecules-hero' %}

<div class="wrapper wrapper--bottom-space">
  {% include 'atoms-breadcrumbs' %}
</div>

{% include 'atoms-large-text' %}

<section class="section section--body">
  <div class="quote-container">
    {% include 'organisms-quote' %}
    {% include 'organisms-quote' %}
  </div>
</section>

<section class="section section--partners">
    <h2 class="section__title">Partnerships</h2>

    <div class="wrapper wrapper--site wrapper--bottom-space-xl">
        <p>Aliquip est deserunt ipsum commodo fugiat labore mollit ut adipisicing sit do consequat.</p>
    </div>

    <div class="media-block-container">
      {% include 'organisms-media-block' %}
      {% include 'organisms-media-block' %}
    </div>
</section>

{% include 'organisms-call-to-action' %}

{% include 'organisms-footer' %}
