{% include 'organisms-header' %}

{% include 'molecules-hero' %}
<section class="wrapper wrapper--small wrapper--top-bottom-space">
    {% include 'atoms-large-text' %}
    <div>
        {% include 'atoms-label' %}
        {% include 'atoms-label' %}
        {% include 'atoms-label' %}
    </div>
</section>

<hr>

<section class="section">
    <div class="wrapper wrapper--center wrapper--bottom-space">
        <h3>Lorem et Dolor</h3>
    </div>
    <div class="article-container wrapper wrapper--medium">
        {% include 'molecules-article-card' %}
        {% include 'molecules-article-card' %}
        {% include 'molecules-article-card' %}
        {% include 'molecules-article-card' %}
    </div>
</section>

<hr>

<section class="section section--people">
    <div class="wrapper wrapper--center wrapper--bottom-space">
        <h3>Lorem et Dolor</h3>
    </div>
    <div class="article-container wrapper wrapper--medium">
        {% include 'molecules-article-card' %}
    </div>
</section>

{% include 'organisms-footer' %}
