.image-embed {
    position: relative;

    &--full-width {
        max-width: $wrapper--medium;
        margin: 0 auto 4rem;
    }

    &__image {
        width: 100%;
    }

    &__caption {
        position: absolute;
        bottom: 0;
        color: $white;
        left: 20px;
    }

    .wrapper--article & {
        max-width: $wrapper--small-medium;
        margin: 40px auto;
    }
}
