{% load wagtailimages_tags %}
    <div class="media-block">

        {% if partner.logo %}
            {% image partner.logo fill-600x400 as partner_logo %}
            <img class="media-block__image" src="{{ partner_logo.url }}" alt="{{ partner.title }}">
        {% endif %}

        <div class="media-block__content">
            <h4 class="media-block__heading">{{ partner.title }}</h4>
            <p>{{ partner.description }}</p>
            {% if partner.internal_link %}
                <a class="link link--with-arrow" href="{{ partner.internal_link.url }}">{{ partner.link_label }}{{ partner.title }}
                    <div class="link__arrow"></div>
                </a>
            {% elif partner.external_link %}
                <a class="link link--with-arrow" href="{{ partner.external_link }}" target="_blank">{{ partner.link_label }}{{ partner.title }}
                    <div class="link__arrow"></div>
                </a>
            {% endif %}
        </div>
    </div>
