<select class="js-article-filter">
    <option value="">All</option>
    <option value="1" selected="selected">Foo</option>
    <option value="2" selected="selected">Bar</option>
    <option value="3" selected="selected">Baz</option>
</select>
