.link {
    &--boxed {
        display: inline-block;
        padding: 1rem;
        position: relative;

        .hero & {
            color: $white;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            height: 2px;
            background: $yellow;
            left: 28px;
            right: 28px;
            transition: left, right, width, $transition--link-boxed 0.4s;
        }

        &:hover {
            &::after {
                left: 0;
                right: 0;
                transition: left, right, width, $transition--link-boxed 0s;
            }

            span::before {
                height: 100%;
                transition: height $transition--link-boxed 0.2s;
            }

            span::after {
                width: 100%;
                transition: width $transition--link-boxed 0.4s;
            }
        }

        span {
            display: block;
            position: absolute;
            width: 50%;
            height: 100%;
            bottom: 0;

            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                background: $yellow;
            }

            &::before {
                width: 2px;
                height: 0;
                bottom: 0;
                transition: height $transition--link-boxed 0.2s;
            }

            &::after {
                width: 0;
                height: 2px;
                top: 0;
                transition: width $transition--link-boxed 0s;
            }

            &:first-child {
                left: 0;

                &::after,
                &::before {
                    left: 0;
                }
            }

            &:last-child {
                right: 0;

                &::after,
                &::before {
                    right: 0;
                }
            }
        }
    }

    &--with-arrow {
        @include small-text;
        font-weight: $weight-bold;
        display: flex;
        align-items: center;

        &:only-child {
            .wrapper--center & {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .quote__content--has-link & {
            color: $white;
            margin-top: 30px;
        }

        .carousel__panel-content & {
            @include media-query(tablet-portrait) {
                justify-content: center;
            }
        }
    }

    &__arrow {
        display: inline-flex;
        align-items: center;
        margin-left: 10px;
        right: 0;
        transition: right $transition;
        position: relative;

        &::before {
            content: '';
            width: 20px;
            background: $yellow;
            height: 2px;
            float: left;
        }

        &::after {
            content: '';
            border: solid $yellow;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(-45deg);
            margin-left: -10px;
        }

        .link--with-arrow:hover & {
            right: -10px;
        }

        .link--with-arrow-large:hover & {
            margin-left: 30px;
        }
    }

    &--underlined {
        border-bottom: 2px solid transparent;
        transition: border 0.3s ease;
        padding-bottom: 3px;

        &:hover {
            border-color: $yellow;
        }
    }
}
