<section class="section section--downloads">
    <div class="wrapper wrapper--small article-download">
        <svg class="article-download__icon"><use xlink:href="#download-file"></use></svg>
        <div>
            <h4>Related Downloads</h4>
            {% include 'atoms-list--download' %}
        </div>
    </div>
</section>
