<svg style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <symbol id="bsg-logo" viewBox="0 0 75.35 75.35">
        <defs>
            <style>
                .bsg-logo-1{fill:#40b4e5;}.bsg-logo-2{fill:#041e41;}.bsg-logo-3{fill:#00609c;}.bsg-logo-4{fill:#fff;}
            </style>
        </defs>
        <g>
            <g>
                <path class="bsg-logo-1" d="M11.61 33.39a198.25 198.25 0 0 1 33-8.21V13.83a198.11 198.11 0 0 0-33 8.21zM44.56 2.49v11.34a194.54 194.54 0 0 1 30.79-2.49V0a194.54 194.54 0 0 0-30.79 2.49"/>
                <path class="bsg-logo-2" d="M44.56 25.18a198.26 198.26 0 0 0-33 8.21C6.15 35.27 2.19 36.93 0 37.91v37.44h75.35V22.69a194.54 194.54 0 0 0-30.79 2.49"/>
                <path class="bsg-logo-3" d="M44.56 25.18a194.54 194.54 0 0 1 30.79-2.49V11.35a194.54 194.54 0 0 0-30.79 2.49z"/>
                <path class="bsg-logo-4" d="M23.27 42.94a.17.17 0 0 1 .17-.17h1.94a1.62 1.62 0 0 1 .95 3.05 1.57 1.57 0 0 1 1.06 1.45A1.76 1.76 0 0 1 25.46 49h-2a.17.17 0 0 1-.17-.17zm2.26 5.45a1.09 1.09 0 0 0 1.12-1.13 1.18 1.18 0 0 0-1.27-1.09h-1.47v2.22zm-.15-2.83a1 1 0 0 0 1.06-1.11 1 1 0 0 0-1.06-1.06h-1.45v2.17zM28.72 42.94a.17.17 0 0 1 .17-.17h.35a.17.17 0 0 1 .17.17v5.45H32a.17.17 0 0 1 .17.17v.26A.17.17 0 0 1 32 49h-3.11a.17.17 0 0 1-.17-.17zM33.38 48.75l2.7-6a.16.16 0 0 1 .15-.1h.09a.16.16 0 0 1 .15.1l2.68 6A.16.16 0 0 1 39 49h-.35a.16.16 0 0 1-.15-.1l-.66-1.46h-3.16L34 48.89a.16.16 0 0 1-.15.1h-.36a.16.16 0 0 1-.15-.23m4.21-1.88c-.43-1-.86-1.94-1.3-2.91h-.07l-1.3 2.91zM38.65 43a.16.16 0 0 1 .15-.23h.36a.16.16 0 0 1 .15.1l2.21 5 2.21-5a.17.17 0 0 1 .15-.1h.36a.16.16 0 0 1 .15.23l-2.7 6a.17.17 0 0 1-.15.1h-.09a.18.18 0 0 1-.15-.1zM44.09 48.75l2.7-6a.16.16 0 0 1 .15-.1H47a.16.16 0 0 1 .15.1l2.68 6a.16.16 0 0 1-.15.23h-.35a.16.16 0 0 1-.15-.1l-.66-1.46h-3.13l-.65 1.46a.16.16 0 0 1-.15.1h-.36a.16.16 0 0 1-.15-.23m4.21-1.88c-.43-1-.86-1.94-1.3-2.91h-.07l-1.3 2.91zM51.79 43.37h-1.55a.17.17 0 0 1-.17-.17v-.26a.17.17 0 0 1 .17-.17H54a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-1.54v5.45a.17.17 0 0 1-.17.17H52a.17.17 0 0 1-.17-.17zM55.24 42.85a.17.17 0 0 1 .17-.16h.22l4 5v-4.75a.17.17 0 0 1 .17-.17h.31a.17.17 0 0 1 .17.17v6a.17.17 0 0 1-.17.16H60L55.89 44v4.83a.17.17 0 0 1-.17.17h-.31a.17.17 0 0 1-.17-.17z"/>
                <rect class="bsg-logo-4" x="61.84" y="42.78" width=".69" height="6.21" rx=".17" ry=".17"/>
                <path class="bsg-logo-4" d="M64.07 43a.21.21 0 0 1 .21-.21h.26a.22.22 0 0 1 .21.21v2.5l2.77-2.63a.26.26 0 0 1 .17-.09h.43a.17.17 0 0 1 .11.31l-2.8 2.62 2.94 3a.17.17 0 0 1-.15.27h-.45a.24.24 0 0 1-.16-.06l-2.85-3v2.82a.22.22 0 0 1-.21.21h-.26a.21.21 0 0 1-.21-.21zM17.27 57.22l.13-.17c.09-.11.19-.19.31-.08a2.46 2.46 0 0 0 1.5.67 1.07 1.07 0 0 0 1.19-1c0-.61-.53-1-1.55-1.4s-1.56-.83-1.56-1.84a1.69 1.69 0 0 1 1.89-1.58 2.9 2.9 0 0 1 1.52.45.2.2 0 0 1 .05.3l-.11.17a.2.2 0 0 1-.31.08 2.48 2.48 0 0 0-1.16-.41c-.94 0-1.22.6-1.22 1 0 .59.45.94 1.2 1.25 1.2.49 2 .94 2 2a1.76 1.76 0 0 1-1.92 1.6 2.89 2.89 0 0 1-1.87-.72.19.19 0 0 1-.05-.3M25.24 51.85a3.12 3.12 0 0 1 2.15.83.17.17 0 0 1 0 .25l-.24.24c-.07.09-.14.08-.23 0a2.69 2.69 0 0 0-1.69-.66 2.55 2.55 0 0 0 0 5.1 2.58 2.58 0 0 0 1.69-.67.17.17 0 0 1 .21 0l.27.24a.17.17 0 0 1 0 .24 3 3 0 0 1-2.16.86 3.19 3.19 0 1 1 0-6.39M28.85 52.11a.17.17 0 0 1 .17-.17h.35a.17.17 0 0 1 .17.17v2.59h3.6v-2.59a.17.17 0 0 1 .17-.17h.35a.17.17 0 0 1 .17.17V58a.17.17 0 0 1-.17.17h-.36a.17.17 0 0 1-.17-.17v-2.7h-3.6V58a.17.17 0 0 1-.17.17H29a.17.17 0 0 1-.17-.17zM38.27 51.85a3.19 3.19 0 1 1-3.18 3.2 3.19 3.19 0 0 1 3.18-3.2m0 5.77a2.57 2.57 0 1 0-2.56-2.56 2.58 2.58 0 0 0 2.56 2.56M45.64 51.85a3.19 3.19 0 1 1-3.18 3.2 3.19 3.19 0 0 1 3.18-3.2m0 5.77a2.57 2.57 0 1 0-2.56-2.56 2.58 2.58 0 0 0 2.56 2.56M50.1 52.11a.17.17 0 0 1 .17-.17h.35a.17.17 0 0 1 .17.17v5.45h2.55a.17.17 0 0 1 .17.17V58a.17.17 0 0 1-.17.17h-3.07a.17.17 0 0 1-.17-.17zM60 51.85a3.19 3.19 0 1 1-3.18 3.2 3.19 3.19 0 0 1 3.18-3.2m0 5.77a2.57 2.57 0 1 0-2.56-2.56A2.58 2.58 0 0 0 60 57.62M64.51 52.11a.17.17 0 0 1 .17-.17h3.49a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-3V55h2.55a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-2.53V58a.17.17 0 0 1-.17.17h-.35a.17.17 0 0 1-.17-.17zM10.56 61a3.12 3.12 0 0 1 2.15.83.17.17 0 0 1 0 .25l-.25.25c-.08.09-.13.08-.23 0a2.69 2.69 0 0 0-1.69-.69 2.56 2.56 0 0 0 0 5.11 3.34 3.34 0 0 0 1.6-.37v-1.24h-1A.16.16 0 0 1 11 65v-.33a.16.16 0 0 1 .17-.17h1.53a.17.17 0 0 1 .16.17v2a.22.22 0 0 1-.07.14 4.38 4.38 0 0 1-2.19.59 3.19 3.19 0 1 1 0-6.39M17 61a3.19 3.19 0 1 1-3.18 3.2A3.19 3.19 0 0 1 17 61m0 5.77a2.57 2.57 0 1 0-2.56-2.56A2.58 2.58 0 0 0 17 66.79M20.75 61.34a.16.16 0 0 1 .15-.23h.36a.16.16 0 0 1 .15.1l2.21 5 2.21-5a.17.17 0 0 1 .15-.1h.36a.16.16 0 0 1 .15.23l-2.7 6a.17.17 0 0 1-.15.1h-.09a.18.18 0 0 1-.15-.1zM27.57 61.28a.17.17 0 0 1 .17-.17h3.49a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-3v2.16h2.57a.18.18 0 0 1 .2.13v.26a.17.17 0 0 1-.17.17h-2.58v2.26h3a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-3.51a.17.17 0 0 1-.17-.17zM32.91 61.28a.17.17 0 0 1 .17-.17h2.3A1.91 1.91 0 0 1 37.31 63 2 2 0 0 1 36 64.81l1.21 2.25a.17.17 0 0 1-.15.26h-.45a.15.15 0 0 1-.14-.08l-1.18-2.35h-1.7v2.26a.17.17 0 0 1-.17.17h-.35a.17.17 0 0 1-.17-.17zm2.42 3a1.27 1.27 0 1 0 0-2.55h-1.72v2.57zM38.86 61.18A.17.17 0 0 1 39 61h.22l4 5v-4.72a.17.17 0 0 1 .17-.17h.31a.17.17 0 0 1 .17.17v6a.17.17 0 0 1-.17.16h-.16l-4.07-5.08v4.83a.17.17 0 0 1-.17.17H39a.17.17 0 0 1-.17-.17zM46.34 61.14a.17.17 0 0 1 .16-.14h.14a.17.17 0 0 1 .15.1l1.76 4.9 1.73-4.89a.17.17 0 0 1 .15-.1h.14a.17.17 0 0 1 .16.12l1.14 6c0 .12 0 .21-.16.21h-.35a.18.18 0 0 1-.16-.12l-.79-4.57-1.63 4.68a.18.18 0 0 1-.15.1h-.16a.18.18 0 0 1-.15-.1l-1.65-4.68-.77 4.57a.17.17 0 0 1-.16.12h-.35c-.13 0-.19-.09-.16-.21zM53.2 61.28a.17.17 0 0 1 .17-.17h3.49a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-3v2.16h2.55a.18.18 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-2.53v2.26h3a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-3.51a.17.17 0 0 1-.17-.17zM58.36 61.18a.17.17 0 0 1 .17-.16h.22l4 5v-4.74a.17.17 0 0 1 .17-.17h.31a.17.17 0 0 1 .17.17v6a.17.17 0 0 1-.17.16h-.16L59 62.32v4.83a.17.17 0 0 1-.17.17h-.31a.17.17 0 0 1-.17-.17zM66.19 61.7h-1.54a.17.17 0 0 1-.17-.17v-.26a.17.17 0 0 1 .17-.17h3.76a.17.17 0 0 1 .17.17v.26a.17.17 0 0 1-.17.17h-1.54v5.45a.17.17 0 0 1-.17.17h-.34a.17.17 0 0 1-.17-.17z"/>
            </g>
        </g>
    </symbol>

    <symbol id="ox-logo" viewBox="0 0 75.35 75.35">
        <defs>
            <style>
            .ox-logo-1{fill:#041e41;}.ox-logo-2{fill:#fff;}
            </style>
        </defs>
        <g>
            <g>
                <path class="ox-logo-1" d="M0 0h75.35v75.35H0z"/>
                <path class="ox-logo-2" d="M16.51 62.63a4.91 4.91 0 0 1-5 5 4.94 4.94 0 1 1 0-9.88 4.87 4.87 0 0 1 5 4.89m-1.59.05c0-2.63-1.27-4.46-3.43-4.46-2.34 0-3.43 2.2-3.43 4.46 0 2.63 1.28 4.46 3.43 4.46 2.34 0 3.43-2.2 3.43-4.46M47.16 62.63a5 5 0 1 1-5-4.89 4.91 4.91 0 0 1 5 4.89m-1.59.05c0-2.63-1.28-4.46-3.43-4.46-2.34 0-3.43 2.2-3.43 4.46 0 2.63 1.27 4.46 3.43 4.46 2.34 0 3.43-2.2 3.43-4.46M51 62.73h1.2a2 2 0 0 0 2.2-2.23 2 2 0 0 0-1.22-2 3.6 3.6 0 0 0-1.46-.19H51zm2.21 1.54c-.56-.8-.77-1.09-1.46-1.09H51v3.24c0 .27.11.4.4.45l1.09.24v.35h-4.24v-.35l1-.24c.29-.08.4-.18.4-.45v-7.49c0-.27-.11-.37-.4-.45l-1-.24v-.34h4.17a5.75 5.75 0 0 1 2 .27 2.52 2.52 0 0 1 1.58 2.3A2.68 2.68 0 0 1 53.7 63c.29.14.45.32 1.49 1.68l1.3 1.73a1.1 1.1 0 0 0 .72.48l1 .21v.35h-2.33c-.27 0-.4-.08-.64-.4zM34.52 61.17h.4v3.19h-.4l-.24-1a.56.56 0 0 0-.61-.48h-2.31v3.51c0 .27.11.4.4.45l1.09.24v.35h-4.28v-.35l1-.24c.29-.08.4-.18.4-.45v-7.46c0-.27-.11-.37-.4-.45l-1-.24v-.34h7.22v2.39h-.4l-.45-1.44c-.11-.37-.27-.5-.58-.5h-3v4.12h2.31a.57.57 0 0 0 .61-.48zM58.93 67.46v-.35l1-.24c.29-.08.4-.19.4-.45v-7.49c0-.27-.11-.37-.4-.45l-1-.24v-.34h4.49a6.81 6.81 0 0 1 2.82.48 4.64 4.64 0 0 1 2.63 4.36 4.4 4.4 0 0 1-2.26 4.14 6.7 6.7 0 0 1-3.13.59zm2.79-9.11v8.23c0 .35.08.43.42.43h1.17a4.24 4.24 0 0 0 2.52-.59 4.32 4.32 0 0 0 1.43-3.67c0-1.62-.45-3.21-1.78-4a4.74 4.74 0 0 0-2.39-.43zM20.25 67.12v.35h-3.37v-.35l.85-.21a1.32 1.32 0 0 0 .74-.42l2.92-3.67-2.92-3.88a1.19 1.19 0 0 0-.72-.48l-.8-.21v-.35h4.2v.35l-.9.19c-.32.05-.24.19-.08.4l2.15 3.08h.05l2.21-3.08c.16-.21.21-.29-.08-.37l-.85-.21v-.36H27v.35l-.85.21a1.32 1.32 0 0 0-.74.42l-2.76 3.48 3.08 4.06a1.21 1.21 0 0 0 .72.48l.8.21v.35h-4.2v-.35l.9-.18c.32-.05.27-.16.11-.37l-2.34-3.29h-.05l-2.36 3.27c-.16.21-.21.29.08.37zM10.19 53.4a1.65 1.65 0 0 1-1.19.44 1.72 1.72 0 0 1-1.23-.45 1.92 1.92 0 0 1-.39-1.5v-2.67h.52v2.86a1.27 1.27 0 0 0 .27 1 1.17 1.17 0 0 0 .84.3 1.08 1.08 0 0 0 .77-.28c.31-.31.29-.65.29-1.47v-2.4h.53v2.26c0 .86 0 1.48-.41 1.92M15.01 53.75l-2.19-3.71.02 3.71h-.5v-4.53h.55l2.19 3.74-.01-3.74h.5v4.53h-.56zM17.46 49.22h.55v4.53h-.55zM21.39 53.75h-.62l-1.56-4.53h.56l1.33 4 1.36-4h.52l-1.59 4.53zM24.22 53.75v-4.53h2.46v.45h-1.93v1.5h1.81v.44h-1.81v1.68h1.98v.46h-2.51zM30.18 49.9a1.24 1.24 0 0 0-1-.25h-.5v1.69h.18a1.72 1.72 0 0 0 1.26-.29.83.83 0 0 0 .23-.59.82.82 0 0 0-.21-.57m.49 3.85l-.52-1.17c-.32-.72-.47-.8-1.13-.8h-.32v2h-.53v-4.55h1a1.82 1.82 0 0 1 1.42.35 1.23 1.23 0 0 1 .35.91 1.09 1.09 0 0 1-.28.78 1.22 1.22 0 0 1-.73.36.59.59 0 0 1 .38.18 2 2 0 0 1 .35.61l.6 1.35zM36.53 49.22h.55v4.53h-.55zM40.19 49.67v4.08h-.55v-4.08H38.3v-.45h3.23v.45h-1.34zM44.14 51.96v1.79h-.54v-1.79l-1.44-2.74h.63l1.11 2.13 1.09-2.13h.59l-1.44 2.74zM50.66 49.6c-.89 0-1.46.75-1.46 1.88s.64 1.89 1.49 1.89 1.47-.81 1.47-1.93-.62-1.84-1.5-1.84m0 4.24a2.37 2.37 0 1 1 2.07-2.37 2.12 2.12 0 0 1-2.07 2.37M54.76 49.67v1.5h1.75v.44h-1.75v2.14h-.54v-4.53h2.4v.45h-1.86zM32.34 50.33a1.24 1.24 0 0 1 1.38-1.19 1.7 1.7 0 0 1 1.27.47l-.27.32a1.61 1.61 0 0 0-1-.35c-.58 0-.9.3-.9.71a.59.59 0 0 0 .21.46 2.58 2.58 0 0 0 .63.35 3.18 3.18 0 0 1 1 .59 1.13 1.13 0 0 1 .34.82 1.31 1.31 0 0 1-1.46 1.33 2.09 2.09 0 0 1-1.35-.49l.25-.37a2.19 2.19 0 0 0 1.09.39c.68 0 .94-.37.94-.82a.7.7 0 0 0-.24-.51 3.06 3.06 0 0 0-.84-.48 2.54 2.54 0 0 1-.81-.5 1 1 0 0 1-.27-.73M53.15 18.57a1.38 1.38 0 0 0-.61-1.27 2.09 2.09 0 0 0-1.05-.2h-3.17v6.4h3.45c.8 0 1.26.18 1.3.89h.08zM53.59 18.57a1.38 1.38 0 0 1 .61-1.27 2.09 2.09 0 0 1 1.05-.2h3.19v6.4H55c-.8 0-1.26.18-1.3.89h-.08z"/>
                <path class="ox-logo-2" d="M59.11 17.57v6.77h-4.9l-.06.14c-.09.21-.24.41-.77.41s-.69-.2-.77-.41l-.06-.14h-4.9v-6.77h-.44v.21l-.42-.13a.4.4 0 1 0-.39.52.4.4 0 0 0 .26-.09l.55.17v.54l-.42-.07a.4.4 0 1 0-.08.44l.5.09v.55h-.44a.4.4 0 1 0 0 .44h.45v.6h-.45a.4.4 0 1 0 0 .44h.43v.56l-.49.08a.4.4 0 1 0 .08.44l.41-.07v.55l-.53.16a.4.4 0 1 0 .13.42l.4-.12v.53l-.59.25a.4.4 0 0 0-.21-.08.4.4 0 1 0 .4.47l.41-.18v.48h5.07a1.39 1.39 0 0 0 2.21 0h5.07v-7.2zM50 15.31c-1 0-1.85.16-1.85.36S49 16 50 16s1.85-.16 1.85-.36-.83-.36-1.85-.36M52.6 13.09l-1.07.75v.08l.25.11c.05 0 .05.07 0 .09l-.67.57h-.06l-.48-.7v-.1l.32-.05v-.08l-.83-1.17H50l-.83 1.17v.08l.32.05c.06 0 .07.06 0 .1l-.48.7H49l-.63-.57v-.09l.25-.11v-.08l-1.11-.75h-.09l.65 2a7.78 7.78 0 0 1 4 0l.65-2zM53.37 28.72c-1 0-1.85.16-1.85.36s.83.36 1.85.36 1.85-.16 1.85-.36-.83-.36-1.85-.36M55.92 26.5l-1.07.75v.08l.25.11c.05 0 .05.07 0 .09l-.67.57h-.06l-.48-.7v-.1l.32-.05v-.08L53.44 26h-.14l-.83 1.17v.08l.32.05c.06 0 .07.06 0 .1l-.48.7h-.06l-.63-.57v-.09l.25-.11v-.08l-1.11-.75h-.09l.65 2a7.78 7.78 0 0 1 4 0l.65-2zM56.69 15.31c-1 0-1.85.16-1.85.36s.83.36 1.85.36 1.85-.16 1.85-.36-.83-.36-1.85-.36M59.24 13.09l-1.07.75v.08l.25.11c.05 0 .05.07 0 .09l-.67.57h-.05l-.48-.7v-.1l.32-.05v-.08l-.83-1.17h-.14l-.83 1.17v.08l.32.05c.06 0 .07.06 0 .1l-.48.7h-.06l-.52-.58V14l.25-.11v-.08l-1.11-.75h-.09l.65 2a7.78 7.78 0 0 1 4 0l.65-2z"/>
                <path class="ox-logo-1" d="M49.14 18.11a.58.58 0 0 1 .41.13.41.41 0 0 1 .12.29c0 .35-.27.5-.59.5h-.36V19c.1 0 .11 0 .11-.17v-.47c0-.15 0-.16-.1-.17v-.06zm-.07.69c0 .13 0 .15.1.15s.24-.13.24-.38-.15-.39-.27-.39h-.06v.07zM50.74 18.56a.46.46 0 0 1-.48.49.45.45 0 0 1-.47-.47.47.47 0 0 1 .49-.49.45.45 0 0 1 .46.47m-.68 0c0 .26.1.44.23.44s.19-.12.19-.37-.1-.44-.22-.44-.2.12-.2.37M52 18.11v.06c-.11 0-.11 0-.11.16v.47c0 .16 0 .16.11.17V19h-.44c.11 0 .11 0 .11-.17v-.5l-.27.71h-.08l-.26-.66v.31a1.5 1.5 0 0 0 0 .23c0 .05 0 .06.13.07V19h-.35c.07 0 .09 0 .1-.07a2.34 2.34 0 0 0 0-.25v-.29c0-.18 0-.19-.11-.2v-.06h.33l.25.56.22-.56zM52.45 18.8c0 .15 0 .16.11.17V19h-.46c.1 0 .11 0 .11-.17v-.47c0-.15 0-.16-.11-.17v-.06h.46v.06c-.1 0-.11 0-.11.17zM50.17 20.73h-.12l-.52-.67v.26a2.27 2.27 0 0 0 0 .27s0 .07.14.07v.05h-.35v-.05c.06 0 .1 0 .11-.07a2.27 2.27 0 0 0 0-.27v-.26-.16a.13.13 0 0 0-.11 0v-.1h.31l.47.59v-.19a2.44 2.44 0 0 0 0-.27s0-.07-.14-.07v-.06h.36v.06c-.07 0-.11 0-.11.07a2.27 2.27 0 0 0 0 .27zM50.74 20.73l-.28-.73c0-.12-.07-.13-.14-.14v-.06h.46v.06c-.05 0-.05 0 0 .07s.14.36.19.5L51 20v-.2h.34v.06c-.08 0-.1 0-.16.15s-.18.44-.29.73zM51.38 20.43c0 .08.11.24.25.24a.13.13 0 0 0 .13-.14c0-.08-.05-.13-.14-.17-.12-.05-.25-.13-.25-.28a.3.3 0 0 1 .34-.29h.2v.22h-.06c0-.09-.08-.19-.19-.19a.12.12 0 0 0-.12.12c0 .07.06.11.15.15.13.06.24.13.24.3s-.14.3-.36.3h-.24v-.24zM49.55 22.19c0 .15 0 .16.11.17v.05h-.46v-.05c.1 0 .11 0 .11-.17v-.47c0-.15 0-.16-.11-.17v-.05h.46v.06c-.1 0-.11 0-.11.17zM50.1 22.21v.12h.1a.18.18 0 0 0 .14 0 .37.37 0 0 0 .07-.14h.06c0 .05 0 .2-.05.24h-.7v-.05c.11 0 .12 0 .12-.17v-.47c0-.15 0-.16-.11-.17v-.07h.46v.06c-.1 0-.11 0-.11.17zM50.89 22.21v.12H51a.18.18 0 0 0 .14 0 .37.37 0 0 0 .07-.14h.06c0 .05 0 .2-.05.24h-.7v-.05c.11 0 .12 0 .12-.17v-.47c0-.15 0-.16-.11-.17v-.07H51v.06c-.1 0-.11 0-.11.17zM51.57 22.43l-.28-.74c0-.12-.07-.13-.14-.14v-.05h.46v.06c-.05 0-.05 0 0 .07s.14.36.19.5l.16-.46V21.5h.34v.06c-.08 0-.1 0-.16.15s-.18.44-.29.73zM55.36 18.11v.06c-.11 0-.11 0-.11.16v.47c0 .16 0 .16.11.17V19h-.44c.08 0 .08 0 .08-.2v-.5l-.27.71h-.08l-.26-.66v.31a1.5 1.5 0 0 0 0 .23c0 .05 0 .06.13.07V19h-.35c.07 0 .09 0 .1-.07a2.34 2.34 0 0 0 0-.25v-.29c0-.18 0-.19-.11-.2v-.06h.33l.25.56.22-.56zM55.82 18.8c0 .15 0 .16.11.17V19h-.46c.1 0 .11 0 .11-.17v-.47c0-.15 0-.16-.11-.17v-.06h.46v.06c-.1 0-.11 0-.11.17zM56.87 19h-.12l-.52-.67v.26a2.15 2.15 0 0 0 0 .27s0 .07.14.07V19H56c.06 0 .1 0 .11-.07a2.11 2.11 0 0 0 0-.27v-.26-.16a.13.13 0 0 0-.11 0v-.06h.31l.47.59v-.19a2.44 2.44 0 0 0 0-.27s0-.07-.14-.07v-.06H57v.06c-.07 0-.11 0-.11.07a2.27 2.27 0 0 0 0 .27zM57.46 19c.05 0 .05 0 0-.07l-.05-.14h-.23V19.01 19H57c.07 0 .09 0 .14-.13l.28-.73h.1l.1.27.18.48c0 .12.07.13.14.14V19h-.44zm-.18-.31h.18l-.09-.27zM55.35 20.5c0 .15 0 .16.13.17v.05H55v-.05c.11 0 .12 0 .12-.17v-.62h-.16a.35.35 0 0 0-.05.14h-.06v-.29H55.55v.28h-.06a.35.35 0 0 0-.06-.15.19.19 0 0 0-.14 0zM56.09 20.5c0 .15 0 .16.11.17v.05h-.46v-.05c.1 0 .11 0 .11-.17V20c0-.15 0-.16-.11-.17v-.03h.46v.06c-.1 0-.11 0-.11.17zM57.26 20.25a.46.46 0 0 1-.48.49.45.45 0 0 1-.47-.47.47.47 0 0 1 .49-.49.45.45 0 0 1 .46.47m-.68 0c0 .26.1.44.23.44s.19-.12.19-.37-.1-.44-.22-.44-.2.12-.2.37M55.77 21.5v.06c-.11 0-.11 0-.11.16v.47c0 .16 0 .16.11.17v.06h-.44v-.06c.11 0 .11 0 .11-.17v-.5l-.27.71h-.08l-.26-.66v.31a1.5 1.5 0 0 0 0 .23c0 .05 0 .06.13.07v.06h-.36v-.06c.07 0 .09 0 .1-.07a2.36 2.36 0 0 0 0-.25v-.29c0-.18 0-.19-.11-.2v-.04H55l.25.56.22-.56zM56 21.73c0-.15 0-.16-.11-.17v-.06h.67v.23h-.06a.26.26 0 0 0-.05-.13h-.2v.27h.07c.12 0 .13 0 .14-.12h.06v.33h-.06c0-.12 0-.13-.14-.13h-.07v.35h.1a.21.21 0 0 0 .15 0 .44.44 0 0 0 .07-.15h.06a1.85 1.85 0 0 1 0 .25h-.72v-.06c.11 0 .12 0 .12-.17z"/>
                <path class="ox-logo-1" d="M57.13 22.36c.05 0 .05 0 0-.07l-.05-.14h-.23v.27h-.33v-.05c.07 0 .09 0 .14-.13l.28-.73h.1l.1.27.18.48c0 .12.07.13.14.14v.05h-.44zm-.18-.31h.18l-.13-.26z"/>
                <path class="ox-logo-2" d="M52.1 33.78a.37.37 0 1 1-.37-.37.37.37 0 0 1 .37.37M55.84 34.39a.37.37 0 1 1-.37-.37.37.37 0 0 1 .37.37M53.72 7.7a.37.37 0 1 1-.37-.37.37.37 0 0 1 .37.37M62.51 11.16a.37.37 0 1 1-.35-.38.37.37 0 0 1 .35.38M44 27a1.12 1.12 0 0 1 .21.65c0 .26-.09.47-.55.79l-1.33 1-.25-.44 1.39-1c.24-.16.34-.28.34-.47a.66.66 0 0 0-.13-.37.54.54 0 0 0-.46-.25c-.14 0-.29.1-.55.28l-1.25.85-.24-.35 1.19-.81a1.64 1.64 0 0 1 .84-.39A1 1 0 0 1 44 27M39.73 24.41l2.54-.89.14.38-1.45 1.78 1.83-.73.14.37-2.51.97-.14-.39 1.46-1.77-1.87.65-.14-.37zM39.35 22.39L42.003 22l.063.425-2.65.394zM39.27 19.19l.01-.45 2.65 1.08-.02.44-2.72.81.01-.44 2.2-.62-2.13-.82zM41.7 13.18c-.38 0-.55.22-.8.66l-.32.56 2.36 1.28.2-.37-1-.54.06-.11c.17-.3.22-.34.64-.31l.77.07.22-.4L43 14a1.24 1.24 0 0 0-.43 0l-.13.07a.75.75 0 0 0 0-.14.65.65 0 0 0-.37-.6.78.78 0 0 0-.38-.11m-.48.81c.16-.29.27-.39.44-.39a.45.45 0 0 1 .22.06.43.43 0 0 1 .21.25.39.39 0 0 1 0 .12 1.1 1.1 0 0 1-.18.49l-.06.1-.76-.41zM44.637 9.38l.342-.26 1.624 2.132-.342.26zM46.11 8.34l1.73-.9.18.32-.68.36 1.07 2.05-.38.2-1.07-2.06-.68.36-.17-.33zM50.44 6.62l.45-.12-.36 1.79.29 1.02-.41.12-.28-1.01-1.28-1.33.44-.13.92.95.23-1.29zM58.63 10.29l1.36-2.31 1.29.75-.19.32-.92-.54-.37.64.86.51-.18.31-.86-.51-.62 1.05-.37-.22zM65.53 16.27l.98-1.17.15.46-.73.84 1.08.24.15.44-1.49-.36-1.04 1.26-.16-.46.8-.92-1.19-.27-.14-.44 1.59.38zM64.76 18.91l2.68-.22.12 1.48-.37.03-.08-1.06-.75.06.09 1-.36.03-.08-1-1.21.1-.04-.42zM65.94 21.3a1.38 1.38 0 0 0-.82.25 1.16 1.16 0 0 0-.48 1 1.5 1.5 0 0 0 2.3 1 1.19 1.19 0 0 0 .48-1 1.36 1.36 0 0 0-1.48-1.26m.21 2c-.52 0-1.13-.29-1.13-.81a.75.75 0 0 1 .3-.62 1 1 0 0 1 .6-.18 1.26 1.26 0 0 1 1 .42.68.68 0 0 1 .13.41.75.75 0 0 1-.3.61 1 1 0 0 1-.59.17M64.39 12.37a1.57 1.57 0 0 0-.84.26 1.4 1.4 0 0 0-.7 1.14 1.18 1.18 0 0 0 .19.64A1.17 1.17 0 0 0 64 15a1.6 1.6 0 0 0 .85-.27 1.39 1.39 0 0 0 .7-1.13 1.18 1.18 0 0 0-.19-.64 1.17 1.17 0 0 0-1-.56M64 14.55a.69.69 0 0 1-.61-.34.71.71 0 0 1-.11-.38 1 1 0 0 1 .54-.84 1.26 1.26 0 0 1 .67-.22.69.69 0 0 1 .61.34.75.75 0 0 1 .12.41 1 1 0 0 1-.53.8 1.33 1.33 0 0 1-.69.23M57.06 6.84a1.32 1.32 0 0 0-1.24 1 1.59 1.59 0 0 0-.07.44 1.35 1.35 0 0 0 .15.72 1.18 1.18 0 0 0 1 .61 1.16 1.16 0 0 0 .56-.14 1.61 1.61 0 0 0 .75-1.37 1.35 1.35 0 0 0-.15-.66 1.18 1.18 0 0 0-1-.61m-.14 2.39a.73.73 0 0 1-.63-.38 1 1 0 0 1-.11-.48c0-.48.32-1.16.91-1.16a.77.77 0 0 1 .74.85c0 .39-.27 1.17-.9 1.17M42.2 16.57l.35.1-.4 1.48-2.6-.71.44-1.49.36.09-.33 1.08.72.2.27-.98.35.1-.28.97.81.22.31-1.06zM42.88 11a1 1 0 0 1 .75-.39l.07.35a.8.8 0 0 0-.52.27.52.52 0 0 0-.15.34.29.29 0 0 0 .1.22c.19.16.5 0 .7-.1a1.58 1.58 0 0 1 .59-.15.7.7 0 0 1 .48.18.76.76 0 0 1 .27.57.92.92 0 0 1-.27.63 1.34 1.34 0 0 1-.8.43L44 13a1.13 1.13 0 0 0 .6-.31.52.52 0 0 0 .15-.34.36.36 0 0 0-.13-.27.33.33 0 0 0-.24-.08 1.63 1.63 0 0 0-.55.17.86.86 0 0 1-1 0 .68.68 0 0 1-.24-.51.94.94 0 0 1 .26-.62M64 24.78l1 .46-.05.11c-.14.31-.19.36-.61.36h-.77l-.18.41h.89a1.25 1.25 0 0 0 .43 0l.11-.07a.66.66 0 0 0 0 .07.71.71 0 0 0 .05.28.78.78 0 0 0 .69.42c.43 0 .59-.26.8-.73l.25-.58-2.44-1.1zm1.59 1.59a.44.44 0 0 1-.4-.27.42.42 0 0 1 0-.15 1.25 1.25 0 0 1 .14-.46v-.1l.77.35-.09.21c-.14.33-.24.43-.45.43M62.63 27.31a1.7 1.7 0 0 0-.49 1.06 1.34 1.34 0 0 0 .55 1 1.37 1.37 0 0 0 .86.32c.37 0 .67-.11 1.14-.7l.42-.53L63 26.84zm1 2a1 1 0 0 1-.62-.25 1 1 0 0 1-.44-.77 1.17 1.17 0 0 1 .32-.7l.11-.19 1.53 1.22-.12.15c-.28.36-.48.57-.86.57"/>
                <path class="ox-logo-2" d="M68.75 20.53a15.38 15.38 0 1 0-24 12.68 3.61 3.61 0 0 0 4.8 2.43 15.5 15.5 0 0 0 1.72.46 7.32 7.32 0 0 1-.63 1.29l.32.32a.57.57 0 0 1 .85.5.58.58 0 0 1-.57.57.81.81 0 0 1-.65-.37 2.38 2.38 0 0 0-.07.6c0 1.1 1.2 2.36 2.87 2.89 1.61-.5 2.83-1.77 2.83-2.9a2 2 0 0 0-.07-.6.86.86 0 0 1-.65.37.57.57 0 1 1 0-1.15.57.57 0 0 1 .3.09l.31-.31a7.55 7.55 0 0 1-.39-1.18 11.44 11.44 0 0 0 7-3.49 15.23 15.23 0 0 0 6.07-12.22M48.2 35.45a3.18 3.18 0 0 1-2.78-4.69l.52.46a2.5 2.5 0 0 0-.24 1.07 2.57 2.57 0 0 0 1.39 2.28 11.9 11.9 0 0 0 1.74.83 3.2 3.2 0 0 1-.62.06m5.17-4.62a10.37 10.37 0 0 1-1.94-.18 3.64 3.64 0 0 0-3.23-2 3.59 3.59 0 0 0-1 .13 10.3 10.3 0 1 1 6.14 2m2.29.18a3.53 3.53 0 0 0-.55 1.67 16 16 0 0 1-2.63-.94 1.09 1.09 0 0 1 .89-.49 10.78 10.78 0 0 0 2.32-.21m-3.27.2a1.15 1.15 0 0 0-.31.34c-.39-.19-.88-.43-1.2-.61a13 13 0 0 0 1.51.27m-4.2-2.1a3.18 3.18 0 0 1 2.64 1.42 10.31 10.31 0 0 1-1.5-.51 2.54 2.54 0 0 0-3.14.81l-.58-.34a3.16 3.16 0 0 1 2.6-1.37m7.29 8.1a1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 .25 0 3.4 3.4 0 0 1-2.39 2.24A3.45 3.45 0 0 1 51 39.2a1 1 0 0 0 1.28-1 1 1 0 0 0-1-1 6.41 6.41 0 0 0 .46-1 12.06 12.06 0 0 0 2 .19 15.33 15.33 0 0 0 1.55-.08 7.52 7.52 0 0 0 .28.91h-.06m-1.77-1.26a13.75 13.75 0 0 1-6.4-1.74 2.18 2.18 0 0 1-1.17-1.91 2.09 2.09 0 0 1 .15-.77 13.69 13.69 0 0 0 1.77 1.29.48.48 0 0 0 .27.08.5.5 0 0 0 .5-.5.49.49 0 0 0-.3-.46c-.37-.16-1.13-.48-2-.9a2.07 2.07 0 0 1 2.54-.63l.57.33c1.8 1.1 6.42 3.91 12 2.37a11.35 11.35 0 0 1-8 2.85m8.66-3.52a12.18 12.18 0 0 1-6.82.38c.07-.89.43-1.84 1-2A10.76 10.76 0 1 0 46.74 29a3.64 3.64 0 0 0-1.52 1.25c-.2-.13-.39-.27-.56-.42l-.1.1a7.37 7.37 0 0 0 .52.54 3.57 3.57 0 0 0-.5 1.83v.31a14.92 14.92 0 1 1 17.79-.17"/>
            </g>
        </g>
    </symbol>

    <symbol id="chevron-right-orange" viewBox="0 0 10.1 15.72">
        <defs>
            <style>.chevron-right-orange{fill:#ff4800;}</style>
        </defs>
        <path class="chevron-right-orange" d="M0,13.42,5.54,7.86,0,2.3,2.3,0,10.1,7.86,2.3,15.72Z"/>
    </symbol>

    <symbol id="chevron-right-navy" viewBox="0 0 10.1 15.72">
        <defs>
            <style>.chevron-right-navy{fill:#041e41;}</style>
        </defs>
        <path class="chevron-right-navy" d="M0,13.42,5.54,7.86,0,2.3,2.3,0,10.1,7.86,2.3,15.72Z"/>
    </symbol>

    <symbol id="chevron-right-white" viewBox="0 0 10.1 15.72">
        <defs>
            <style>.chevron-right-white{fill:#fff;}</style>
        </defs>
        <path class="chevron-right-white" d="M0,13.42,5.54,7.86,0,2.3,2.3,0,10.1,7.86,2.3,15.72Z"/>
    </symbol>

    <symbol id="chevron-left-white" viewBox="0 0 10.1 15.72">
        <defs>
            <style>.chevron-left-white{fill:#fff;}</style>
        </defs>
        <path class="chevron-left-white" d="M10.1,2.3,4.56,7.86l5.54,5.56-2.3,2.3L0,7.86,7.81,0Z"/>
    </symbol>

    <symbol id="twitter" viewBox="0 0 20.56 18.88">
        <defs>
            <style>.twitter{fill:#fff;}</style>
        </defs>
        <path class="twitter" d="M20.56,2.24A7.69,7.69,0,0,1,18.14,3,4.71,4.71,0,0,0,20,.35,7.86,7.86,0,0,1,17.31,1.5,4,4,0,0,0,14.23,0,4.52,4.52,0,0,0,10,4.77a5.32,5.32,0,0,0,.11,1.09,11.58,11.58,0,0,1-8.69-5,5.24,5.24,0,0,0-.57,2.4,5,5,0,0,0,1.88,4,3.86,3.86,0,0,1-1.91-.6V6.7a4.66,4.66,0,0,0,3.38,4.67,3.67,3.67,0,0,1-1.11.17,3.72,3.72,0,0,1-.79-.08,4.32,4.32,0,0,0,3.94,3.31,7.87,7.87,0,0,1-5.24,2,7.51,7.51,0,0,1-1-.07,11,11,0,0,0,6.47,2.14c7.76,0,12-7.26,12-13.56,0-.21,0-.41,0-.62a9.25,9.25,0,0,0,2.1-2.47"/>
    </symbol>

    <symbol id="facebook" viewBox="0 0 8.95 20.95">
        <defs>
            <style>.facebook{fill:#fff;}</style>
        </defs>
        <path class="facebook" d="M0,6.93H1.92V4.82a6.24,6.24,0,0,1,.62-3.25A3.29,3.29,0,0,1,5.51,0,10.75,10.75,0,0,1,8.95.39L8.47,3.6a5.8,5.8,0,0,0-1.54-.26c-.75,0-1.41.3-1.41,1.14V6.93H8.57l-.21,3.13H5.51V21H1.92V10.06H0Z"/>
    </symbol>

    <symbol id="linkedin" viewBox="0 0 18.54 19.23">
        <defs>
            <style>.linkedin{fill:#fff;}</style>
        </defs>
        <path class="linkedin" d="M4.08,19.23H.47V6.17H4.08ZM2.18,4.53h0A2.13,2.13,0,0,1,0,2.27,2.15,2.15,0,0,1,2.21,0,2.14,2.14,0,0,1,4.39,2.27,2.14,2.14,0,0,1,2.18,4.53Zm16.35,14.7h-4.1V12.47c0-1.77-.64-3-2-3a2.12,2.12,0,0,0-2,1.6,3.39,3.39,0,0,0-.09,1.07v7.07H6.29s.05-12,0-13.07h4.06V8.22A3.66,3.66,0,0,1,14,6c2.57,0,4.58,1.88,4.58,5.93Z"/>
    </symbol>

    <symbol id="chevron-up-orange" viewBox="0 0 17.4 10.29">
        <defs>
            <style>
                .chevron-up-orange {fill: none; stroke: #ff4800; stroke-miterlimit: 10; stroke-width: 2.25px;}
            </style>
        </defs>
        <polyline class="chevron-up-orange" points="16.61 0.8 8.7 8.7 0.8 0.8" />
    </symbol>

    <symbol id="download-icon-blue" viewBox="0 0 14.57 19.98">
        <defs>
            <style>
                .download-icon-blue-1, .download-icon-blue-2 {fill: none; stroke-miterlimit: 10; stroke-width: 2px;}
                .download-icon-blue-1 {stroke: #8ac7df;}
                .download-icon-blue-2 {stroke: #0091c0;}
            </style>
        </defs>
        <g>
            <g>
                <line class="download-icon-blue-1" x1="2.56" y1="18.98" x2="12.01" y2="18.98" />
                <path class="download-icon-blue-2" d="M13.87,8.14,7.29,14.68.7,8.14" />
                <polyline class="download-icon-blue-2" points="7.29 14.21 7.29 0 7.29 2.93" />
            </g>
        </g>
    </symbol>

    <symbol id="quote" viewBox="0 0 40.21 40.21">
        <defs>
            <style>
                .quote-1, .quote-2 {fill: none;stroke-miterlimit: 10;}
                .quote-1 {stroke: #8ac7df;}
                .quote-2 {stroke: #0091c0;}
            </style>
        </defs>
        <g>
            <g>
                <path class="quote-1" d="M30.48,21.43a4.34,4.34,0,0,0-4.1-3.67,4.11,4.11,0,0,1,3.21-3,.17.17,0,0,0,.12-.19L29.48,13s0-.12-.22-.1c-5.13.57-8.6,4.48-8,9.22a4.8,4.8,0,0,0,5.53,4.22,4.37,4.37,0,0,0,3.64-5ZM14.12,17.77a4.11,4.11,0,0,1,3.21-3,.17.17,0,0,0,.12-.19L17.24,13s0-.12-.22-.1c-5.15.57-8.58,4.48-8,9.22a4.85,4.85,0,0,0,5.56,4.22,4.33,4.33,0,0,0,3.62-5A4.27,4.27,0,0,0,14.12,17.77Z" />
                <circle class="quote-2" cx="20.11" cy="20.11" r="19.61" transform="translate(-8.33 20.11) rotate(-45)" />
            </g>
        </g>
    </symbol>

    <symbol id="posted" viewBox="0 0 19.6 22">
        <defs>
            <style>
                .cls-1, .cls-3 {fill: none; stroke-miterlimit: 10;}
                .cls-1 {stroke: #0091c0;}
                .cls-2, .cls-3 {opacity: 0.5;}
                .cls-3 {stroke: #8ac7df;}
            </style>
        </defs>
        <title>posted</title>
        <path class="cls-1" d="M19.1,3.43V19.95a1.55,1.55,0,0,1-1.55,1.55H2A1.55,1.55,0,0,1,.5,19.95V3.43A.53.53,0,0,1,1,2.9H3.65"/>
        <line class="cls-1" x1="2.67" y1="2.9" x2="14.33" y2="2.9"/>
        <line class="cls-1" x1="4.79" x2="4.79" y2="5.92"/>
        <line class="cls-1" x1="14.42" x2="14.42" y2="5.92"/>
        <g class="cls-2">
            <line class="cls-3" x1="3.62" y1="8.57" x2="6.54" y2="8.57"/>
            <line class="cls-3" x1="8.21" y1="8.57" x2="11.12" y2="8.57"/>
            <line class="cls-3" x1="12.79" y1="8.57" x2="15.71" y2="8.57"/>
        </g>
        <g class="cls-2">
            <line class="cls-3" x1="3.62" y1="12.64" x2="6.54" y2="12.64"/>
            <line class="cls-3" x1="8.21" y1="12.64" x2="11.12" y2="12.64"/>
            <line class="cls-3" x1="12.79" y1="12.64" x2="15.71" y2="12.64"/>
        </g>
        <g class="cls-2">
            <line class="cls-3" x1="3.62" y1="16.7" x2="6.54" y2="16.7"/>
            <line class="cls-3" x1="8.21" y1="16.7" x2="11.12" y2="16.7"/>
            <line class="cls-3" x1="12.79" y1="16.7" x2="15.71" y2="16.7"/>
        </g>
    </symbol>

    <symbol id="author" viewBox="0 0 16.18 19.67">
        <defs>
            <style>
                .cls-1, .cls-2 {fill: none; stroke-miterlimit: 10;}
                .cls-1 {stroke: #0091c0;}
                .cls-2 {stroke: #8ac7df; opacity: 0.5;}
            </style>
        </defs>
        <title>author</title>
        <circle class="cls-1" cx="8.09" cy="5.12" r="4.62"/>
        <path class="cls-2" d="M.5,19.67a7.59,7.59,0,1,1,15.18,0"/>
    </symbol>

    <symbol id="arrow-right" viewBox="0 0 13.5 12.2">
      <path fill="#F04D23" d="M7.5 12.2l-.7-.7 5.3-5.4L6.8.7l.7-.7 6 6.1"/>
      <path opacity=".5" fill="#F04D23" d="M0 5.6h12.4v1H0z"/>
    </symbol>

</svg>
