.related-grid {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 30px;

    @include media-query(tablet-portrait) {
        flex-direction: row;
    }

    &__item {
        position: relative;
        margin-bottom: 2rem;

        @include media-query(tablet-portrait) {
            margin: 0;
        }

        &:nth-child(even) {
            @include media-query(tablet-portrait) {
                margin: 0 2rem;
            }
        }
    }

    &__label {
        background: $orange;
        color: $white;
        position: absolute;
        top: 0;
        left: 30px;
        padding: 10px;
    }

    &__title {
        @include font-size(18px, 25px);
        font-weight: $weight-semibold;
        color: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 85%;

        &::after {
            content: '';
            background: url('../images/chevron-right-white.svg') no-repeat;
            margin-left: 10px;
            display: inline-block;
            width: 15px;
            height: 15px;
        }
    }
}
