<div class="related-grid">
    <a href="#" class="related-grid__item">
        <img src="http://placehold.it/385x360" srcset="http://placehold.it/385x360 1x, https://placehold.it/770x720 2x" alt="">
        <span class="related-grid__label">Lorem ipsum</span>
        <div class="related-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </a>
    <a href="#" class="related-grid__item">
        <img src="http://placehold.it/385x360" srcset="http://placehold.it/385x360 1x, https://placehold.it/770x720 2x" alt="">
        <span class="related-grid__label">Lorem ipsum</span>
        <div class="related-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </a>
    <a href="#" class="related-grid__item">
        <img src="http://placehold.it/385x360" srcset="http://placehold.it/385x360 1x, https://placehold.it/770x720 2x" alt="">
        <span class="related-grid__label">Lorem ipsum</span>
        <div class="related-grid__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </a>
</div>
