.hero {
    position: relative;

    &--article {
        &::before {
            content: '';
            height: 400px;
            width: 100%;
            position: absolute;
            background: $light-grey;
            z-index: -1;
        }
    }

    &--search {
        background: url('../images/search-hero.png') no-repeat;
        background-size: cover;
        height: 200px;

        @include media-query(tablet-portrait) {
            height: 400px;
        }
    }

    &__heading {
        padding: 0 20px;

        @include media-query(tablet-landscape) {
            padding: 0;
        }

        &:not(:only-child) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }

        &:only-child {
            @include font-size(34px, 65px);
            max-width: $wrapper--small;
            color: $green;
            margin: 10px auto 0;

            @include media-query(tablet-landscape) {
                margin: 20px auto;
            }
        }
    }

    &__content {
        &--centered {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }
    }

    &__strapline {
        color: $white;
        margin-bottom: 1rem;

        .template-home-page & {
            @include font-size(20px, 65px);
            padding: 0 30px;

            @include media-query(tablet-landscape) {
                padding: 0;
            }
        }
    }

    &__logo {
        margin-bottom: 1rem;
    }

    &__image {
        width: 100%;
        min-height: 150px;
        object-fit: cover;

        @include media-query(mob-landscape) {
            min-height: auto;
            object-fit: initial;
        }

        &--top-space {
            margin-top: 70px;
        }
    }

    &__video {
        width: 100%;
    }
}

