.hero {
    position: relative;

    &--article {
        &::before {
            content: '';
            height: 300px;
            width: 100%;
            position: absolute;
            background: $light-grey;
            z-index: -1;
        }
    }

    &--article-image {
        margin-top: 1rem;

        @include media-query(tablet-portrait) {
            position: relative;
            padding-bottom: 51%; /* ratio of image height to width rounded off */
            height: 0;
            overflow: hidden;
      }
    }

    &--search {
        background: url('../images/search-hero.png') no-repeat;
        background-size: cover;
        height: 200px;

        @include media-query(tablet-portrait) {
            height: 400px;
        }
    }

    &__heading {
        padding: 0 20px;

        @include media-query(tablet-landscape) {
            padding: 0;
        }

        &:not(:only-child) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }

        &:only-child {
            max-width: $body-width;
            color: $green;
            margin: 10px auto 0;

            @include media-query(tablet-landscape) {
                margin: 20px auto;
            }
        }
    }

    &__content {
        &--centered {
            @include mid-container;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            pointer-events: none;
        }

        .link {
            pointer-events: auto;
        }
    }

    &__strapline {
        @include jumbo-text;
        color: $white;
        text-shadow: 0px 0px 70px rgba(0, 0, 0, 0.8);

        @include media-query(mob-landscape) {
            margin-bottom: 1rem;
        }

        .template-home-page & {
            padding: 0 40px;

            @include media-query(container) {
                padding: 0 80px;
            }

            @include media-query(desktop) {
                padding: 0;
            }
        }
    }

    &__logo {
        margin-bottom: 1rem;
    }

    &__image {
        width: 100%;
        min-height: 150px;
        object-fit: cover;

        @include media-query(tablet-portrait) {
            min-height: 400px;
        }

        &--top-space {
            margin-top: 0;

            @include media-query(container) {
                margin-top: 1rem;
            }
        }
    }

    &__video {
        width: 100%;
    }
}
