.hero {
    position: relative;

    &__heading {
        &:not(:only-child) {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }

        &:only-child {
            color: $green;
            padding: 0 20px;
        }
    }

    &__content {
        &--centered {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }
    }

    &__strapline {
        color: $white;
        margin-bottom: 1rem;
    }

    &__logo {
        margin-bottom: 1rem;
    }

    &__video {
        width: 100%;
    }
}

