<div class="hero hero--standard-page">
    <img src="https://placehold.it/790x430" srcset="https://placehold.it/790x430 1x, https://placehold.it/1580x860 2x" alt="">
    <div class="hero__caption">Lorem ipsum dolor sit amet, consectetur elit similique quas.</div>
</div>
