<section class="hero">
    <video class="hero__video" autoplay loop muted preload>
        <source src="http://playground.torchboxapps.com/girleffect/1/images/newvid.mp4" type="video/mp4">
        <img src="https://placehold.it/1670x520">
    </video>

    <div class="hero__content hero__content--centered">
        <img class="hero__logo" src="https://placehold.it/700x120" alt="">
        <h2 class="hero__strapline">Lorem Ipsum Dolor</h2>
        <a class="link link--white link--boxed" href="#">
            Rerum doloremque saepe
            <span></span>
            <span></span>
        </a>

    </div>
</section>

