.media-block-container {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @include media-query(desktop) {
        justify-content: space-between;
    }

    &--partners {
        padding-bottom: 2rem;

        @include media-query(tablet-landscape) {
            padding-bottom: 4rem;
            justify-content: space-around;
        }
    }
}

.media-block {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    width: 100%;

    @include media-query(tablet-portrait) {
        width: 45%;
    }

    &:only-child {
        align-items: center;
        flex-direction: column;
        width: auto;
        max-width: 50%;

        @include media-query(desktop) {
            flex-direction: row-reverse;
            width: auto;
            max-width: 100%;
            margin: 2rem auto;
        }
    }

    &__image + .media-block__content {
        padding: 60px 70px 40px 40px;
        width: 90%;
        margin: 0 auto;

        @include media-query(tablet-landscape) {
            width: 100%;
            margin: auto;
        }
    }

    &__content {
        background-color: $white;
        padding: 40px;

        .media-block:only-child & {
            padding: 40px 70px 40px 40px;

            @include media-query(desktop) {
                padding: 40px 70px 40px 40px;
                margin-right: -30px;
                flex-direction: row-reverse;
                max-width: 100%;
                min-height: 260px;
            }
        }
    }

    &__image {
        .media-block:not(:only-child) & {
            width: 90%;
            margin: 0 auto -30px;
            z-index: 2;
        }
    }
}
