<div class="media-block">
    <img class="media-block__image" src="https://placehold.it/600x400" alt="">
    <div class="media-block__content">
        <h4>Lorem ipsum dolor sit amet</h4>
        <p>Magnam quia ipsam delectus, sint asperiores praesentium maiores minus porro impedit orem ipsum dolor sit amet, consectetur adipisicing elit libero exercitationem.</p>
        {% include 'atoms-link--with-arrow' %}
    </div>
</div>
