.media-card {
    $root: &;
    position: relative;
    margin: 50px 20px;
    max-width: $mid-width;

    @include media-query(tablet-landscape) {
        margin: 50px auto;
    }

    &__image {
        min-height: 300px;
        object-fit: cover;

        @include media-query(tablet-portrait) {
            height: 500px;
            width: 85%;
        }
    }

    &__logo,
    &__title {
        margin-bottom: 15px;
    }

    &__content {
        background: $light-grey;
        display: block;
        padding: 20px;
        min-height: 200px;

        @include media-query(tablet-portrait) {
            position: absolute;
            max-width: 400px;
            min-height: 300px;
            top: 50%;
            padding: 40px;
            transform: translate(0, -50%);
            width: 100%;
        }
    }

    &__link {
        #{$root}__content:hover & {
            right: -20px;
        }
    }

    &:nth-child(even) {
        .media-card__content {
            right: 0;
        }
    }

    &:nth-child(odd) {
        .media-card__content {
            left: 0;
        }

        .media-card__image {
            @include media-query(tablet-portrait) {
                position: relative;
                left: 15%;
            }
        }
    }

    &:last-child {
        @include media-query(tablet-landscape) {
            margin: 50px auto 100px;
        }
    }
}
