<div class="media-card">
    <img class="media-card__image" src="https://placehold.it/1020x500" alt="">
    <a class="media-card__content" href="#">
        <h3 class="media-card__title">Alias optio</h3>
        {# <img class="media-card__logo" src="http://placehold.it/300x75" alt=""> #}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit amet, consectetur adipisicing.</p>
        <div class="media-card__link link__arrow"></div>
    </a>
</div>

