.wrapper {
    margin: 0 auto;

    &--center {
        text-align: center;
    }

    &--site {
        max-width: $site-width;
    }

    &--small {
        max-width: $wrapper--small;
    }

    &--medium {
        max-width: $wrapper--medium;
    }

    &--large {
        max-width: $wrapper--large;
    }

    &--top-bottom-space {
        margin: 2rem auto;
    }

    &--bottom-space {
        margin: 0 auto 2rem;
    }

    &--article {
        > * {
            max-width: $wrapper--small;
            margin: 0 auto;
        }
    }
}
