.wrapper {
    margin: 0 auto;
    @include media-query(tablet-landscape) {
        padding: 0;
    }

    &--center {
        text-align: center;
        position: relative;
    }

    &--mid {
        @include mid-container;
    }

    &--body {
        @include body-container;
    }

    &--top-bottom-space {
        margin: 1rem auto;

        @include media-query(tablet-landscape) {
            margin: 2rem auto;
        }
    }

    &--bottom-space {
        margin: 0 auto 2rem;
    }

    &--article {
        margin: 2rem auto 4rem;

        > * {
            max-width: $body-width;
            margin: 0 auto;
        }
    }

    &--article-breadcrumbs {
        background: $light-grey;
    }

    &--bottom-space-xl {
        margin: 0 auto 4rem;
    }

    &--people {
        padding: 2rem 0;

        @include media-query(tablet-portrait) {
            padding: 2rem 0 4rem;
        }
    }
}
