.wrapper {
    margin: 0 auto;
    padding: 0 20px;

    @include media-query(tablet-landscape) {
        padding: 0;
    }

    &--center {
        text-align: center;
        position: relative;
    }

    &--site {
        max-width: $site-width;
    }

    &--small {
        max-width: $wrapper--small;
    }

    &--small-medium {
        max-width: $wrapper--small-medium;
    }

    &--medium {
        max-width: $wrapper--medium;
    }

    &--large {
        max-width: $wrapper--large;
    }

    &--top-bottom-space {
        margin: 1rem auto;

        @include media-query(tablet-landscape) {
            margin: 2rem auto;
        }
    }

    &--bottom-space {
        margin: 0 auto 2rem;
    }

    &--article {
        > * {
            max-width: $wrapper--small;
            margin: 0 auto;
        }
    }

    &--bottom-space-xl {
        margin: 0 auto 4rem;
    }

    &--people {
        border-top: 1px solid $brand-grey;
        padding: 2rem 0;

        @include media-query(tablet-portrait) {
            padding: 4rem 0;
        }
    }
}
