<nav class="main-nav">
    <ul class="main-nav__primary-items">
        <li class="main-nav__primary-items__item">
            <a href="/">Primary Link 1</a>
            {% include "atoms-mobile-nav-toggle" %}
            <ul class="main-nav__secondary-items">
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 1
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 2
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 3
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="main-nav__primary-items__item">
            <a href="/">Primary Link 2</a>
        </li>
        <li class="main-nav__primary-items__item">
            <a href="/">Primary Link 3</a>
        </li>
        <li class="main-nav__primary-items__item">
            <a href="/">Primary Link 4</a>
            {% include "atoms-mobile-nav-toggle" %}
            <ul class="main-nav__secondary-items">
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 1
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 2
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 3
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 4
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="main-nav__primary-items__item">
            <a href="/">Primary Link 5</a>
            {% include "atoms-mobile-nav-toggle" %}
            <ul class="main-nav__secondary-items">
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 1
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 2
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 3
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 4
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 5
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="main-nav__primary-items__item">
            <a href="/">Primary Link 6</a>
            {% include "atoms-mobile-nav-toggle" %}
            <ul class="main-nav__secondary-items">
                <li class="main-nav__secondary-items__item">
                    <a href="/">
                        Secondary Link 1
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="main-nav main-nav--sub">
    <ul class="main-nav__primary-items">
        <li class="main-nav__primary-items__item main-nav__primary-items__item--sub">
            <a href="/">Sub Primary Link 1</a>
            {% include "atoms-mobile-nav-toggle" %}
            <ul class="main-nav__secondary-items">
                <li class="main-nav__secondary-items__item main-nav__secondary-items__item--sub">
                    <a href="/">
                        Secondary Link 1
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item main-nav__secondary-items__item--sub">
                    <a href="/">
                        Secondary Link 2
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
                <li class="main-nav__secondary-items__item main-nav__secondary-items__item--sub">
                    <a href="/">
                        Secondary Link 3
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="main-nav__primary-items__item main-nav__primary-items__item--sub">
            <a href="/">Sub Primary Link 2</a>
            {% include "atoms-mobile-nav-toggle" %}
            <ul class="main-nav__secondary-items">
                <li class="main-nav__secondary-items__item main-nav__secondary-items__item--sub">
                    <a href="/">
                        Secondary Link 1
                        <svg viewBox="0 0 17.4 10.29">
                            <use xlink:href="#chevron-right-orange"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>