.main-nav {
    clear: right;

    a {
        color: $white;
        font-size: 16px;

        .template--standard-page & {
            @include media-query(tablet-portrait) {
                color: $navy-blue;
            }
        }
    }

    @include media-query(tablet-portrait) {
        padding-right: 10%;
        padding-left: calc(10% - 14px);
        position: absolute;
        right: 0;
        top: 100px;
    }

    @include media-query(desktop) {
        padding-right: 120px;
        padding-left: calc(120px - 14px);
        top: 70px;
    }

    &--sub {
        a {
            .template--standard-page & {
                @include media-query(tablet-portrait) {
                    color: $regent-grey;
                }
            }

            .template--listings-page & {
                @include media-query(tablet-portrait) {
                    color: $white;
                    opacity: 0.7;
                }
            }
        }

        @include media-query(tablet-portrait) {
            right: 40px;
            top: 30px;
        }
    }

    &__primary-items {
        margin: 0;

        &__item {
            cursor: pointer;
            position: relative;
            font-weight: 600;

            &.is-active {                
                @include media-query(tablet-portrait) {
                    background-color: transparent;
                    border-bottom-style: solid;
                    border-bottom-width: 4px;
                    
                    .template--standard-page & {
                        border-bottom-color: $purple;
                    }

                    .template--listings-page & {
                        border-bottom-color: $purple;
                    }
                }
            }

            &.open {
                background: $light-blue;
            }

            &:nth-child(1) {
                a {
                    border-top: 1px solid rgba($white, 0.3);

                    @include media-query(tablet-portrait) {
                        border: none;
                    }
                }
            }

            &--sub {
                &:nth-child(1) {
                    a {
                        border-top: none;
                    }
                }

                a {
                    @include media-query(tablet-portrait) {
                        font-size: 14px;
                    }
                }                
            }

            @include media-query(tablet-portrait) {
                display: inline-block;
                position: relative;
                margin: 0 0 0 14px;
            }

            a {
                border-bottom: 1px solid rgba($white, 0.3);
                display: block;
                margin-left: 35px;
                margin-right: 35px;
                padding: 15px 0;

                @include media-query(tablet-portrait) {
                    border: none;
                    margin: 0;
                    padding: 0 0 5px;
                }
            }

            .mobile-nav-toggle {
                margin-right: 35px;
            }
        }
    }

    &__secondary-items {
        display: none;
        margin: 0;

        .is-active & {
            display: block;
        }

        @include media-query(tablet-portrait) {
            top: 40px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            &:before {
                position: absolute;
                content:'';
                bottom: 100%;
                left: 50%;
                margin-left: -10px;
                width: 0;
                height: 0;
                border-bottom: solid 10px $concrete;
                border-left: solid 10px transparent;
                border-right: solid 10px transparent;
            }
        }

        &__item {
            background-color: $light-blue;
            cursor: pointer;
            font-weight: 400;

            @include media-query(tablet-portrait) {
                background-color: $concrete;
                white-space: nowrap;
                border-bottom: 2px solid $mercury;
                position: relative;
            }

            svg {
                display: none;

                @include media-query(tablet-portrait) {
                    display: block;
                    width: 20px;
                    height: 11px;
                    margin-left: 35px;
                }
            }
        }

        a {
            border-bottom: 1px solid rgba($white, 0.3);
            display: block;
            margin-left: 35px;
            margin-right: 35px;
            padding: 12px 0;

            @include media-query(tablet-portrait) {
                margin-left: 20px;
                margin-right: 20px;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            .template & {
                @include media-query(tablet-portrait) {
                    color: $navy-blue;
                    font-size: 16px;
                }
            }
        }
    }
}