{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    <section class="hero">
        <h1>{{ page.hero_heading }}</h1>
        {% image page.hero_image fill-100x75 as hero_image %}
        <img src="{{ hero_image.url }}">
    </section>

    {# Streamfield options #}
    <section class="body">
        {{ page.body }}
    </section>

    <!-- <section class="listing">
        {% if subpages.paginator.count %}
            {% if subpages.object_list.exists %}
                <ul role="list">
                    {% for subpage in subpages.object_list.specific %}
                        <li>
                            <a href="{% pageurl subpage %}">
                                {% if subpage.listing_image %}
                                    {% image subpage.listing_image fill-450x300 %}
                                {% endif %}
                                <div>
                                    <h2 role="listitem">
                                        {% if subpage.listing_title %}
                                            {{ subpage.listing_title }}
                                        {% else %}
                                            {{ subpage.title }}
                                        {% endif %}
                                    </h2>
                                    {% if subpage.listing_summary %}
                                        <p>{{ subpage.listing_summary }}</p>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {# no items on this page #}
            {% endif %}

            {% include "includes/pagination.html" %}

        {% else %}
            {# no items on any page #}
        {% endif %} -->

    </section>

{% endblock %}
