{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    <section class="hero">
        <h1>{{ page.hero_heading }}</h1>
        {% image page.hero_image original as hero_image %}
        <img src="{{ hero_image.url }}">
    </section>

    {# Introduction (to be in hero section?) #}
    <section class="introduction">
        <p>{{ page.introduction }}</p>
    </section>

    {# Streamfield options - rich text #}
    <section class="body">
        {{ page.body }}
    </section>

    {# Call to action #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}

    {% include "includes/share.html" %}
    {% include "includes/relatedcontent.html" %}

{% endblock %}
