{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    <section class="hero">

        {% if page.hero_image %}
            {% image page.hero_image fill-1800x400 as hero_image %}
            <img src="{{ hero_image.url }}">
        {% endif %}

        <h1 class="hero__heading">{{ page.hero_heading }}</h1>
    </section>

    {# Introduction #}
    <section class="wrapper wrapper--small wrapper--bottom-space">
        <h2 class="heading heading--squashed">{{ page.introduction }}</h2>
    </section>

    {# Streamfield options - rich text #}
    <section class="body">
        {{ page.body }}
    </section>

    {# Call to action #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}

{% endblock %}
