/*------------------------------------*\
        $BASE DEFAULTS
\*------------------------------------*/

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    // Breaks position sticky
    height: 100%;
    font-family: 'lineto-circular';
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: $color--primary;
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Make images scale
img {
    max-width: 100%;
    height: auto;
}

// Allow sprite svg colors to be changed
svg {
    * {
        fill: inherit;
        stroke: inherit;
    }
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 1rem;
}

a {
    color: $color--primary;
    text-decoration: none;
}

b,
strong {
    font-weight: 700;
}
