/*------------------------------------*\
        $BASE DEFAULTS
\*------------------------------------*/

// Box Sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Prevent text size change on orientation change.
// sass-lint:disable no-vendor-prefixes
html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    @include font-size(16px, 21px);

    // Breaks position sticky
    height: 100%;
    font-family: 'lineto-circular';
    font-weight: $weight-normal;
    line-height: 1.29;
    letter-spacing: 0.5px;
    color: $color--primary;
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

// Make images scale
img {
    max-width: 100%;
    height: auto;
}

// Allow sprite svg colors to be changed
svg {
    * {
        fill: inherit;
        stroke: inherit;
    }
}

ul {
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 1rem;
}

a {
    color: $color--primary;
    text-decoration: none;

    &:hover {
        cursor: pointer;
    }
}

b,
strong {
    font-weight: 700;
}

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 280px;
$select-height: 40px;

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: $green;
    border: 1px solid $green;
    width: $select-width;
    height: $select-height;

    &--hidden {
        display: none;
        visibility: hidden;
    }

    &--styled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $white;
        padding: 8px 15px;
        transition: all 0.2s ease-in;

        &:after {
            content: '';
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-color: $white-20 transparent transparent transparent;
            position: absolute;
            top: 16px;
            right: 10px;
        }

        &:hover {
            background-color: $light-grey;
        }

        &:active,
        &.is-active {
            &:after {
                top: 9px;
                border-color: transparent transparent $select-color transparent;
            }
        }
    }

    &__options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $white;
        border: 1px solid $green;

        li {
            margin: 0;
            padding: 12px 0;
            text-indent: 15px;
            transition: all 0.2s ease-in;

            &:hover {
                background: $light-grey;
            }

            &[rel='hide'] {
                display: none;
            }
        }
    }
}
