// Heading styling
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color--primary;
    margin: 0;
}

h1 {
    color: $white;
    font: map-get($font-styles, 'main-title');
}

h2 {
    font: map-get($font-styles, 'sub-title');
}

h3 {
    font: map-get($font-styles, 'section-title');
}

h4 {
    font: map-get($font-styles, 'small-title');
}
