<div class="template template--standard-page">
    {% include "organisms-search" %}
    {% include "templates-header" with { context: 'standard-page' } %}
    <div class="wrapper wrapper--content wrapper--overlap-top">
        {% include "molecules-hero--standard-page" %}
        <h2>Lorem Ipsum Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, cupiditate minus odio quod voluptatem soluta totam temporibus molestias maiores corrupti adipisci id possimus aspernatur nam, consequatur, tempora aperiam quasi quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, cupiditate minus odio quod voluptatem soluta totam temporibus molestias maiores <a href="#">corrupti adipisci possimus</a> aspernatur nam, consequatur, tempora aperiam quasi quam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur adipisci fugiat inventore non quidem, necessitatibus eos at dolore officiis accusamus iusto recusandae temporibus saepe hic soluta ab? Commodi, autem, similique.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quasi dicta omnis expedita tempore ipsum animi beatae culpa voluptatem pariatur. </p>

        {% include "atoms-link--icon-first" %}

        <h3>Ex iusto facilis totam veritatis officiis</h3>

        {% include "atoms-link--presentation" %}
        {% include "atoms-link--presentation" %}
        {% include "atoms-link--presentation" %}

        {% include "atoms-list--bulleted" %}

        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, quasi dicta omnis expedita tempore ipsum animi beatae culpa <a href="#">voluptatem pariatur</a>.</strong></p>

        {% include "molecules-video" %}

        <h3>Eum quisquam facilis earum dolorem deleniti nihil nobis odit, officiis eius nam. Modi, ipsum libero ratione vel commodi a optio nam rerum.</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad numquam nobis, fugit reprehenderit quaerat corporis a, molestiae autem ipsa quas fugiat et temporibus quibusdam odio architecto repellat aliquid ratione provident consectetur adipisicing elit. Ad numquam nobis, fugit reprehenderit quaerat corporis a, molestiae autem ipsa quas fugiat et temporibus quibusdam odio architecto repellat aliquid ratione provident.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vitae cupiditate, soluta voluptate hic nesciunt voluptate <a href="#">ugiat quisquam esse doloribus</a> quis enim quia dolorem voluptatum voluptatem magni similique! Eum, provident! Pariatur? Consectetur adipisicing elit. Porro vitae cupiditate, soluta voluptate hic nesciunt fugiat quisquam esse doloribus quis enim quia dolorem voluptatum voluptatem magni.</p>

        {% include "atoms-button--download" %}
    </div>

    {% include "molecules-carousel--testimonials" %}

    <div class="wrapper wrapper--content">
        {% include "atoms-heading--related" %}
    </div>

    {% include "molecules-related-grid" %}

    {% include "templates-footer" %}

</div>
