<header class="header">
    <div class="header__search-bar header__search-bar--mobile">
        <div class="js-close-search-mobile header__icon header__icon--close">&#215;</div>
        {% include 'molecules-form--search' %}
    </div>

    <a href="/" class="header__logo">
        <img src="https://placehold.it/220x140" alt="">
    </a>

    <div class="header__mobile-icons">
        <a class="js-search-mobile" aria-label="search">
            <svg class="header__icon header__icon--search-mobile"><use xlink:href="#magnifying-glass"></use></svg>
        </a>

        {% include 'atoms-hamburger' %}
    </div>

    <div class="header__row">
        <nav role="navigation" aria-label="Primary">
            <ul class="header__nav primary" role="menubar">
                <li class="header__nav-item parent" role="presentation">
                    <a href="#"role="menuitem">Where we work</a>
                </li>
                <li class="header__nav-item parent" role="presentation">
                    <a href="#"role="menuitem">What we do</a>
                </li>
                <li class="header__nav-item parent" role="presentation">
                    <a href="#"role="menuitem">Lorem ipsum</a>
                </li>
                <li class="header__nav-item parent" role="presentation">
                    <a href="#"role="menuitem">Who we are</a>
                </li>
                <li class="header__nav-item parent" role="presentation">
                    <a href="#"role="menuitem">Stories</a>
                </li>
            </ul>
        </nav>

        <a class="js-search-desktop header__link header__link--search" aria-label="search">
            <svg class="header__icon"><use xlink:href="#magnifying-glass"></use></svg>
        </a>

        <div>
            <a class="header__link" href="#">
                <svg class="header__icon"><use xlink:href="#facebook"></use></svg>
            </a>
            <a class="header__link" href="#">
                <svg class="header__icon"><use xlink:href="#instagram"></use></svg>
            </a>
            <a class="header__link" href="#">
                <svg class="header__icon"><use xlink:href="#twitter"></use></svg>
            </a>
            <a class="header__link" href="#">
                <svg class="header__icon"><use xlink:href="#linkedin"></use></svg>
            </a>
        </div>
    </div>
    <div class="header__search-bar header__search-bar--desktop">
        {% include 'molecules-form--search' %}
    </div>
</header>

