.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    background: $white;

    &__logo {
        margin-right: 20px;

        @include media-query(tablet-landscape) {
            flex-basis: 20%;
            margin-right: 0;
        }
    }

    &__row {
        display: none;
        position: absolute;
        top: 0;
        background: $light-grey;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        left: 0;
        flex-direction: column;
        text-align: center;

        @include media-query(tablet-landscape) {
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
            padding-left: 20px;
            position: relative;
            bottom: initial;
            left: initial;
            background: transparent;
            padding: 0;
            flex-direction: row;
        }
    }

    &__nav-primary {
        display: flex;
        margin: 0;
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
        }
    }

    &__nav-secondary {
        opacity: 100;
        position: absolute;
        z-index: 1000;
        text-align: left;
        top: 132px;
        padding-top: 20px;
        transition: z-index, opacity, $transition;

        &.is-visible {
            z-index: 10;
            opacity: 1;
        }
    }

    &__nav-tertiary {
        padding-bottom: 20px;
    }

    &__nav-item-primary {
        padding-right: 15px;

        @include media-query(tablet-landscape) {
            padding-right: 20px;
        }

        @include media-query(desktop) {
            padding-right: 30px;
        }

        > a {
            padding-bottom: 21px;

            &.active {
                border-bottom: 3px solid $yellow;
                padding-bottom: 18px;
            }
        }
    }


    &__nav-item-secondary {
        font-weight: $weight-bold;
        border-bottom: 1px solid $brand-grey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    &__nav-item-arrow {
        width: 20px;
        height: 20px;
        fill: $yellow;
        transform: rotate(180deg);
        margin-right: 10px;
    }

    &__link {
        margin-right: 10px;

        @include media-query(desktop) {
            margin-right: 20px;
        }

        &--search {
            border-left: 2px solid lighten($steel, 20%);
            border-right: 2px solid lighten($steel, 20%);
            padding: 0 10px;

            @include media-query(desktop) {
                padding: 0 20px;
            }
        }
    }

    &__link-secondary {
        padding: 15px 0;
        transition: padding $transition;

        &:hover {
            padding-left: 10px;
        }
    }

    &__link-tertiary {
        font-weight: $weight-normal;
        padding-left: 35px;
        transition: padding $transition;

        &:hover {
            padding-left: 45px;
        }
    }

    &__icon {
        fill: $steel;
        width: 20px;
        height: 20px;
        transition: fill $transition;

        &:hover {
            cursor: pointer;
        }

        .is-active & {
            fill: $green;
        }

        .header__link:hover & {
            fill: $green;
            cursor: pointer;
        }

        &--search-mobile {
            fill: $green;
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }

        &--close {
            font-size: 40px;
            position: absolute;
            top: 0;
            right: 20px;
        }
    }

    &__search-bar {
        position: absolute;
        width: 100%;
        background: $light-grey;
        left: 0;
        padding: 25px;
        display: flex;

        &--desktop {
            text-align: center;
            display: none;
            z-index: 10;
        }

        &--mobile {
            height: 100vh;
            top: 0;
            z-index: -1;
            opacity: 0;
            align-items: center;
            justify-content: center;
            transition: z-index, opacity $transition;

            &.is-visible {
                z-index: 15;
                opacity: 1;
            }
        }
    }

    &__mobile-icons {
        display: flex;

        @include media-query(tablet-landscape) {
            display: none;
        }
    }

    &__nav-overlay {
        position: absolute;
        background: $white-90;
        top: 152px;
        width: 100%;
        height: 60vh;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        opacity: 0;
        transition: z-index, opacity, height, 0.25s ease-in-out;

        &.is-visible {
            z-index: 5;
            opacity: 1;
            height: 65vh;
        }
    }
}

