.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    background: $white;
    border-bottom: 1px solid $light-grey;
    
    &.nav-open {
        height: 100%;
    }

    @include media-query(mob-landscape) {
        padding: 10px;
    }

    @include media-query(tablet-landscape) {
        padding: 20px;
    }

    &__logo {
        margin-right: 20px;
        max-width: 80px;

        @include media-query(mob-landscape) {
            max-width: 120px;
        }

        @include media-query(tablet-landscape) {
            flex-basis: 20%;
            margin-right: 0;
            max-width: 100%;
        }
    }

    &__row {
        display: none;
        position: absolute;
        top: 0;
        background: $light-grey;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        left: 0;
        flex-direction: column;
        z-index: 5;
        height: auto;

        @include media-query(tablet-landscape) {
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
            padding-left: 20px;
            position: relative;
            bottom: initial;
            left: initial;
            background: transparent;
            padding: 0;
            flex-direction: row;
            z-index: auto;
            text-align: center;
        }
    }

    &__nav-primary {
        display: flex;
        margin: 30px 0 0;
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
            margin: 0;
        }
    }

    &__nav-secondary {
        display: none;

        @include media-query(tablet-landscape) {
            display: block;
            opacity: 0;
            position: absolute;
            z-index: -1;
            text-align: left;
            top: 132px;
            padding-top: 20px;
            transition: z-index, opacity, $transition;
    
            &.is-visible {
                z-index: 10;
                opacity: 1;
            }
        }
    }

    &__nav-tertiary {
        display: none;

        @include media-query(tablet-landscape) {
            padding-bottom: 20px;
            display: block;
        }
    }

    &__nav-item-primary {
        position: relative;

        @include media-query(tablet-landscape) {
            padding-right: 20px;
            position: static;
        }

        @include media-query(desktop) {
            padding-right: 30px;
        }
    }

    &__nav-item-secondary {
        position: relative;

        @include media-query(tablet-landscape) {
            font-weight: $weight-bold;
            border-bottom: 1px solid $brand-grey;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: static;
        }
    }

    &__nav-item-secondary-parent {
        a::after {
            content: '';
            width: 1px;
            display: block;
            position: absolute;
            top: 0;
            background-color: $brand-grey;
            right: 40px;
            height: 42px;
            @include media-query(tablet-landscape) {
                display: none;
            }
        }
    }

    &__nav-item-arrow {
        display: none;

        @include media-query(tablet-landscape) {
            width: 20px;
            height: 20px;
            fill: $yellow;
            transform: rotate(180deg);
            margin-right: 10px;
            display: inline-block;
        }
    }

    &__link {
        margin-right: 10px;

        @include media-query(desktop) {
            margin-right: 20px;
        }

        &--search {
            display: none;
            border-left: 2px solid lighten($steel, 20%);
            border-right: 2px solid lighten($steel, 20%);
            padding: 0 10px;

            @include media-query(tablet-landscape) {
                display: block;
            }

            @include media-query(desktop) {
                padding: 0 20px;
            }
        }
    }

    &__link-primary {
        font-size: 18px;
        width: 100%;
        display: inline-block;
        padding: 12px 0;
        border-bottom: 1px solid $brand-grey;
        font-weight: $weight-bold;
        position: relative;
        z-index: 1;

        &:hover {
            cursor: default;
        }

        @include media-query(tablet-landscape) {
            font-weight: $weight-normal;
            display: inline;
            padding: 0 0 18px;
            border-bottom: 3px solid transparent;
            transition: border-bottom $transition;
        }
        
        @include media-query(desktop) {
            &.is-active {
                border-bottom: 3px solid $yellow;
            }
        }
    }

    &__link-secondary {
        padding: 10px 0 10px 15px;
        transition: left $transition;
        display: inline-block;
        width: 100%;
        position: relative;
        border-bottom: 1px solid $brand-grey;
        left: 0;

        @include media-query(tablet-landscape) {
            padding: 10px 0 10px 0;
            border-bottom: 0;
            display: inline;
            width: auto;

            &:hover {
                left: 10px;
            }
        }
    }

    &__link-tertiary {
        font-size: 14px;
        font-weight: $weight-normal;
        padding: 10px 0 10px 25px;
        transition: padding $transition;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $brand-grey;

        @include media-query(tablet-landscape) {
            border-bottom: 0;
            padding: 5px 0 5px 35px;
            width: auto;

            &:hover {
                padding-left: 40px;
            }
        }
    }

    &__icon {
        fill: $steel;
        width: 20px;
        height: 20px;
        transition: fill $transition;

        &:hover {
            cursor: pointer;
        }

        .is-active & {
            fill: $green;
        }

        .header__link:hover & {
            fill: $green;
            cursor: pointer;
        }

        &--search-mobile {
            fill: $green;
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }

        &--close {
            font-size: 40px;
            position: absolute;
            top: 0;
            right: 20px;
        }

        &--mobile-nav {
            fill: none;
            stroke: $yellow;
            stroke-width: 2px;
            position: absolute;
            right: 0;
            top: 5px;
            transition: transform 0.25s ease-out;
            height: 35px;
            padding: 0 10px;
            width: 40px;
        

            .is-open > & {
                transform: rotate(180deg);
            }

            @include media-query(tablet-landscape) {
                display: none;
            }
        }
    }

    &__search-bar {
        position: absolute;
        width: 100%;
        background: $white-95;
        left: 0;
        padding: 25px;
        display: flex;

        &--desktop {
            text-align: center;
            display: none;
            z-index: 10;
        }

        &--mobile {
            height: 100vh;
            top: 0;
            z-index: -1;
            opacity: 0;
            align-items: center;
            justify-content: center;
            transition: z-index, opacity $transition;

            &.is-visible {
                z-index: 15;
                opacity: 1;
            }
        }
    }

    &__mobile-icons {
        display: flex;
        margin: 15px 5px 0;

        @include media-query(tablet-landscape) {
            display: none;
        }
    }

    &__nav-overlay {
        position: absolute;
        background: $white-95;
        top: 153px; // header height
        width: 100%;
        height: 60vh;
        left: 0;
        right: 0;
        z-index: -1;
        display: block;
        opacity: 0;
        transition: z-index, opacity, height, 0.25s ease-in-out;

        @include media-query(tablet-landscape) {
            &.is-visible {
                z-index: 5;
                opacity: 1;
                height: 65vh;
            }   
        }
    }

    &__social-icons {
        padding: 30px 0 10px;

        @include media-query(tablet-landscape) {
            padding: 0;
        }
    }
}
