.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    background: $white;

    &__logo {
        margin-right: 20px;

        @include media-query(tablet-landscape) {
            flex-basis: 20%;
            margin-right: 0;
        }
    }

    &__row {
        display: none;
        position: absolute;
        top: 0;
        background: $light-grey;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 20px;
        left: 0;
        flex-direction: column;
        text-align: center;

        @include media-query(tablet-landscape) {
            justify-content: flex-end;
            align-items: flex-end;
            display: flex;
            padding-left: 20px;
            position: relative;
            bottom: initial;
            left: initial;
            background: transparent;
            padding: 0;
            flex-direction: row;
        }
    }

    &__nav {
        display: flex;
        margin: 0;
        flex-direction: column;

        @include media-query(tablet-landscape) {
            flex-direction: row;
        }
    }

    &__nav-item {
        margin-right: 15px;

        @include media-query(tablet-landscape) {
            margin-right: 20px;
        }

        @include media-query(desktop) {
            margin-right: 30px;
        }
    }

    &__link {
        margin-right: 10px;

        @include media-query(desktop) {
            margin-right: 20px;
        }

        &--search {
            border-left: 2px solid lighten($steel, 20%);
            border-right: 2px solid lighten($steel, 20%);
            padding: 0 10px;

            @include media-query(desktop) {
                padding: 0 20px;
            }
        }
    }

    &__icon {
        fill: $steel;
        width: 20px;
        height: 20px;
        transition: fill $transition;

        &:hover {
            cursor: pointer;
        }

        .is-active & {
            fill: $green;
        }

        .header__link:hover & {
            fill: $green;
            cursor: pointer;
        }

        &--search-mobile {
            fill: $green;
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }

        &--close {
            font-size: 40px;
            position: absolute;
            top: 0;
            right: 20px;
        }
    }

    &__search-bar {
        position: absolute;
        width: 100%;
        background: $light-grey;
        left: 0;
        padding: 25px;
        display: flex;

        &--desktop {
            text-align: center;
            display: none;
            z-index: 10;
        }

        &--mobile {
            height: 100vh;
            top: 0;
            z-index: -1;
            opacity: 0;
            align-items: center;
            justify-content: center;
            transition: z-index, opacity $transition;

            &.is-visible {
                z-index: 15;
                opacity: 1;
            }
        }
    }

    &__mobile-icons {
        display: flex;

        @include media-query(tablet-landscape) {
            display: none;
        }
    }
}
