.slider-container {
    min-height: 340px;
    position: relative;
    margin: 2rem 0;

    @include media-query(tablet-landscape) {
        margin-bottom: 4rem;
      }
}

.slider {
    $nav-border: 3px solid $white;
    display: flex;
    position: relative;
    flex-direction: column;

    &__image {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__item {
        min-width: 100vw;
        min-height: 80vh;
        position: relative;

        @include media-query(tablet-portrait) {
            min-height: 80vh;
        }

        @include media-query(container) {
            min-height: 95vh;
        }

        @include media-query(desktop-wide) {
            min-height: 50vh;
        }

        &::before {
            background: linear-gradient(
                to bottom,
                transparent 60%,
                $black-60 90%
            );
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        padding-bottom: 2rem;
        color: $white;
        font-weight: $weight-bold;

        @include media-query(tablet-portrait) {
            padding: 4rem;
            width: 60%;
        }

        @include media-query(container) {
            width: $mid-width;
            margin: 4rem auto 6rem auto;
            padding: 0;

            > * {
                width: 40%;
            }
        }
    }

    &__title {
        color: $yellow;

        @include media-query(container) {
            margin-bottom: 0.5rem;
        }
    }

    &__textbox {
        margin-top: auto;
        padding: 1rem;
        font-weight: $weight-normal;
        color: $green;
        background-color: $light-grey;
        opacity: 0.9;
        z-index: 3;

        .slider__title {
            color: $green;
            margin-bottom: 0.5rem;
        }
    }

    &__text {
        margin-bottom: 2rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: calc(50% - 2rem);
        right: 0;
        left: 0;
        z-index: 2;
    }

    &__nav-left,
    &__nav-right {
        height: 2rem;
        width: 2rem;
        cursor: pointer;

        @include media-query(container) {
            height: 3rem;
            width: 3rem;
        }
    }

    &__nav-left {
        margin-left: 2rem;
        border-bottom: $nav-border;
        border-left: $nav-border;
        transform: rotate(45deg);
    }

    &__nav-right {
        margin-right: 2rem;
        border-top: $nav-border;
        border-right: $nav-border;
        transform: rotate(45deg);
    }
}
