<div class="slider-container">
    <div class="js-slider slider owl-slider">
      <div class="slider__item">
          <img class="slider__image" src="https://placehold.it/350x800" alt="">
          <div class="slider__content">
              <h3 class="slider__title">Lorem ipsum dolor sit amet</h3>
              <p>Praesent eu dignissim purus, sed hendrerit purus. Nam et lectus placerat, faucibus lectus quis, consequat lorem.</p>

              <div class="slider__textbox">
                  <h4 class="slider__title">Lorem ipsum</h4>
                  <p class="slider__text">Donec sit amet ipsum vitae dolor ornare feugiat auctor ac purus. Vivamus gravida dui at accumsan vulputate. Sed at viverra tellus.</p>
                  {% include 'atoms-link--with-arrow' %}
              </div>
          </div>
      </div>
      <div class="slider__item">
          <img class="slider__image" src="https://placehold.it/350x800" alt="">
          <div class="slider__content">
              <h3 class="slider__title">Lorem ipsum dolor sit amet</h3>
              <p>Praesent eu dignissim purus, sed hendrerit purus. Nam et lectus placerat, faucibus lectus quis, consequat lorem.</p>

              <div class="slider__textbox">
                  <h4 class="slider__title">Lorem ipsum</h4>
                  <p class="slider__text">Donec sit amet ipsum vitae dolor ornare feugiat auctor ac purus. Vivamus gravida dui at accumsan vulputate. Sed at viverra tellus.</p>
                  {% include 'atoms-link--with-arrow' %}
              </div>
          </div>
      </div>
      <div class="slider__item">
          <img class="slider__image" src="https://placehold.it/350x800" alt="">
          <div class="slider__content">
              <h3 class="slider__title">Lorem ipsum dolor sit amet</h3>
              <p>Praesent eu dignissim purus, sed hendrerit purus. Nam et lectus placerat, faucibus lectus quis, consequat lorem.</p>

              <div class="slider__textbox">
                  <h4 class="slider__title">Lorem ipsum</h4>
                  <p class="slider__text">Donec sit amet ipsum vitae dolor ornare feugiat auctor ac purus. Vivamus gravida dui at accumsan vulputate. Sed at viverra tellus.</p>
                  {% include 'atoms-link--with-arrow' %}
              </div>
          </div>
      </div>
    </div>
    <div class="slider__nav js-slider__nav--full-width"></div>
</div>
