.arrow {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    transition: margin $transition;

    &::before {
        content: '';
        width: 20px;
        background: $yellow;
        height: 2px;
        float: left;
    }

    &::after {
        content: '';
        border: solid $yellow;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(-45deg);
        margin-left: -10px;
    }

    .article-card & {
        position: absolute;
        bottom: 40px;
    }

    .article-card:hover & {
        margin-left: 20px;
    }
}
