{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    
    {# Hero section #}
    {% include "includes/hero_image_section.html" %}

    <section class="section--partners">

        <div class="wrapper wrapper--bottom-space">
            {% block breadcrumbs %} 
                {% include "navigation/breadcrumbs.html" %} 
            {% endblock %}
        </div>
        {% image page.introduction_customisations.image max-100x100 as intro_image %}
        <div class="wrapper wrapper--small wrapper--bottom-space-xl large-text"
             style="{% if intro_image %}background:url({{ intro_image.url }}){% endif %}">
            <p>{{ page.introduction }}</p>
        </div>
        {% if page.partners.exists %}
            {% image page.partner_customisations.image max-100x100 as partner_background %}  
            <div class="media-block-container media-block-container--partners"
                 style="{% if partner_background %}background:url({{ partner_background.url }}){% endif %}">
                {# Partners exist #}
                {% for partner in page.partners.all %}
                    {% if partner.show_on_index %}
                        {% include "includes/partner_card.html" with partner=partner %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {# No Partners Yet #}
        {% endif %}
    </section>

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}
    
{% endblock %}
