{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    
    {# Hero section #}
    {% include "includes/hero_image_section.html" %}

    {# Hero section #}
    {% include "includes/hero_image_section.html" %}

    <section class="section section--partners">
        <div class="wrapper wrapper--medium wrapper--bottom-space-xl">
            <p>{{ page.introduction }}</p>
        </div>
        {% if page.partners.exists %}
            <div class="media-block-container">
                {# Partners exist #}
                {% for partner in page.partners.all %}
                    {% if partner.show_on_index %}
                        {% include "includes/partner_card.html" with partner=partner %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {# No Partners Yet #}
        {% endif %}
    </section>

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}
    
{% endblock %}
