.body-text-container {
    @include background-container;
    margin-bottom: 0;
}

.body-text {
    @include body-container;
    padding: 0;

    .template-article-page & {
        padding: 0;
    }

    h2,
    h3,
    h4 {
        color: var(--heading-hex, $yellow);
    }
}
