.cta {
    position: relative;
    max-width: 1800px;
    margin: 0 auto;

    &__image {
        display: block;
        width: 100%;
        object-fit: cover;
        min-height: 275px;

        @include media-query(tablet-portrait) {
            min-height: 400px;
        }

        @include media-query(tablet-landcsape) {
            min-height: 500px;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        padding: 10px;
        text-align: center;

        > h2 {
            margin: 0;
        }
    }

    &__title {
        color: $white;
        line-height: 1;
    }

    &__summary {
        color: $yellow;
        margin-bottom: 30px;

        .rich-text {
            font-size: inherit;
        }
    }

    .link {
      color: $green;
      @include media-query(tablet-landcsape) {
        color: $white;
      }
    }
}
