<div class="cta">
    <img class="cta__image" src="https://placehold.it/1800x600" alt="">
    <div class="cta__content">
        <h3 class="cta__title">Rerum doloremque saepe vero</h3>
        <h3 class="cta__summary">Blandi tiis inventore</h3>
        {% include 'atoms-link--boxed' %}
    </div>
</div>
