{% load wagtailimages_tags %}

{% if request.user_agent.is_pc or request.user_agent.is_tablet %}
    {% image value.customisation.background_image max-1800x400 jpegquality-60 as bg_img %}
{% elif request.user_agent.is_mobile %}
    {% image value.customisation.background_image max-900x200 jpegquality-60 as bg_img %}
{% endif %}

<div class="body-text-container" style="{% if bg_img %}background-image:url({{ bg_img.url }});{% endif %}
       {% if value.customisation.background_hex %}background-color:{{ value.customisation.background_hex }};{% endif %}">
    <div class="body-text"
         style="{% if value.customisation.body_heading_hex %}--heading-hex: {{value.customisation.body_heading_hex}}{% endif %}">
        {{ value.body }}
    </div>
</div>
