{% load wagtailcore_tags wagtailimages_tags %}

<div class="cta">
    {% image value.image original class="cta__image" %}

    <div class="cta__content">
        <h2 class="cta__title">{{ value.title }}</h2>
        <h2 class="cta__summary">{{ value.summary }}</h2>

        {% if value.link_page %}
            <a class="link link--boxed" href="{{ value.link_page.href }}">
                {{ value.get_link_text }}
                <span></span>
                <span></span>
            </a>
        {% elif value.link_url  %}
            <a class="link link--boxed" href="{{ value.link_url }}">
                {{ value.get_link_text }}
                <span></span>
                <span></span>
            </a>
        {% endif %}
    </div>
</div>
