{% load wagtailcore_tags wagtailimages_tags %}

{% if request.user_agent.is_pc %}
    {% image page.call_to_action.image fill-1800x600 as cta_image %}
{% else %}
    {% image page.call_to_action.image fill-900x300 jpegquality-60 as cta_image %}
{% endif %}

<div class="cta">

    <div class="cta__content">
        <h3 class="cta__title">{{ value.title }}</h3>
        <h3 class="cta__summary">{{ value.summary }}</h3>

        {% if value.link_page %}
            <a class="link link--boxed" href="{{ value.link_page.href }}">
                {{ value.get_link_text }}
                <span></span>
                <span></span>
            </a>
        {% elif value.link_url  %}
            <a class="link link--boxed" href="{{ value.link_url }}">
                {{ value.get_link_text }}
                <span></span>
                <span></span>
            </a>
        {% endif %}
    </div>
</div>
