{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
    <div class="carousel-row carousel-row--full-width">
        {% image value.image original as carousel_image %}
        <img src="{{ carousel_image.url }}" alt="{{ carousel_image.alt }}" class="carousel-row__image">

        <p>{{ value.label }}</p>

        <h2>{{ value.title }}</h2>

        {# text is RichText #}
        <p>{{ value.text }}</p>

        {# template for this is in link_block.html #}
        <p>{% include_block value.link %}</p>
    </div>