{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

<div class="carousel-container js-carousel-container">
    <div class="carousel js-carousel">
      {% if request.user_agent.is_pc or request.user_agent.is_tablet %}
        {% for carousel_item in value %}
            {% include_block carousel_item with desktop=True %}
            {# found in carousel_item_block.html #}
        {% endfor %}
      {% elif request.user_agent.is_mobile %}
        {% for carousel_item in value %}
            {% include_block carousel_item %}
            {# found in carousel_item_block.html #}
        {% endfor %}
      {% endif %}
    </div>
</div>
