{% load wagtailcore_tags wagtailimages_tags %}
<div class="media-card">
    {% if value.title %}
        <h3>{{ value.title }}</h3>
    {% elif value.logo %}
        {% image value.logo max-40x40 as logo %}
         <img src="{{ logo.url }}" alt="{{ logo.alt }}">
    {% endif %}

    {% image value.image fill-1600x500 as fw_image %}
    <img src="{{ fw_image.url }}" alt="{{ fw_image.alt }}" class="media-card__image">

    <div class="media-card__content">
        <h4 class="media-card__label">{{ value.label }}</h4>

        {# text is RichText #}
        {{ value.text }}

        {# template for this is in link_block.html #}
        {% include_block value.link %}
    </div>

</div>
