{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
    <div class="quote">
        {% if value.image %}
            {% image value.image fill-790x400 as quote_image %}
            <img class="quote__image" src="{{ quote_image.url }}" alt="{{ quote_image.alt }}">
        {% endif %}

        <div class="quote__content
            {% if value.link_block.external_link %}
                quote__content--has-link
            {% elif value.link_block.internal_link %}
                quote__content--has-link
            {% elif value.link_block.document_link %}
                quote__content--has-link
            {% else %}

            {% endif %}
        ">
            {% if value.title %}
                <h4 class="quote__title">{{ value.title }}</h4>
            {% endif %}

            <blockquote class="quote__copy">
                {{ value.text }}
            </blockquote>

            {% if value.citation %}
                <span class="quote__cite">{{ value.citation }}</span>
            {% endif %}

            {% if value.link_block.external_link %}
                {# template for this is in link_block.html #}
                {% include_block value.link_block %}
            {% elif value.link_block.internal_link %}
                {% include_block value.link_block %}
            {% elif value.link_block.document_link %}
                {% include_block value.link_block %}
            {% else %}
            {% endif %}
        </div>
    </div>
