{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
    {# text colour within div should inherit from here if value.text_hex if set #}
    {# drop shadow within div should inherit from here if value.drop_shadow_is_on if set #}
    <div class="quote">
        {% if value.image %}
            {% image value.image fill-790x400 class="quote__image" %}
        {% endif %}

        <div class="quote__content
            {% if value.link_block.external_link %}
                quote__content--has-link
            {% elif value.link_block.internal_link %}
                quote__content--has-link
            {% elif value.link_block.document_link %}
                quote__content--has-link
            {% endif %}
        ">
            {% if value.title %}
                <h4 class="quote__title" {% if heading_hex %}style="color: {{ heading_hex }};"{% endif %}>{{ value.title }}</h4>
            {% endif %}

            <blockquote class="quote__copy">
                <!-- <span class="quote__mark"
                      {% if value.quote_mark_hex %}style="color: {{ value.quote_mark_hex }};"{% endif %}>&ldquo;</span> -->
                    <div {% if value.drop_shadow_options.text_hex %}style="text-shadow: 0px 0px 30px {{ value.drop_shadow_options.text_hex }};"{% endif %}>{{ value.text }}</div>
                <!-- <span class="quote__mark"
                      {% if value.quote_mark_hex %}style="color: {{ value.quote_mark_hex }};"{% endif %}>&rdquo;</span> -->
            </blockquote>

            {% if value.citation %}
                <span class="quote__cite">{{ value.citation }}</span>
            {% endif %}

            {% if value.link_block.external_link %}
                {# template for this is in link_block.html #}
                {% include_block value.link_block %}
            {% elif value.link_block.internal_link %}
                {% include_block value.link_block %}
            {% elif value.link_block.document_link %}
                {% include_block value.link_block %}
            {% else %}
            {% endif %}
        </div>
    </div>
