{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
    <div class="quote">
        {% if value.image %}
            {% image value.image fill-657x400 as quote_image %}
            <img class="quote__image" src="{{ quote_image.url }}" alt="{{ quote_image.alt }}">
        {% endif %}

        <div class="quote__content">
            <h4 class="quote__title">{{ value.title }}</h4>

            <blockquote class="quote__copy"{% if value.link %} cite="{{ value.link }}"{% endif %}>
                {{ value.text }}
            </blockquote>

            {% if value.citation %}
                {% if value.link and value.citation %}
                    <a class="quote__cite" href="{{ value.link }}"> {{ value.citation }} </a>
                {% elif value.citation %}
                    {{ value.citation }}
                {% else %}
                    {# No citation or citation link included #}
                {% endif %}
            {% endif %}
        </div>
    </div>
