{% load wagtailcore_tags wagtailimages_tags %}
    <div class="stat-block">
        <div class="stat-block__content">
            <p class="stat-block__label">{{ value.title }}</p>
            <h3>{{ value.statistic_value }}{{ value.statistic_units }}</h3>
            <p>{{ value.description }}</p>

            {% if value.link_page %}
                <a class="stat-block__cite" href="{{ value.link_page.href }}">{{ value.get_link_text }}</a>
            {% elif value.link_url  %}
                <a class="stat-block__cite" href="{{ value.link_url.href }}">{{ value.get_link_text }}</a>
            {% endif %}
        </div>
    </div>
