{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
{% image value.customisation.background_image max-1800x400 as bg_img %}
<section class="section section--statistics section--bottom-space"
         style="{% if bg_img %}background-image:url({{ bg_img.url }});{% endif %}
                {% if value.customisation.background_hex %}background-color:{{ value.customisation.background_hex }};{% endif %}">
    {# Rows are to have a maximum of 3 list items per row #}
    {% if value.title %}
        <h3 {% if value.customisation.heading_hex %}style="color:{{ value.customisation.heading_hex }};"{% endif %}>{{ value.title }}</h3>
    {% endif %}

    <div class="stat-block-container grid grid--three wrapper wrapper--mid">
        {% for item in value.statistics %}
            {% include "blocks/statistic_item_block.html" with value=item heading_hex=value.customisation.heading_hex %}
            {# found in statistic_item_block.html #}
        {% endfor %}
    </div>

    {% if value.link.external_link %}
        {# template for this is in link_block.html #}
        <div class="wrapper wrapper--center">
            {% include_block value.link %}
        </div>
    {% elif value.link.internal_link %}
        <div class="wrapper wrapper--center">
            {% include_block value.link %}
        </div>
    {% elif value.link.document_link %}
        <div class="wrapper wrapper--center">
            {% include_block value.link %}
        </div>
    {% else %}
    {% endif %}
</section>
