.article-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;

    @include media-query(mob-landscape) {
        justify-content: center;
        flex-direction: row;
    }
}

.article-card {
    color: $green;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px;
    max-width: 380px;

    &:hover {
        cursor: pointer;
    }

    @include media-query(tablet-portrait) {
        margin: 0 10px 20px;
    }

    @include media-query(tablet-landscape) {
        max-width: 32%;

        &:nth-child(3n+1) {
            margin: 0 10px 20px 0;
        }

        &:nth-child(3n+2) {
            margin: 0 10px 20px;
        }

        &:nth-child(3n+3) {
            margin: 0 0 20px 10px;
        }
    }

    &__content {
        @include font-size(20px, 25px);
        background: $light-grey;
        padding: 30px;
        min-height: 280px;
        position: relative;
        font-weight: $weight-bold;
        display: block;
    }

    &__date {
        color: $mid-grey;
    }

    &__category {
        border-bottom: 1px solid $yellow;
        margin-right: 10px;
    }

    &__copy {
        margin-top: 15px;
    }

    &__copy,
    &__date,
    &__category {
        font-size: 14px;
        font-weight: $weight-normal;
    }

    &__title {
        font-weight: $weight-medium;
        margin-top: 15px;
        line-height: 1.3;
    }
}
