<a class="article-card">
    <img src="http://placehold.it/380x255" alt="">
    <div class="article-card__content" href="#">
        <div>
            <span class="article-card__category">Lorem Ipsum</span>
            <span class="article-card__date">26.08.17</span>
        </div>
        <div>Distinctio ab deserunt nobis illum reprehenderit</div>
        <div class="arrow"></div>
    </div>
</a>
