.article-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.article-card {
    margin-bottom: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;

    @include media-query(mob-landscape) {
        margin-bottom: 20px;

        &:nth-child(2n + 1) {
            padding: 0 1.5rem 20px 0;
        }

        &:nth-child(2n + 2) {
            padding: 0 0 20px 1.5rem;
        }
    }

    @include media-query(container) {
        &:nth-child(3n + 1) {
            padding: 0 1.5rem 20px 0;
        }

        &:nth-child(3n + 2) {
            padding: 0 0.75rem 20px 0.75rem;
        }

        &:nth-child(3n + 3) {
            padding: 0 0 20px 1.5rem;
        }
    }

    &__title {
        @include large-text;
        margin: 1rem 0;
        font-weight: $weight-bold;
    }

    &__heading {
        margin-bottom: 0.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $light-grey;
        padding: 30px;
        flex-grow: 1;
        font-weight: $weight-medium;
        -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
        -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
    }

    &__date {
        color: $mid-grey;
    }

    &__category {
        border-bottom: 1px solid $yellow;
        margin-right: 10px;
    }

    &__copy {
        @include small-text;
        font-weight: $weight-normal;
    }

    img {
        width: 100%;
    }
}
