<div class="article-card">
    <img src="http://placehold.it/380x255" alt="">
    <div class="article-card__copy">
        <div>
            <span class="article-card__category">Lorem Ipsum</span>
            <span class="article-card__date">26.08.17</span>
        </div>
        <a class="article-card__link" href="#">Distinctio ab deserunt nobis illum reprehenderit</a>
        <div class="arrow"></div>
    </div>
</div>
