{% extends "base.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}{% if search_query %}Search results for &ldquo;{{ search_query }}&rdquo;{% else %}Search{% endif %}{% endblock %}

{% block content %}

<section class="hero hero--search">
    <form class="form form--search-results" action="#" method="get" role="search">
        <input class="input input--search" type="text" placeholder="Search" name="query" value="">
        <button class="button" type="submit">
            <svg class="button--search-icon">
                <use xlink:href="#magnifying-glass"></use>
            </svg>
        </button>
    </form>
</section>

<div class="wrapper wrapper--small-medium wrapper--top-bottom-space">
    <h4 class="heading heading--bottom-space heading--medium">
    {% if search_query %}
        {% with count=search_results.paginator.count %}  
            {{ count }} search result{{ count|pluralize }} 
        {% endwith %} 
        for &ldquo;{{ search_query }}&rdquo;{% else %}Search
    {% endif %}
    </h4>

    {% get_search_promotions search_query as search_picks %}
    {% if search_picks %}
         <ul>
            {% for pick in search_picks %}
                <li class="search-result">
                    {% include "search/includes/search_result.html" with result=pick.page.specific %}
                </li>
             {% endfor %}
         </ul>
    {% endif %}

    {% if search_results %}

        <ul>
            {% for result in search_results %}
                <li class="search-result">
                    {% include "search/includes/search_result.html" with result=result.specific %}
                </li>
            {% endfor %}
        </ul>

        {% include "includes/pagination.html" with subpages=search_results %}

    {% elif search_query and not search_picks %}
        No results found.
    {% endif %}
</div>
{% endblock %}
