<div class="grid grid--three">
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
    {% include 'molecules-list-item' %}
</div>
