<a href="#" class="link link--icon-first">
    <svg height="20px" width="15px" viewBox="0 0 14.57 19.98">
        <use xlink:href="#download-icon-blue"></use>
    </svg>
    <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </span>
</a>
