<a href="#" class="link link--pagination">
    <svg width="15px" height="15px" viewBox="0 0 10.1 15.72">
       <use xlink:href="#chevron-left-white"></use>
    </svg>
</a>

<a href="#" class="link link--pagination">
    <svg width="15px" height="15px" viewBox="0 0 10.1 15.72">
       <use xlink:href="#chevron-right-white"></use>
    </svg>
</a>
