.link {
    &--pagination {
        transition: background 0.25s ease;
        background: $light-blue;
        display: inline-block;
        padding: 15px;

        &:hover {
            cursor: pointer;
            background: lighten($light-blue, 10%);
        }
    }

    &--social {
        display: flex;

        a {
            transition: background 0.25s ease;
            background: $dark-orange;
            padding: 15px;

            &:hover {
                background: lighten($dark-orange, 10%);
            }

            .footer & {
                margin-right: 5px;
            }
        }

        svg {
            width: 20px;
        }
    }

    &--icon-first {
        background: $concrete;
        padding: 20px;
        color: $navy-blue;
        display: inline-flex;
        align-items: center;

        @include media-query(mob-landscape) {
            background: transparent;
            padding: 0;
        }

        > span {
            color: $navy-blue;
        }

        > svg {
            margin-right: 10px;
        }
    }

    &--presentation {
        margin-bottom: 1rem;

        > a {
            color: $light-blue;
            font-weight: $weight-semibold;
        }
    }
}
