<div class="link link--presentation">
    <a href="#">
        {{ presentation.title|default('Lorem ipsum dolor sit amet') }}
    </a>
    <div>{{ presentation.description|default('Lorem ipsum dolor sit amet') }}</div>
</div>
