{% include 'organisms-header' %}

{% include 'molecules-hero--video' %}

<section class="section section--partners">

    {% include 'atoms-breadcrumbs' %}

    <h2 class="section__title">Our partners</h2>
    <div class="media-block-container">
        {% include 'organisms-media-block' %}
        {% include 'organisms-media-block' %}
    </div>
</section>

{% include 'organisms-articles' %}

{% include 'organisms-footer' %}
