<nav role="navigation" aria-label="Pagination">
    <ul class="pagination">
        <li><a class="link link--underlined" href="#">previous</a></li>
        <li class="current">1/10</li>
        <li><a class="link link--underlined" href="#">next</a></li>
    </ul>
</nav>
