<nav role="navigation" aria-label="Pagination">
    <div class="pagination">
        <div class="pagination__item">
            <a class="pagination__prev">
                <div class="link__arrow"></div>
                <span class="pagination__label">Previous page</span>
            </a>
        </div>

        <div class="pagination__item">
            <div class="pagination__pages">
                1/10
            </div>
        </div>

        <div class="pagination__item">
            <a class="pagination__next">
                <span class="pagination__label">Next page</span>
                <div class="link__arrow"></div>
            </a>
        </div>
    </div>
</nav>
