<div class="video-container js-video">
  <video class="video" poster="http://placehold.it/790x450">
    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="video__play-button"></div>
  <div class="video__caption">Lorem ipsum dolor sit amet, consectetur elit similique quas.</div>
</div>
