.quote-container {
    @include mid-container;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: stretch;
    flex-wrap: wrap;
}

.quote {
    align-self: stretch;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    color: $white;
    background: $black-10;

    @include media-query(tablet-landscape) {
        margin-bottom: 3rem;
    }

    &:nth-child(odd) {
        @include media-query(tablet-portrait) {
            width: calc(50% - 1.5rem);
            margin-right: 1.5rem;
        }

        &:last-child,
        &:only-child {
            // TODO:: ADD CONTAINER WIDTH
            width: 100%;
            margin-right: 0;
        }
    }

    &:nth-child(even) {
        @include media-query(tablet-portrait) {
            width: calc(50% - 1.5rem);
            margin-left: 1.5rem;
        }
    }

    &--drop-shadow {
        border: 6px solid red;

        .quote__copy {
            text-shadow: 0px 0px 70px rgba(0, 0, 0, 0.8);
        }
    }

    &__image {
        min-width: 100%;

        + .quote__content {
            position: absolute;
            bottom: 0;
            background: transparent;
        }
    }

    &__content {
        position: relative;
        padding: 10px;

        @include media-query(mob-landscape) {
            padding: 1rem;
        }

        @include media-query(tablet-landscape) {
            padding: 2rem;
        }

        &--has-link {
            bottom: 0;
            padding: 2rem 2rem 40px;
            margin-bottom: -60px;
            transition: margin-bottom 0.25s ease-in-out;

            @include media-query(tablet-landscape) {
                position: absolute;
            }

            .quote:hover & {
                margin-bottom: 0;
            }
        }
    }

    &__copy {
        @include font-size(16px, 25px);
        position: relative;
        margin: 0 0 5px;
        border: 0;
        color: inherit;

        @include media-query(tablet-landscape) {
            padding: 0 0 0 5rem;
        }

        * {
            display: inline;
            margin-bottom: 0;
            text-shadow: inherit;
            font-size: inherit;
        }

        &::before,
        &::after {
            // TODO JUMBO & TEXT SIZE
            color: var(--quote-mark-hex, $yellow);
            font-size: 32px;
            line-height: 0;
            letter-spacing: 0;
            vertical-align: -0.5rem;

            @include media-query(tablet-landscape) {
                font-size: 100px;
                vertical-align: -0.5em;
            }
        }

        &::before {
            position: absolute;
            padding-top: 1rem;
            left: 1rem;
            display: inline-block;
            height: 100%;
            content: '“';

            @include media-query(tablet-landscape) {
                padding-top: 2rem;
                left: 2rem;
            }
        }

        &::after {
            content: '”';
        }
    }

    &__cite {
        padding-left: 5rem;
        font-size: 12px;
        font-weight: 400;
        color: inherit;
    }

    &--gradient {
        &::before {
            background: linear-gradient(
                to bottom,
                transparent 60%,
                $black-70 90%
            );
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
