<div class="quote-container">
    <div class="quote quote--drop-shadow">
        <img class="quote__image" src="https://placehold.it/790x400" alt="">
        <div class="quote__content quote__content--has-link">
            <blockquote cite="#" class="quote__copy">Lorum recusandae ea porro error totam debitis velit obcaecati</blockquote>
            <span class="quote__cite">Totam Debitis, Obcaecati, amet.</span>
            <a class="link link--with-arrow" href="#">This is the link
                <div class="link__arrow"></div>
            </a>
        </div>
    </div>

    <div class="quote quote--gradient">
        <img class="quote__image" src="https://placehold.it/790x400" alt="">

        <div class="quote__content">
            <blockquote cite="#" class="quote__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ratione recusandae ea porro error totam
                debitis velit obcaecati.</blockquote>
            <span class="quote__cite">Totam Debitis, Obcaecati, amet 36</span>
        </div>
    </div>

    <div class="quote">
        <img class="quote__image" src="https://placehold.it/790x200" alt="">
        <div class="quote__content">
            <blockquote cite="#" class="quote__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ratione recusandae ea porro error totam
                debitis velit obcaecati.</blockquote>
            <span class="quote__cite">Totam Debitis, Obcaecati, amet 36</span>
        </div>
    </div>
</div>
