<div class="quote-container">
    <div class="quote">
        <img class="quote__image" alt="">

        <div class="quote__content quote__content--has-link">
            <h4 class="quote__title">Quote with a link</h4>
            <blockquote cite="#" class="quote__copy">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ratione recusandae ea porro error totam debitis velit obcaecati.&rdquo;</blockquote>
            <span class="quote__cite">Totam Debitis, Obcaecati, amet 36</span>
            <a class="link link--with-arrow" href="#">This is the link
                <div class="link__arrow"></div>
            </a>
        </div>
    </div>

    <div class="quote">
        <img class="quote__image" src="https://placehold.it/790x400" alt="">
        <div class="quote__mask">HII</div>
        <div class="quote__content">
            <h4 class="quote__title">Quote without a link</h4>
            <blockquote cite="#" class="quote__copy">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ratione recusandae ea porro error totam
                debitis velit obcaecati.&rdquo;</blockquote>
            <span class="quote__cite">Totam Debitis, Obcaecati, amet 36</span>
        </div>
    </div>
</div>
