<div class="quote-container">
    <div class="quote">
        <img src="https://placehold.it/657x400" alt="">

        <div class="quote__content">
            <blockquote cite="#" class="quote__copy">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ratione recusandae ea porro error totam debitis velit obcaecati.&rdquo;</blockquote>
            <a href="#" class="quote__cite">Totam Debitis, Obcaecati, amet 36</a>
        </div>

    </div>

    <div class="quote">
        <img src="https://placehold.it/657x400" alt="">

        <div class="quote__content">
            <blockquote cite="#" class="quote__copy">&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ratione recusandae ea porro error totam debitis velit obcaecati.&rdquo;</blockquote>
            <a href="#" class="quote__cite">Totam Debitis, Obcaecati, amet 36</a>
        </div>

    </div>
</div>
