.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $wrapper--large;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;

    @include media-query(tablet-landscape) {
        flex-direction: row;
    }
}

.quote {
    position: relative;
    max-width: 657px;
    margin-bottom: 2rem;
    overflow: hidden;

    &::before {
        background: linear-gradient(to bottom, transparent 60%, $black-60 90%);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:nth-child(odd) {
        @include media-query(tablet-landscape) {
            margin-right: 10px;
        }
    }

    &:nth-child(even) {
        @include media-query(tablet-landscape) {
            margin-left: 10px;
        }
    }

    &:only-child {
        max-width: $wrapper--small;
        margin: 0;
    }

    &--drop-shadow {
        text-shadow: 0px 0px 70px rgba(0, 0, 0, 0.8);
    }

    &__image {
        + .quote__content {
            position: absolute;
            bottom: 0;
            background: transparent;
        }
    }

    &__content {
        position: relative;
        padding: 10px;
        background: $mid-grey;

        @include media-query(mob-landscape) {
            padding: 1rem;
        }

        @include media-query(tablet-landscape) {
            padding: 2rem;
        }

        &--has-link {
            padding: 2rem 2rem 40px;
            margin-bottom: -60px;
            transition: margin-bottom 0.25s ease-in-out;

            .quote:hover & {
                margin-bottom: 0;
            }
        }
    }

    &__copy {
        color: $white;
        margin: 0 0 5px;
        padding: 0;
        border: 0;

        * {
            font-size: inherit;
            margin-bottom: 0;
        }
    }

    &__title {
        color: $yellow;
    }

    &__cite {
        @include small-text;
        font-weight: 400;
        color: $light-grey;
    }
}
