<div class="listing-details">
    <p class="listing-detail listing-detail--posted">
        <svg class="listing-detail__icon listing-detail__icon--posted">
            <use xlink:href="#posted"></use>
        </svg>
        <span><b>Posted</b> August 4, 2017</span>
    </p>

    <p class="listing-detail listing-detail--author">
        <svg class="listing-detail__icon listing-detail__icon--author">
            <use xlink:href="#author"></use>
        </svg>
        <span><b>Author</b> Firstname Surname</span>
    </p>
</div>
