<nav role="navigation" aria-label="Primary">
    <ul class="header__nav-primary" role="menubar">
        <li class="header__nav-item-primary header__nav-item-primary-parent" role="presentation">
            <a class="header__link-primary" href="#"role="menuitem">Where we work</a>
            <svg class="js-mobile-dropdown header__icon header__icon--mobile-nav"><use xlink:href="#chevron"></use></svg>
            {% include 'organisms-nav-secondary' %}
        </li>
        <li class="header__nav-item-primary header__nav-item-primary-parent" role="presentation">
            <a class="header__link-primary" href="#"role="menuitem">What we do</a>
            <svg class="js-mobile-dropdown header__icon header__icon--mobile-nav"><use xlink:href="#chevron"></use></svg>            
            {% include 'organisms-nav-secondary' %}
        </li>
        <li class="header__nav-item-primary" role="presentation">
            <a class="header__link-primary" href="#"role="menuitem">Lorem ipsum</a>
        </li>
        <li class="header__nav-item-primary" role="presentation">
            <a class="header__link-primary" href="#"role="menuitem">Who we are</a>
        </li>
        <li class="header__nav-item-primary" role="presentation">
            <a class="header__link-primary" href="#"role="menuitem">Stories</a>
        </li>
    </ul>
</nav>
