<nav role="navigation" aria-label="Primary">
    <ul class="header__nav-primary" role="menubar">
        <li class="header__nav-item-primary header__nav-item-primary-parent" role="presentation">
            <span class="header__link-primary">Where we work</span>
            <svg class="header__icon header__icon--mobile-nav"><use xlink:href="#chevron"></use></svg>
            {% include 'organisms-nav-secondary' %}
        </li>
        <li class="header__nav-item-primary header__nav-item-primary-parent" role="presentation">
            <span class="header__link-primary">What we do</span>
            <svg class="js-mobile-dropdown header__icon header__icon--mobile-nav"><use xlink:href="#chevron"></use></svg>            
            {% include 'organisms-nav-secondary' %}
        </li>
        <li class="header__nav-item-primary" role="presentation">
            <span class="header__link-primary">Lorem ipsum</span>
        </li>
        <li class="header__nav-item-primary" role="presentation">
            <span class="header__link-primary">Who we are</span>
        </li>
        <li class="header__nav-item-primary" role="presentation">
            <span class="header__link-primary">Stories</span>
        </li>
    </ul>
</nav>
