.carousel-container {
    position: relative;
}

.carousel {
    &__item {
        position: relative;

        &::before {
            content: '';
            background: linear-gradient(to top, $black-40, $black-05 35%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__image {
        max-height: 800px;

        @supports (object-fit: cover) {
            object-fit: cover;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        z-index: 2;

        @include media-query(tablet-portrait) {
            padding: 2rem;
        }

        h2 {
            margin: 0;
            max-width: 100%;
            padding: 0;
        }

        p,
        a {
            color: $white;
        }
    }

    &__title {
        @include font-size(18px, 65px);
        color: $white;
    }

    &__label {
        @include font-size(16px, 45px);
        color: $yellow;
    }

    &__nav {
        > div {
            height: 30px;
        }

        &--full-width {
            position: absolute;
            bottom: 0;
            z-index: 1;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem;
            display: none;
            right: 0;

            @include media-query(tablet-portrait) {
                display: flex;
                font-size: 3rem;
                padding: 30px 45px;
            }
        }
    }

    &__nav-left,
    &__nav-right {
        width: 30px;
        fill: $yellow;
        transition: fill $transition;
        cursor: pointer;
        height: 30px;

        &:hover {
            fill: darken($yellow, 10%);
        }
    }

    &__nav-left {

    }

    &__nav-right {
        transform: rotate(180deg);
        margin-left: 20px;
    }
}
