.carousel-container {
    position: relative;
    margin-bottom: 3rem;
}

.carousel {
    &--home-desktop {
        position: relative;
        overflow: hidden;
        min-height: 340px;
        margin: 4rem auto;
        display: none;

        border: 5px solid red;

        @include media-query(tablet-portrait) {
            display: block;
            min-height: 700px;
        }

        &::after {
            background: linear-gradient(to bottom, transparent 80%, $black 90%);
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        min-height: 340px;
        margin: 4rem auto 0;
        display: block;
        max-height: 800px;

        &::after {
            background: linear-gradient(to bottom, transparent 80%, $black 90%);
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    &--home-mobile {
        margin: 2rem auto;
        display: block;
        position: relative;

        @include media-query(tablet-portrait) {
            display: none;
        }

        &::before {
            content: '';
            background: linear-gradient(
                to bottom,
                transparent 80%,
                $black-90 90%
            );
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        min-height: 340px;
        width: 100%;
        object-fit: cover;

        @include media-query(tablet-portrait) {
            min-height: 700px;
        }

        &--hidden {
            position: absolute;
            top: 0;
            left: 100%;
            transition: left $transition;

            &.is-visible {
                left: 0;
            }

            @include media-query(tablet-portrait) {
                opacity: 0;
                transition: opacity $transition;
                left: auto;
            }
        }

        &--main {
            opacity: 1;
            transition: opacity $transition;
            visibility: hidden;
            z-index: -1;

            @include media-query(tablet-portrait) {
                visibility: visible;
            }
        }

        &.is-visible {
            left: 0;

            @include media-query(tablet-portrait) {
                opacity: 1;
            }
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        z-index: 2;

        @include media-query(tablet-portrait) {
            padding: 2rem;
        }

        h2 {
            margin: 0;
            max-width: 100%;
            padding: 0;
        }

        p,
        a {
            color: $white;
        }
    }

    &__title {
        color: $white;
    }

    &__label {
        color: $yellow;
    }

    &__nav {
        > div {
            height: 30px;
        }

        &--full-width {
            position: absolute;
            bottom: 0;
            z-index: 1;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem;
            display: none;
            right: 0;

            @include media-query(tablet-portrait) {
                @include x-large-text;
                display: flex;
                padding: 30px 45px;
            }
        }
    }

    &__nav-left,
    &__nav-right {
        width: 30px;
        fill: $yellow;
        transition: fill $transition;
        cursor: pointer;
        height: 30px;

        &:hover {
            fill: darken($yellow, 10%);
        }
    }

    &__nav-right {
        transform: rotate(180deg);
        margin-left: 20px;
    }

    &__inner {
        max-width: 750px;
    }

    &__panels {
        display: none;
        position: absolute;
        bottom: 30px;
        width: 90%;
        align-items: flex-end;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 5;

        @include media-query(tablet-portrait) {
            display: flex;
        }
    }

    &__panel {
        padding: 20px;
        flex: 1;
        background: transparent;
        transition: height, background, $transition;
        height: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &:hover {
            background: $white-90;
            height: 220px;
        }
    }

    &__panel-mobile {
        position: relative;
        min-height: 400px;
        padding: 1rem;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 400px;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__panel-title {
        color: $white;
        transition: color $transition;
        font-weight: $weight-medium;

        .carousel__panel:hover & {
            color: $green;
        }

        .carousel__panel-mobile & {
            color: $green;
        }
    }

    &__panel-content {
        color: $green;
        transition: opacity $transition;

        @include media-query(tablet-portrait) {
            opacity: 0;
            display: none;
        }

        .is-expanded & {
            display: block;
            opacity: 1;
        }
    }

    &__panel-content-mobile {
        background: $white-90;
        padding: 1.5rem;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        margin-top: auto;
    }

    &__home-title {
        width: 100%;
        color: $yellow;
        margin-bottom: 0.5rem;

        &--mobile {
            top: 50px;
            left: 50px;
            transform: translate(0);
            text-align: left;
        }
    }

    &__home-text {
        color: $white;
    }

    &__icon {
        fill: none;
        stroke: $yellow;
        stroke-width: 3px;
        position: absolute;
        right: 0;
        height: 35px;
        width: 15px;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        bottom: 50px;
        opacity: 1;
        transition: opacity, bottom $transition;

        .is-expanded & {
            opacity: 0;
            bottom: 210px;
        }
    }
}
