.carousel-container {
    position: relative;
}

.carousel {
    &--home {
        position: relative;
        overflow: hidden;
    }

    &__item {
        position: relative;

        &::before {
            content: '';
            background: linear-gradient(to bottom, transparent 80%, $black 100%);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__image {
        max-height: 700px;
        object-fit: cover;

        &--hidden {
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity $transition;
        }

        &--main {
            opacity: 1;
            transition: opacity $transition;
        }

        &.is-visible {
            opacity: 1;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        z-index: 2;

        @include media-query(tablet-portrait) {
            padding: 2rem;
        }

        h2 {
            margin: 0;
            max-width: 100%;
            padding: 0;
        }

        p,
        a {
            color: $white;
        }
    }

    &__title {
        @include font-size(18px, 65px);
        color: $white;
    }

    &__label {
        @include font-size(16px, 45px);
        color: $yellow;
    }

    &__nav {
        > div {
            height: 30px;
        }

        &--full-width {
            position: absolute;
            bottom: 0;
            z-index: 1;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem;
            display: none;
            right: 0;

            @include media-query(tablet-portrait) {
                display: flex;
                font-size: 3rem;
                padding: 30px 45px;
            }
        }
    }

    &__nav-left,
    &__nav-right {
        width: 30px;
        fill: $yellow;
        transition: fill $transition;
        cursor: pointer;
        height: 30px;

        &:hover {
            fill: darken($yellow, 10%);
        }
    }

    &__nav-right {
        transform: rotate(180deg);
        margin-left: 20px;
    }

    &__inner {
        max-width: 750px;
    }

    &__panels {
        display: flex;
        position: absolute;
        bottom: 30px;
        width: 90%;
        align-items: flex-end;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &__panel {
        padding: 20px;
        flex: 1;
        background: transparent;
        transition: height, background, $transition;
        height: 70px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &:hover {
            background: $white-90;
            height: 200px;
        }
    }

    &__panel-title {
        color: $yellow;
        transition: color $transition;

        .carousel__panel:hover & {
            color: $green;
        }
    }

    &__panel-content {
        opacity: 0;
        display: none;
        color: $green;
        transition: opacity $transition;

        .is-expanded & {
            display: block;
            opacity: 1;
        }
    }
}
