<div class="carousel carousel--home">  
  <img class="carousel__image carousel__image--main" src="https://picsum.photos/1600/800?image=0" alt="">
  <img data-image="1" class="carousel__image carousel__image--hidden" src="https://picsum.photos/1600/800?image=0" alt="">
  <img data-image="2" class="carousel__image carousel__image--hidden" src="https://picsum.photos/1600/800?image=1" alt="">
  <img data-image="3" class="carousel__image carousel__image--hidden" src="https://picsum.photos/1600/800?image=2" alt="">

  <div class="carousel__panels">

    <div data-panel="1" class="carousel__panel">
      <h4 class="carousel__panel-title">Our Approach</h4>
      <div class="carousel__panel-content">
          <p>Tempor exercitation duis amet sunt pariatur duis voluptate ipsum.</p>
          {% include 'atoms-arrow' %}
      </div>
      
    </div>

    <div data-panel="2" class="carousel__panel">
      <h4 class="carousel__panel-title">Brands for social change</h4>
      <div class="carousel__panel-content">
          <p>Tempor exercitation duis amet sunt pariatur duis voluptate ipsum.</p>
          {% include 'atoms-arrow' %}
      </div>
    </div>

    <div data-panel="3" class="carousel__panel">
      <h4 class="carousel__panel-title">Brands for social change</h4>
      <div class="carousel__panel-content">
          <p>Tempor exercitation duis amet sunt pariatur duis voluptate ipsum.</p>
          {% include 'atoms-arrow' %}
      </div>
    </div>

  </div>
</div>

