<div class="carousel-container">
    <div class="js-carousel--full-width carousel owl-carousel">

        <div class="carousel__item">
            <img src="https://placehold.it/1600x800" class="carousel__image" alt="">

            <div class="carousel__content">
                <h3 class="carousel__label">Sit amet</h3>

                <div class="carousel__inner">
                    <h2 class="carousel__title">Quidem alias tue</h2>

                    <p>Ramet officia quaerat adipisci nobis similique iste? Nostrum expedita numquam aliquid laborum</p>

                    {% include 'atoms-link--with-arrow' %}
                </div>
            </div>
        </div>

        <div class="carousel__item">
            <img src="https://placehold.it/1600x800" class="carousel__image" alt="">

            <div class="carousel__content">
                <h3 class="carousel__label">Sit amet</h3>

                <div>
                    <h2 class="carousel__title">Quidem alias tue</h2>

                    <p class="carousel__copy">Ramet officia quaerat adipisci nobis similique iste? Nostrum expedita numquam aliquid laborum</p>

                    {% include 'atoms-link--with-arrow' %}
                </div>
            </div>
        </div>

        <div class="carousel__item">
            <img src="https://placehold.it/1600x800" class="carousel__image" alt="">

            <div class="carousel__content">
                <h3 class="carousel__label">Sit amet</h3>

                <div>
                    <h2 class="carousel__title">Quidem alias tue</h2>

                    <p class="carousel__copy">Ramet officia quaerat adipisci nobis similique iste? Nostrum expedita numquam aliquid laborum</p>

                    {% include 'atoms-link--with-arrow' %}
                </div>
            </div>
        </div>

    </div>
    <div class="js-full-width-nav carousel__nav carousel__nav--full-width"></div>
</div>
