<div class="search">
    <button class="search__close" aria-label="close"></button>

    <div class="search__inner">
        <div class="search__input-section">
            <input class="search__input" type="text" placeholder="Start Typing" />
            <button class="search__submit"></button>
        </div>

        <div class="search__results-section">
            <h3 class="search__results-heading">Frequently Searched</h3>

            <ul class="search__results">
                <li class="search__results__result">
                    <a href="/">Big Lottery Fund</a>
                </li>
                <li class="search__results__result">
                    <a href="/">Life Chances Fund</a>
                </li>
                <li class="search__results__result">
                    <a href="/">How to Guide</a>
                </li>
                <li class="search__results__result">
                    <a href="/">Resources</a>
                </li>
                <li class="search__results__result">
                    <a href="/">Team</a>
                </li>
                <li class="search__results__result">
                    <a href="/">Newsletter</a>
                </li>
            </ul>
        </div>
    </div>
</div>