{% include 'organisms-header' %}

{% include 'molecules-hero' %}

<section class="section section--partners">
  <div class="wrapper wrapper--medium wrapper--bottom-space-xl">
    <p>Exercitation labore exercitation voluptate pariatur.</p>
  </div>
    <div class="media-block-container">
      {% include 'organisms-media-block' %}
      {% include 'organisms-media-block' %}
      {% include 'organisms-media-block' %}
      {% include 'organisms-media-block' %}
    </div>
</section>

{% include 'organisms-footer' %}

