.footer {
    background: $concrete;
    padding: 0.5rem 1rem;
    text-align: center;

    .template-404 & {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    @include media-query(tablet-landscape) {
        text-align: left;
        padding: 1rem 2rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;

        @include media-query(mob-landscape) {
            flex-direction: row;
        }
    }

    &__nav-item {
        margin-bottom: 10px;

        @include media-query(mob-landscape) {
            margin-right: 20px;
        }

        @include media-query(tablet-landscape) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            border-bottom: 2px solid transparent;
            transition: border 0.3s ease;
            padding-bottom: 3px;

            &:hover {
                border-color: $yellow;
            }
        }
    }

    &__link {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        transition: fill $transition;
        fill: $steel;

        .footer__link:hover & {
            fill: $green;
        }
    }

    &__social-icons {
        margin: 10px 0 20px;
    }
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include media-query(tablet-landscape) {
        flex-direction: row;

        &:first-child {
            margin-bottom: 2rem;
        }

        > p:first-child {
            margin-right: 20px;
        }
    }

    &--small {
        @include sub-text;
    }
}
