<footer class="footer">
    <div class="footer-row">
        <nav role="navigation" aria-label="Secondary">
            <ul class="footer__nav">
                <li class="footer__nav-item"><a href="#">Lorem ipsum</a></li>
                <li class="footer__nav-item"><a href="#">Lorem ipsum</a></li>
                <li class="footer__nav-item"><a href="#">Lorem ipsum</a></li>
                <li class="footer__nav-item"><a href="#">Lorem ipsum</a></li>
                <li class="footer__nav-item"><a href="#">Lorem ipsum</a></li>
            </ul>
        </nav>

        <div>
            <a class="footer__link" href="#">
                <svg class="footer__icon"><use xlink:href="#facebook"></use></svg>
            </a>
            <a class="footer__link" href="#">
                <svg class="footer__icon"><use xlink:href="#instagram"></use></svg>
            </a>
            <a class="footer__link" href="#">
                <svg class="footer__icon"><use xlink:href="#twitter"></use></svg>
            </a>
            <a class="footer__link" href="#">
                <svg class="footer__icon"><use xlink:href="#linkedin"></use></svg>
            </a>
        </div>
    </div>

    <div class="footer-row footer-row--small">
        <nav role="navigation" aria-label="Tertiary">
            <ul class="footer__nav">
                <li class="footer__nav-item"><a href="">Lorem ipsum</a></li>
                <li class="footer__nav-item"><a href="">Lorem ipsum</a></li>
                <li class="footer__nav-item"><a href="">Lorem ipsum</a></li>
            </ul>
        </nav>
        <div class="footer-row" role="contentinfo">
            <p>Lusto No. 075123456</p>
            <p>Pariatur No. 789456102</p>
        </div>
    </div>
</footer>
