{% load wagtailcore_tags wagtailimages_tags %}

{% if request.user_agent.is_pc %}
    {% image page.call_to_action.image fill-1800x600 as cta_image %}
{% else %}
    {% image page.call_to_action.image fill-900x300 jpegquality-60 as cta_image %}
{% endif %}

<div class="cta">
    <img alt="cta_image.alt" class="cta__image" src="{{ cta_image.url }}">

    <div class="cta__content">
        <h3 class="cta__title">{{ page.call_to_action.title }}</h3>
        <h3 class="cta__summary">{{ page.call_to_action.summary }}</h3>

        {% if page.call_to_action.link_page %}
            <a class="link link--boxed" href="{{ page.call_to_action.link_page.href }}">
                {{ page.call_to_action.get_link_text }}
                <span></span>
                <span></span>
            </a>
        {% elif page.call_to_action.link_url  %}
            <a class="link link--boxed" href="{{ page.call_to_action.link_url }}">
                {{ page.call_to_action.get_link_text }}
                <span></span>
                <span></span>
            </a>
        {% elif page.call_to_action.link_email  %}
            <a class="link link--boxed" href="mailto:{{ page.call_to_action.link_email }}">
                {{ page.call_to_action.link_text }}
                <span></span>
                <span></span>
            </a>
        {% endif %}
    </div>
</div>
