{% load wagtailimages_tags %}

{% comment %}<!--
  No Checks For Network Connection
  10 MB -> 10485760 Bytes {{feature_image.file.size|filesizeformat}} -->
{% endcomment %}
{% if video %}
  {% if request.user_agent.is_pc or request.user_agent.is_tablet %}
    {% image feature fill-1700x960 jpegquality-60 as feature_image %}
    <video class="hero__video" autoplay loop muted preload poster="{{ feature_image.url }}">
      <source src="{{ video.file.url }}" type="video/mp4">
    </video>
  {% elif request.user_agent.is_mobile %}
    {% image feature fill-850x490 jpegquality-60 as feature_image %}
    {% if video.file.size <= 10485760 %}
      <video class="hero__video" controls playsinline loop muted preload="none" poster="{% if feature_image.file.size <= 10485760 %}{{ feature_image.url }}{% endif %}">
        <source src="{{ video.file.url }}" type="video/mp4">
      </video>
    {% endif %}
  {% endif %}
{% elif feature_image %}
  {% if request.user_agent.is_mobile %}
    {% if feature_image.file.size <= 10485760 %}<img class="hero__image" src="{{ feature_image.url }}">{% endif %}
  {% else %}
    <img class="hero__image" src="{{ feature_image.url }}">
  {% endif %}
{% endif %}
