{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags static %}
{# Hero section - section includes links #}
    <section class="hero">
        {# Hero video include #}
        {% include "includes/hero_video.html" with video=page.hero_video feature=page.hero_fallback_image %}

        <div class="hero__content hero__content--centered">
            {% if page.hero_logo %}
                {% image page.hero_logo max-700x120 as hero_logo %}
                <img class="hero__logo" src="{{ hero_logo.url }}" alt="">
            {% elif page.hero_strapline %}
                <h2 class="hero__strapline" {% if page.hero_strapline_hex %}style="color:{{ page.hero_strapline_hex }};"{% endif %}>
                    {{ page.hero_strapline }}
                </h2>
            {% endif %}

            {# Link field to video or page #}
            {% if page.link_page or page.link_youtube %}
                {% if page.link_page %}

                    <a class="link link--boxed" href="{{ page.link_page.url }}">
                        {{ page.get_link_text }}
                        <span></span>
                        <span></span>
                    </a>
                {% elif page.link_youtube  %}
                    <a class="link link--boxed js-modal" href="#js-modal">
                        {{ page.get_link_text }}
                        <span></span>
                        <span></span>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </section>

    {% if page.link_youtube %}
        <div class="modal modal--hidden" id="js-modal" aria-modal="true">
            {% embed page.link_youtube %}
        </div>
    {% endif %}
