{% load wagtailcore_tags wagtailimages_tags static %}

{% if request.user_agent.is_pc or request.user_agent.is_tablet %}
    {% image page.hero_image fill-1800x400 as hero_image %}
{% elif request.user_agent.is_mobile %}
    {% image page.hero_image fill-900x200 jpegquality-60 as hero_image %}
{% endif %}

<section class="hero">
    {% if page.hero_image %}
        <img alt="hero_image.alt" class="hero__image" src="{{ hero_image.url }}">
    {% endif %}

    {% if page.hero_strapline %}
    <h1 class="hero__heading"
        {% if page.hero_strapline_hex %}style="color:{{ page.hero_strapline_hex }};"{% endif %}>
            {{ page.hero_strapline|richtext }}
    </h1>
    {% endif %}
</section>