{% load wagtailcore_tags wagtailimages_tags %}
{% if page.related_documents.exists %}
<section class="section section--downloads">
    {# Related Documents #}
    <div class="wrapper wrapper--mid article-download">
        <svg class="article-download__icon">
            <use xlink:href="#download-file"></use>
        </svg>
        <div>
            <h4>Related Downloads</h4>
            <ul class="list list--download">
                {% for related_document in page.related_documents.all %} {% with related_document.document as document %}
                    <li>
                        {% if related_document.title %}
                            <a href="{{ document.file.url }}" target="_blank">
                                {{ related_document.title }}
                            </a>
                            <span>{{ document.file_extension }}</span>
                        {% else %}
                            <a href="{{ document.file.url }}" target="_blank">
                                {{ document.filename }}
                            </a> {% endif %}
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>


{% endif %}



{% if page.related_pages.live.public %}

    <section class="section section--articles">
        <h2 class="section__title">Related News &amp; Stories</h2>
        <div class="article-container wrapper wrapper--mid">
            {# Related pages #}
            {% for related_page in page.related_pages.live %}
                {# a related_page object links to the original page (related_page.source_page) and a related one (related_page.page) #}
                {% with related_page.page as specific_related_page %}

                <div class="article-card">
                    {% if specific_related_page.listing_image %}
                        {% image specific_related_page.listing_image fill-380x225 %}
                    {% endif %}
                    <div class="article-card__copy">
                        <a class="article-card__link" href="{% pageurl specific_related_page %}">
                            {% if specific_related_page.listing_title %}
                                {{ specific_related_page.listing_title }}
                            {% else %}
                                {{ specific_related_page.title }}
                            {% endif %}

                            {% if specific_related_page.listing_summary %}
                                <p>{{ specific_related_page.listing_summary }}</p>
                            {% endif %}

                         </a>
                         <div class="arrow"></div>
                     </div>
                </div>

                {% endwith %}
            {% endfor %}
        </div>

        <div class="wrapper wrapper--center">
            <a class="link link--boxed link--center" href="/stories">
                See all news
                <span></span>
                <span></span>
            </a>
        </div>
    </section>
{% endif %}
