{% load wagtailcore_tags wagtailimages_tags %}

<div class="statistic-column">
    {{ page.statistic.title }}

    <span>{{ page.statistic.statistic_page.statistic }} {{ page.statistic.statistic_units }}</span>

    {# RichText #}
    {{ page.statistic.description }}

    {% if page.statistic.link_page %}
        <a href="{{ page.statistic.link_page.href }}">{{ page.statistic.get_link_text }}</a>
    {% elif page.statistic.link_url  %}
        <a href="{{ page.statistic.link_url.href }}">{{ page.statistic.get_link_text }}</a>
    {% endif %}
</div>