<ul class="list list--bulleted">
    <li>Nesciunt unde esse quia impedit ratione minus</li>
    <li>Nesciunt unde esse quia impedit ratione minus</li>
    <li>Nesciunt unde esse quia impedit ratione minus</li>
    <li>Nesciunt unde esse quia impedit ratione minus</li>
</ul>
