{% load wagtailimages_tags %}
    <a class="article-card" href="{{person.url}}">
        {% if person.photo %}
            {% image person.photo fill-385x255 as person_photo %}
            <img src='{{ person_photo.url }}'>
        {% endif %}
        <div class="article-card__content">
            {% if person.job_title %}
                <p class="article-card__date">{{ person.job_title }}</p>
            {% endif %}
            <h4>{{ person.first_name }} {{ person.last_name }}</h4>
            {% if person.introduction %}
                <p class="article-card__copy">{{ person.introduction|truncatechars_html:145 }}</p>
            {% endif %}

            {% if person.email %}
                <p class="article-card__copy">{{ person.email }}</p>
            {% endif %}
        </div>
    </a>
