.footer {
    position: relative;
    min-height: 650px;
    margin-top: 4rem;

    > svg {
        position: relative;

        // sass-lint:disable no-vendor-prefixes
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            // Fix for IE 11 which is not honouring the SVG width/height
            height: 750px;
        }
    }

    &__background-1 {
        isolation: isolate;
    }

    &__background-2,
    &__background-3 {
        fill: $light-blue;

        .template--listings-page &,
        .template--standard-page & {
            fill: $purple;
        }

        .template--projects-page &,
        .template--search-page & {
            fill: $blue;
        }

        .template--journey-page & {
            fill: $green;
        }

        .template--contact-page & {
            fill: $aqua;
        }
    }

    &__background-3 {
        opacity: 0.2;
    }

    &__background-4,
    &__background-6 {
        fill: $light-blue;
        mix-blend-mode: multiply;
    }

    &__background-4 {
        fill-opacity: 0.5;
    }

    &__background-5 {
        fill: $navy-blue;
        opacity: 1;

        @include media-query(tablet-portrait) {
            opacity: 0.8;
        }
    }

    &__background-6 {
        fill-opacity: 0.9;
    }

    &__inner {
        background: $navy-blue;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 2rem;
        position: absolute;
        top: 45px;
        width: 100%;
        min-height: calc(100% - 15%);
        max-width: 1350px;
        margin: 0 auto;
        left: 0;
        right: 0;

        @include media-query(mob-landscape) {
            top: 15%;
        }

        @include media-query(tablet-landscape) {
            padding: 2rem 4rem 0;
        }

        @include media-query(desktop) {
            background: transparent;
            padding: 2rem 8rem 0;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;

        @include media-query(tablet-portrait) {
            flex-direction: row;
            margin-bottom: 0.5rem;
        }

        &:nth-of-type(3) {
            .footer__nav:last-child {
                border-bottom: 1px solid $regent-grey;

                @include media-query(tablet-portrait) {
                    border: 0;
                }
            }
        }

        &:first-child {
            margin-bottom: 30px;

            @include media-query(tablet-portrait) {
                justify-content: space-between;
            }
        }

        &:last-child {
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            text-align: center;

            @include media-query(mob-landscape) {
                text-align: left;
            }

            @include media-query(tablet-portrait) {
                margin-bottom: 0;
            }
        }
    }

    &__heading {
        margin-bottom: 0;

        &--nav {
            margin: 0;
            border-top: 1px solid $regent-grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            @include media-query(tablet-portrait) {
                border: 0;
                padding-bottom: 0;
            }
        }

        &--last {
            border-bottom: 1px solid $regent-grey;
        }
    }

    &__nav {
        position: relative;

        @include media-query(tablet-portrait) {
            flex-basis: calc(100% / 3);
            padding-right: 10px;
        }
    }

    &__subnav {
        display: none;
        margin: 0;
        padding: 15px 0;
        border-top: 1px solid $regent-grey;

        @include media-query(tablet-portrait) {
            display: block;
            border-top: 0;
            padding-top: 10px;
        }

        li {
            margin-bottom: 0.6rem;
        }

        a {
            color: $white-70;
            font-weight: 300;
        }
    }

    &__credits {

        a {
            color: $white-70;
            display: inline-block;
            margin-right: 15px;
        }
    }
}
