<footer class="footer">
    {% spaceless %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1283.02 710.97" preserveAspectRatio="xMinYMin slice">
            <g class="footer__background-1">
                <path class="footer__background-2" d="M1283,27.6C440.71,27.6,1.19,250.11,1.19,250.11V711H1283Z"/>
                <path class="footer__background-3" d="M1281.19,0C438.87,0,.64,250.11.64,250.11V711H1281.19Z"/>
                <path class="footer__background-4" d="M1281.74,711H1.74V106.49S343.4,294,1281.74,64.41Z"/>
                <rect class="footer__background-5" y="106.24" width="1281.83" height="604.72"/>
                <path class="footer__background-6" d="M1283,351.41C440.71,351.41,1.19,686.62,1.19,686.62V711H1283Z"/>
            </g>
        </svg>
    <div class="footer__inner">
        <div class="footer__row">
            <div>
                <h4>Subsribe to our newsletter</h4>
                <form action="#" method="post">
                    {% include "atoms-input--with-button" %}
                </form>
            </div>
            <div>
                <h4>Follow Us</h4>
                {% include "atoms-link--social" %}
            </div>
        </div>
        <div class="footer__row">
            <div class="footer__nav">
                <h4 class="footer__heading footer__heading--nav">
                    <span>The Basics</span>
                </h4>
                {% include "atoms-mobile-nav-toggle" %}
                <ul class="footer__subnav">
                    <li><a href="#">Intro to OBC/SIBs</a></li>
                    <li><a href="#">Glossary of Key Terms</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>

            <div class="footer__nav">
                <h4 class="footer__heading footer__heading--nav">
                    <span>Journey Map</span>
                </h4>
                {% include "atoms-mobile-nav-toggle" %}
                <ul class="footer__subnav">
                    <li><a href="#">Test Feasibility</a></li>
                    <li><a href="#">Develop the Business Case</a></li>
                    <li><a href="#">Manage the Contract</a></li>
                    <li><a href="#">Implementation</a></li>
                </ul>
            </div>

            <div class="footer__nav">
                <h4 class="footer__heading footer__heading--nav">
                    <span>Resources</span>
                </h4>
                {% include "atoms-mobile-nav-toggle" %}
                <ul class="footer__subnav">
                    <li><a href="#">Databases</a></li>
                    <li><a href="#">GO Lab Technical Guides</a></li>
                    <li><a href="#">Templates</a></li>
                    <li><a href="#">Policy Briefs</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__row">
            <div class="footer__nav">
                <h4 class="footer__heading footer__heading--nav">
                    <span>Projects &amp; Case Studies</span>
                </h4>
                {% include "atoms-mobile-nav-toggle" %}
                <ul class="footer__subnav">
                    <li><a href="#">Database of SIB projects</a></li>
                    <li><a href="#">Case Studies</a></li>
                </ul>
            </div>

            <div class="footer__nav">
                <h4 class="footer__heading footer__heading--nav">
                    <span>Advice</span>
                </h4>
                {% include "atoms-mobile-nav-toggle" %}
                <ul class="footer__subnav">
                    <li><a href="#">Book for Advice Surgeries</a></li>
                </ul>
            </div>

            <div class="footer__nav">
                <h4 class="footer__heading footer__heading--nav">
                    <span>Our Research</span>
                </h4>
                {% include "atoms-mobile-nav-toggle" %}
                <ul class="footer__subnav">
                    <li><a href="#">Approach and Research</a></li>
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Publications</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__row">
            <div class="footer__credits">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
                <a href="#">Contact Us</a>
            </div>
            <p>Copyright &copy; 2017, Government Outcomes Lab</p>
        </div>
    </div>
    {% endspaceless %}
</footer>
