/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* ============================================
    Media Query mixin
*/

@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in $breakpoints {
            $name: nth($breakpoint, 1);
            $declaration: nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

/* ============================================
  Placeholder text
*/

@mixin placeholder-text {
    // sass-lint:disable no-vendor-prefixes
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
    // sass-lint:enddisable
}

/* ============================================
  iOS Native vertical scroll
*/

@mixin native-vertical-scroll {
    position: relative; // Ensures container is considered the offsetParent() in JS
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-misspelled-properties
}

/* ============================================
   Aligner: placeholder class used to align
   components at the template-level
   For want of a better place to put this I've left it here:
*/

@mixin aligner {
    max-width: $max-width;
    margin: 0 auto;
}

/* ============================================
   Viewport sized typography mixin that takes a min and max pixel-based value
*/

@mixin font-size($min, $max) {
    $vw-context: (1366 * 0.1) * 1px;
    $responsive: ($max / $vw-context) * 10vw;

    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
    }

    font-size: $responsive;
}

@mixin jumbo-text {
    @include font-size(21px, 115px);
    font-weight: $weight-bold;
    line-height: 1.08;
}

@mixin x-large-text {
    @include font-size(34px, 45px);
    line-height: 1.1;
}

@mixin large-text {
    @include font-size(19px, 25px);
    line-height: 1.16;
}

@mixin small-text {
    font-size: 16px;
    line-height: 1;
}

/* ============================================
   Container widths
*/

// TODO:: Update mobile margins when we have confirmation from GE

@mixin mid-container {
    margin-left: 1rem;
    margin-right: 1rem;

    @include media-query(tablet-portrait) {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @include media-query(tablet-portrait) {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @include media-query(desktop) {
        margin: 0 auto;
        max-width: $mid-width;
    }
}

@mixin body-container {
    margin-left: 1rem;
    margin-right: 1rem;

    @include media-query(tablet-portrait) {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @include media-query(tablet-portrait) {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    @include media-query(desktop) {
        margin: 0 auto;
        max-width: $body-width;
    }
}
