/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/* ============================================
   Colours
*/

// Colour variables
$black: #000;
$white: #fff;
$green: #2f6165;
$yellow: #ffc700;
$light-grey: #f4f4f3;
$mid-grey: #767676;
$concrete: #e5e5e5;
$steel: #afafaf;
$brand-grey: #dad9d6;

// Asignment
$color--primary: $green;
$color--body: $mid-grey;

$black: #000;
$black-90: rgba($black, 0.9);
$black-80: rgba($black, 0.8);
$black-70: rgba($black, 0.7);
$black-60: rgba($black, 0.6);
$black-50: rgba($black, 0.5);
$black-40: rgba($black, 0.4);
$black-30: rgba($black, 0.3);
$black-20: rgba($black, 0.2);
$black-10: rgba($black, 0.1);
$black-05: rgba($black, 0.05);

$white: #fff;
$white-90: rgba($white, 0.9);
$white-80: rgba($white, 0.8);
$white-70: rgba($white, 0.7);
$white-60: rgba($white, 0.6);
$white-50: rgba($white, 0.5);
$white-40: rgba($white, 0.4);
$white-30: rgba($white, 0.3);
$white-20: rgba($white, 0.2);
$white-10: rgba($white, 0.1);
$white-05: rgba($white, 0.05);

/* ============================================
   Typography
   :: Default to system font stack
*/
$font-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;

$weight-bold: 700;
$weight-semibold: 600;
$weight-medium: 500;
$weight-normal: 400;
$weight-light: 300;

/* ============================================
   Max widths and wrappers
*/
$mid-width: 1172px;
$body-width: 768px;

/* ============================================
   Breakpoints
*/
$breakpoints: (
    'mob-portrait' '(min-width: 320px)',
    'mob-landscape' '(min-width: 480px)',
    'tablet-portrait' '(min-width: 768px)',
    'tablet-landscape' '(min-width: 1024px)',
    'container' '(min-width: 1172px)',
    'desktop' '(min-width: 1366px)',
    'deskop-wide' '(min-width: 2556px)'
);

/* ============================================
   Transition speeds
*/
$anim--speed: 600ms;
$anim--ease: ease-in-out;

$transition: 0.25s ease-out;
$transition--link-boxed: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
