.breadcrumb-container {
    display: flex;
    align-items: center;
    max-width: $body-width;
    margin: 0 auto;
    padding: 20px 20px 0;

    .search-result & {
        padding: 20px 0 0;
    }

    @include media-query(tablet-landscape) {
        padding: 50px 0 0;

        .search-result & {
            padding: 0;
        }
    }
}

.breadcrumb {
    @include small-text;
    display: inline-block;
    padding-right: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    position: relative;

    &::after {
        content: '';
        width: 6px;
        height: 6px;
        background: transparent;
        border-top: 2px solid $mid-grey;
        border-right: 2px solid $mid-grey;
        box-shadow: 0 0 0 transparent;
        right: 0;
        transform: translate3d(0, -50%, 0) rotate(45deg);
        position: absolute;
        bottom: 1px;
    }
}
