<article class="news-tile">
    <a class="news-tile__link" href="#">
        <span class="news-tile__image" style="background-image: url('https://placehold.it/485x160');"></span>
        <div class="news-tile__content">
            <h3 class="news-tile__title">
                <span>The GO Lab welcomes its new Director</span>
                <svg class="news-tile__chevron">
                    <use xlink:href="#chevron-right-white"></use>
                </svg>
            </h3>

            {% include "atoms-listing-details" %}

        </div>
    </a>
</article>
