{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <section class="hero">
        <h1 class="hero__heading">{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h1>
    </section>

    <section class="section">
        <div class="wrapper wrapper--medium wrapper--bottom-space">
            {# Intro is RichText #}
            {{ page.introduction|richtext }}

            <form method="GET">
                <select name="category">
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.0 }}" {% if request.GET.category == category.0|slugify %}selected="selected"{% endif %}>{{ category.1 }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        {% if articles %}

            <div class="article-container wrapper wrapper--medium">
                {% for article in articles %}
                    <a class="article-card" href="{% pageurl article %}">
                        {% if article.listing_image %}
                            {% image article.listing_image fill-380x225 %}
                        {% endif %}
                        <div class="article-card__content">
                            <span class="article-card__date">{{ article.display_date }}</span>
                            {% if article.listing_title %}
                                <div>{{ article.listing_title }}</div>
                            {% else %}
                                <div>{{ article.title }}</div>
                            {% endif %}
                            {% if article.listing_summary %}
                                <p>{{ article.listing_summary }}</p>
                            {% endif %}
                            <div class="arrow"></div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="wrapper wrapper--medium">
                {% include "includes/pagination.html" %}
            </div>
        {% else %}
            {# no items #}
        {% endif %}
    </section>
{% endblock %}
