{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Title and introduction section #}

    <section class="hero">
        <h1 class="hero__heading">{{ page.title }}</h1>
    </section>

    <section class="wrapper wrapper--small wrapper--top-bottom-space">
        <p>{{ page.display_date }} by {% if page.author %}{{ page.author }}{% else %} Girl Effect Team{% endif %}.</p>
        <u>{{ page.categories.first.category }}</u>
        <h3 class="heading">{{ page.introduction }}</h3>
    </section>

    {# Streamfield options #}
    <section class="body">
        {{ page.body }}
    </section>

    <section class="wrapper wrapper--small">
        {% include "includes/relatedcontent.html" %}
    </section>

{% endblock %}
