{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <h1>{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h1>

    {# Intro is RichText #}
    {{ page.introduction|richtext }}

    <section class="listing">
        <form method="GET">
            <select name="category">
                <option value="">All</option>
                {% for category in categories %}
                    <option value="{{ category.0 }}" {% if request.GET.category == category.0|slugify %}selected="selected"{% endif %}>{{ category.1 }}</option>
                {% endfor %}
            </select>
        </form>

        {% if articles %}
            <ul role="list">
                {% for article in articles %}
                    <li>
                        <a href="{% pageurl article %}">
                            {% if article.listing_image %}
                                {% image article.listing_image fill-450x300 %}
                            {% endif %}
                            <div>
                                <h2 role="listitem">
                                    {% if article.listing_title %}
                                        {{ article.listing_title }}
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                </h2>
                                <span>{{ article.display_date }}</span>
                                {% if article.listing_summary %}
                                    <p>{{ article.listing_summary }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "includes/pagination.html" %}
        {% else %}
            {# no items #}
        {% endif %}
    </section>
{% endblock %}
