{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

<article>

    {# Breadcrumbs #}
    {% block breadcrumbs %}
    {# Hero section #}
    {% if page.hero_image %}
        <div class="hero hero--article">
            {% include "navigation/breadcrumbs.html" %}
            <div class="wrapper wrapper--mid">
                {% image page.hero_image fill-790x400 as hero_image %}
                <img class="hero__image hero__image--top-space" src="{{ hero_image.url }}">
            </div>
        </div>
    {% else %}
        {% include "navigation/breadcrumbs.html" %}
    {% endif %}
    {% endblock %}

    {# Share Icons #}
    <div class="wrapper wrapper--mid">
        <div class="share-icons share-icons--vertical js-share-icons share-icons--hide-mobile">
            <a class="share-icons__link" href="https://www.facebook.com/sharer/sharer.php?u={{ request.site.hostname }}{{ page.url }}">
                <svg class="share-icons__icon"><use xlink:href="#facebook"></use></svg>
            </a>
            <a class="share-icons__link" href="http://www.twitter.com/share?url={{ request.site.hostname }}{{ page.url }}">
                <svg class="share-icons__icon"><use xlink:href="#twitter"></use></svg>
            </a>
            <a class="share-icons__link" href="https://www.linkedin.com/cws/share?url={{ request.site.hostname }}{{ page.url }}">
                <svg class="share-icons__icon"><use xlink:href="#linkedin"></use></svg>
            </a>
            <a class="share-icons__link" href="mailto:?subject=Thought%20you%20might%20be%20interested&body={{ request.site.hostname }}{{ page.url }}">
                <svg class="share-icons__icon"><use xlink:href="#email"></use></svg>
            </a>
        </div>
    </div>

    {# Title, introduction and Streamfields #}
    <section class="section wrapper wrapper--article">
        <h3 class="heading heading--squashed">{{ page.title }}</h3>

        <div class="article-info">
            <p class="article-info__author">{% if page.author %}<span>By {{ page.author }}</span>{% endif %} {{ page.display_date|date }}</p>
        </div>

        <p class="large-text">{{ page.introduction|richtext }}</p>
        {{ page.body }}

        <div class="wrapper wrapper--mid">
            <div class="share-icons share-icons--horizontal share-icons--show-mobile">
                <a class="share-icons__link" href="https://www.facebook.com/sharer/sharer.php?u={{ request.site.hostname }}{{ page.url }}">
                    <svg class="share-icons__icon"><use xlink:href="#facebook"></use></svg>
                </a>
                <a class="share-icons__link" href="http://www.twitter.com/share?url={{ request.site.hostname }}{{ page.url }}">
                    <svg class="share-icons__icon"><use xlink:href="#twitter"></use></svg>
                </a>
                <a class="share-icons__link" href="https://www.linkedin.com/cws/share?url={{ request.site.hostname }}{{ page.url }}">
                    <svg class="share-icons__icon"><use xlink:href="#linkedin"></use></svg>
                </a>
                <a class="share-icons__link" href="mailto:?subject=Thought%20you%20might%20be%20interested&body={{ request.site.hostname }}{{ page.url }}">
                    <svg class="share-icons__icon"><use xlink:href="#email"></use></svg>
                </a>
            </div>
        </div>
    </section>
</article>
{% include "includes/relatedcontent.html" %}

{% endblock %}
