{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {# Hero section #}
    {% include "includes/hero_image_section.html" %}

    {% image page.introduction_customisations.image max-100x100 as intro_background %}
    <section class="section">
        <div class="wrapper wrapper--mid wrapper--bottom-space"
             style="{% if intro_background %}background:url({{ intro_background.url }});{% endif %}
                    {% if page.introduction_customisations.background_hex %}background:{{ page.introduction_customisations.background_hex }};{% endif %}">
            {# Intro is RichText #}
            <h4>{{ page.introduction|richtext }}</h4>
        </div>

        <div class="wrapper wrapper--mid wrapper--bottom-space">
            <form method="GET">
                <select name="category" class="js-article-filter">
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.0 }}" {% if request.GET.category == category.0|slugify %}selected="selected"{% endif %}>{{ category.1 }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        {% if articles %}
            {% image page.article_customisations.image max-100x100 as article_background %}
            <div class="article-container grid grid--three wrapper wrapper--mid"
                 style="{% if article_background %}background:url({{ article_background.url }});{% endif %}
                        {% if page.article_customisations.background_hex %}background:{{ page.article_customisations.background_hex }};{% endif %}">
                {% for article in articles %}
                    <div class="article-card">
                        <a href="{% pageurl article %}">
                            {% image article.listing_image|default:article.hero_image|default:settings.utils.SocialMediaSettings.default_sharing_image fill-380x225 %}
                        </a>
                        <div class="article-card__content">
                            <div>
                                {% if article.categories %}
                                    <span class="article-card__category">
                                        <a href="{{ article.get_parent.url }}?category={{ article.categories.first.category.id }}">
                                            {{ article.categories.first.category }}
                                        </a>
                                    </span>
                                {% endif %}
                                <span class="article-card__date">{{ article.publication_date|date:"d.m.y" }}</span>
                                {% if article.listing_title %}
                                    <div class="article-card__title"><a href="{% pageurl article %}">{{ article.listing_title }}</a></div>
                                {% else %}
                                    <div class="article-card__title"><a href="{% pageurl article %}">{{ article.title }}</a></div>
                                {% endif %}
                                {% if article.listing_summary %}
                                    <p>{{ article.listing_summary }}</p>
                                {% endif %}
                            </div>
                            <a class="link link--with-arrow" href="{% pageurl article %}" {% if link_is_external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                Read more
                                <div class="link__arrow"></div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include "includes/pagination.html" with subpages=articles %}
        {% else %}
            {# no items #}
        {% endif %}
    </section>
    <section class="section wrapper wrapper--article">
        {{ page.body }}
    </section>
{% endblock %}
