{% include 'organisms-header' %}

{% include 'molecules-hero--search' %}

<div class="wrapper wrapper--small-medium wrapper--top-bottom-space">
  <h3 class="heading heading--bottom-space heading--medium">Search results for "Lorem"</h3>
  <ul>
    {% include 'molecules-search-result' %}
    {% include 'molecules-search-result' %}
    {% include 'molecules-search-result' %}
  </ul>
</div>
{% include 'organisms-footer' %}

