.breadcrumbs {
    display: none;

    @include media-query(desktop) {
        display: block;
    }

    &__breadcrumb {
        @include media-query(desktop) {

            .template--standard-page & {
                color: $navy-blue;
            }

            .template--listings-page & {
                color: $white;
            }
            
            font-size: 14px;
    
            &:not(:last-child) {
                font-weight: bold;
            }
        }
    }

    &__arrow {
        @include media-query(desktop) {
            margin: 0 5px;
            max-width: 5px;
            vertical-align: baseline;
            padding-bottom: 1px;

            .template--standard-page & {
                fill: $navy-blue;
            }

            .template--listings-page & {
                fill: $white;
            }
        }
    }
}