{% include 'organisms-header' %}

<section class="hero">
    <h1 class="hero__heading">Stories</h1>
</section>
<section class="section">
    <div class="wrapper wrapper--site wrapper--bottom-space">
        {% include 'atoms-rich-text' %}
    </div>
    <div class="article-container wrapper wrapper--site">
        {% include 'molecules-article-card' %}
        {% include 'molecules-article-card' %}
        {% include 'molecules-article-card' %}
        {% include 'molecules-article-card' %}
    </div>
<section>



{% include 'organisms-footer' %}
