{% include 'organisms-header' %}

    {# Hero #}
    {% include 'molecules-hero' %}

    {# Introduction #}
    <section class="wrapper wrapper--mid wrapper--top-bottom-space large-text">
        <p>Cupiditate odio soluta repudiandae officia aut similique foop</p>
    </section>
        
    <section class="section section--body">
        <div class="wrapper wrapper--mid">
            {% include 'atoms-rich-text' %}
        </div>
    
        {% include 'organisms-video' %}

        <div class="media-block-container">
            {% include 'organisms-media-block' %}
            {% include 'organisms-media-block' %}
        </div>

        <div class="quote-container">
            {% include 'organisms-quote' %}
            {% include 'organisms-quote' %}
        </div>

        <div class="wrapper wrapper--bottom-space">
            {% include 'molecules-carousel--full-width' %}
        </div>

        <div class="wrapper wrapper--bottom-space">
            {% include 'molecules-image-embed' %}
        </div>
    </section>

{% include 'organisms-call-to-action' %}
{% include 'organisms-footer' %}
