{% include 'organisms-header' %}

<main class="wrapper wrapper--site">

    {# Hero #}
    {% include 'molecules-hero' %}

    {# Introduction #}
    <section class="wrapper wrapper--small wrapper--bottom-space">
        <h2 class="heading heading--squashed">Cupiditate odio soluta repudiandae officia aut similique foop</h2>
    </section>

    <section class="body">
        {% include 'atoms-large-text' %}
        <div class="body-text">
            <div class="rich-text">
                <p>Quas perspiciatis voluptates, odit. Natus quos rem ipsam molestias quaerat quam veritatis perspiciatis expedita explicabo sed deserunt delectus consectetur beatae, atque deleniti.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas perspiciatis voluptates, odit. </p>
            </div>
        </div>
    </section>
</main>

{% include 'organisms-footer' %}
