.input {
    &--search {
        background: transparent;
        border: 0;
        padding: 10px;
        width: 100%;
        font-size: 20px;
        color: $green;

        @include media-query(mob-landscape) {
            max-width: 330px;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            padding-left: 10px;
        }

        .header__search-bar--mobile & {
            border-bottom: 1px solid $brand-grey;
        }

        .hero--search & {
            max-width: 100%;
        }
    }

    &--search-results {
        border: 1px solid $green;
    }
}
