{% include 'organisms-header' %}

<article>
    <div class="wrapper wrapper--article-breadcrumbs">
        <div class="wrapper-small">
            {% include 'atoms-breadcrumbs' %}
        </div>
    </div>

    {% include 'molecules-hero--article' %}

    <div class="wrapper wrapper--site">
        {% include 'atoms-share-icons--vertical' %}
    </div>

    <section class="section wrapper wrapper--article">
        <h3 class="heading heading--squashed">Atque dolor emque at dolor ibus praes entium quod in</h3>

        {% include 'atoms-article-info' %}

        {% include 'atoms-large-text' %}

        {% include 'atoms-rich-text' %}

        {% include 'molecules-image-embed' %}

        {% include 'atoms-rich-text' %}

        {% include 'atoms-blockquote' %}

        {% include 'atoms-rich-text' %}

        <div class="wrapper wrapper--site">
            {% include 'atoms-share-icons--horizontal' %}
        </div>
    </section>
</article>

{% include 'organisms-article-download' %}

{% include 'organisms-articles' %}

{% include 'organisms-call-to-action' %}

{% include 'organisms-footer' %}

