{% include 'organisms-header' %}

<article>
    {% include 'molecules-hero--article' %}

    <div class="wrapper wrapper--small">
        {% include 'atoms-breadcrumbs' %}
    </div>

<<<<<<< HEAD
=======
    <div class="wrapper wrapper--small-medium">
        {% include 'atoms-share-icons--vertical' %}
    </div>

>>>>>>> staging
    <section class="section wrapper wrapper--article">
        <h3 class="heading heading--squashed">Atque dolor emque at dolor ibus praes entium quod in</h3>

        {% include 'atoms-article-info' %}

        {% include 'atoms-large-text' %}

        {% include 'atoms-rich-text' %}

        {% include 'molecules-image-embed' %}

        {% include 'atoms-rich-text' %}

        {% include 'atoms-blockquote' %}

        {% include 'atoms-rich-text' %}
<<<<<<< HEAD
=======

        <div class="wrapper wrapper--small-medium">
            {% include 'atoms-share-icons--horizontal' %}
        </div>
>>>>>>> staging
    </section>
</article>

{% include 'organisms-article-download' %}

{% include 'organisms-articles' %}

{% include 'organisms-call-to-action' %}

{% include 'organisms-footer' %}

