{% load wagtailimages_tags %}
{% if page.articles %}
{% image customisations.image max-100x100 as articles_image %}
<section class="section section--articles wrapper wrapper--mid"
         style="{% if articles_image %}background:url({{ articles_image.url }});{% endif %}
                {% if customisations.background_hex %}background:{{ customisations.background_hex }};{% endif %}">
    <h2 class="section__title"
        {% if customisations.heading_hex %}style="color:{{ customisations.heading_hex }};"{% endif %}>
        {{ title }}
    </h2>
    <div class="article-container wrapper wrapper--mid">
        {% for article in page.articles %}
            {% include "includes/article_card.html" %}
        {% endfor %}
    </div>
    <div class="wrapper wrapper--center">
        <a class="link link--boxed link--center" href="/articles">
            See all news
            <span></span>
            <span></span>
        </a>
    </div>
</section>
{% endif %}
