{% if page.articles %}
<section class="section section--articles">
    <h2 class="section__title">{{ title }}</h2>
    <div class="article-container wrapper wrapper--medium">
        {% for article in page.articles %}
            {% include "includes/article_card.html" %}
        {% endfor %}
    </div>
    <div class="wrapper wrapper--center">
        <a class="link link--boxed link--center" href="/articles">
            See all news
            <span></span>
            <span></span>
        </a>
    </div>
</section>
{% endif %}