{% load wagtailimages_tags %}

{% if request.user_agent.is_pc %}
    {% image article.listing_image|default:article.hero_image fill-770x510 as article_image %}
{% else %}
    {% image article.listing_image|default:article.hero_image fill-385x255 jpegquality-60 as article_image %}
{% endif %}

<div class="article-card {% if featured %}article-card--featured{% endif %}" >
    {# Single article #}
    {% if article.listing_image or article.hero_image|default:settings.utils.SocialMediaSettings.default_sharing_image %}
        <a class="article-card__link" href="{{ article.url }}">
            <img src="{{ article_image.url }}" alt="{{ article.listing_title }}">
        </a>
    {% endif %}

    <div class="article-card__content">
        <div>
            {% if article.categories %}
            <span class="article-card__category">
                <a href="{{ article.get_parent.url }}?category={{ article.categories.first.category.id }}">
                    {{ article.categories.first.category }}
                </a>
            </span>
            {% endif %}
            <span class="article-card__date">{{ article.publication_date|date:"d.m.y" }}</span>
            <div class="article-card__title"><a href="{{ article.url }}">{{ article.title }}</a></div>
        </div>
        <a class="link link--with-arrow" href="{{ article.url }}">
            Read more
            <div class="link__arrow"></div>
        </a>
    </div>
</div>
