{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    <section class="hero">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.heading }}</h2>
        {% image page.hero_image original as hero_image %}
        <img src="{{ hero_image.url }}">
    </section>

    {# Streamfield options #}
    <section class="body">
        {{ page.body }}
    </section>

    {# Related partners #}
    {% if page.partners %}
    <section class="partners">
        <h2>Partnerships in {{ page.title }}</h2>
        <p>{{ page.partners_description }}</p>
        {% for partner in page.partners %}
            {# Partner card here #}
        {% endfor %}
    </section>
    {% endif %}

    {# Related people #}
    {% if page.person_category and page.people %}
    <section class="people">
        <h2>People</h2>
        <h3>{{ page.person_category }}</h3>
        {% for person in page.people %}
            {# Person card here #}
        {% endfor %} 
    </section>   
    {% endif %}


    {% if page.solutions.exists %}
        {% for solution in page.solutions.all %}
            <section class="country-solution">
                <div class="container">
                    <h2>Solution</h2>
                    <a href="{{ solution.page.url }}">
                        {{ solution.page.title }}
                    </a>
                    <p>{{ solution.page.summary }}</p>
                </div>
            </section>
        {% endfor %}
    {% endif %}


    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
    <section class="cta">
        <h2>Call to Action</h2>
        <a href="{{ page.call_to_action.link_url }}">
            {{ page.call_to_action.title }}
        </a>
    </section>
    {% endif %}


{% endblock %}

{% include "includes/share.html" %}
