{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    <section class="hero">
        {% if page.hero_image %}
            {% image page.hero_image fill-1800x400 as hero_image %}
            <img class="hero__image" src="{{ hero_image.url }}">
        {% endif %}

        <h1 class="hero__heading">{{ page.title }}</h1>
    </section>

    {% block breadcrumbs %}
        {% include "navigation/breadcrumbs.html" %}
    {% endblock %}

    <section class="wrapper wrapper--small wrapper--top-bottom-space">
        <h2 class="heading heading--squashed">{{ page.heading }}</h2>
    </section>

    {# Streamfield options #}
    <section class="section section--body">
        {{ page.body }}
    </section>

    {# Related partners #}
    {% if page.partners %}
    <section class="section section--partners">
        <h2 class="section__title">Partnerships in {{ page.title }}</h2>
        <div class="wrapper wrapper--medium wrapper--bottom-space">
            <p>{{ page.partners_description }}</p>
        </div>

        <div class="media-block-container">
            {% for partner in page.partners %}
                {# Partner card here #}
                {% include "includes/partner_card.html" with partner=partner %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {# Related people #}
    {% if page.people %}
    <section class="people">
        <h2>People</h2>
        <h3>{{ page.person_category }}</h3>
        {% for person in page.people %}
            {# Person card here #}
            {% include "includes/person_index_card.html" with person=person %}
        {% endfor %}
    </section>
    {% endif %}

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}


{% endblock %}

{% include "includes/share.html" %}
