<div class="carousel__nav carousel__nav--testimonials js-nav-testimonials"></div>
<div class="carousel-container carousel-container--testimonials">
    <div class="js-carousel--testimonials owl-carousel owl-theme">
        <div class="testimonial">
            <svg class="testimonial__logo" viewBox="0 0 40.21 40.21">
                <use xlink:href="#quote"></use>
            </svg>
            <div class="testimonial__heading">Testimonials</div>
            <div class="testimonial__quote">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda.
            </div>
            <div class="testimonial__cite">
                Amet illo, asperiores hic, ea libero fugiat facere.
            </div>
        </div>

        <div class="testimonial">
            <svg class="testimonial__logo" viewBox="0 0 40.21 40.21">
                <use xlink:href="#quote"></use>
            </svg>
            <div class="testimonial__heading">Testimonials</div>
            <div class="testimonial__quote">
                Consectetur ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda.Sunt, labore dignissimos voluptate in quia ex assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </div>
            <div class="testimonial__cite">
                Sunt illo, asperiores hic, ea libero frop ham.
            </div>
        </div>
    </div>
</div>
