.carousel-container {

    &--testimonials {
        background: url('../images/testimonial-bg.svg') no-repeat $navy-blue;
        background-size: cover;
        padding: 2rem;

        @include media-query(tablet-landscape) {
            padding: 8rem 2rem;
        }

        @include media-query(desktop) {
            background-size: contain;
        }
    }

    &--featured-listing {
        position: relative;
        display: flex;
        max-width: 100vw;

        @include media-query(tablet-portrait) {
            max-width: 900px;
            margin: 0 auto;
        }
    }
}

.carousel {
    &__nav {
        &--testimonials {
            margin: 3rem auto 0;
            max-width: $content-wrapper;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            top: 25px;
            right: 30px;

            @include media-query(tablet-landscape) {
                right: 0;
            }
        }

        &--featured-listing {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;

            @include media-query(mob-landscape) {
                right: 50px;
            }

            @include media-query(tablet-portrait) {
                bottom: auto;
                right: auto;
                left: -2px;
                top: 70px;
            }
        }
    }
}

// Owl Carousel stylings - unfortunatley classes do not conform to BEM
.owl {
    &-item {
        max-width: 100vw;
    }

    &-prev,
    &-next {
        transition: background 0.25s ease;
        display: inline-block;
        vertical-align: bottom;
        padding: 25px;

        &:hover {
            cursor: pointer;
        }
    }

    &-prev {
        background: url('../images/chevron-left-white.svg') no-repeat center $light-blue;
        background-size: 10px;
        margin-right: 2px;
    }

    &-next {
        background: url('../images/chevron-right-white.svg') no-repeat center $light-blue;
        background-size: 10px;
    }
}
