<div class="carousel-container carousel-container--featured-listing">
    <div class="carousel__nav carousel__nav--featured-listing js-nav-featured-listing"></div>
    <div class="js-carousel--featured-listing owl-carousel owl-theme">

        <div class="featured-listing">
            <span class="featured-listing__image" style="background-image: url('https://placehold.it/720x290')"></span>

            <h2 class="featured-listing__heading">Featured</h2>

            {% include "atoms-listing-details" %}

            <p class="featured-listing__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda.</p>

            {% include "atoms-button--icon-right" %}
        </div>

        <div class="featured-listing">
            <span class="featured-listing__image" style="background-image: url('https://placehold.it/720x290')"></span>

            <h2 class="feature-listing__heading">Featured</h2>

            {% include "atoms-listing-details" %}

            <p class="featured-listing__intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, labore dignissimos voluptate in quia ex assumenda.</p>

            {% include "atoms-button--icon-right" %}
        </div>
    </div>
</div>
