{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    {% include "includes/hero_image_section.html" %}

    {# Intro - RichText. To be styled as 'large text' #}
    <section class="section wrapper wrapper--small">
        {{ page.introduction|richtext }}
    </section>

    {# People listed by Category #}
    <section>
    {% for category in page.categories %}
        {% if category.people %}
            <div class="wrapper wrapper--center wrapper--people">
                <h3>{{ category.title }}</h3>
            </div>
            {# category.description is also available #}
            <div class="article-container wrapper wrapper--medium wrapper--bottom-space-xl">
                {% for person in category.people %}
                    {# Person card here #}
                    {% include "includes/person_index_card.html" with person=person %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    </section>

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}

{% endblock %}
