{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {# Hero section #}
    {% include "includes/hero_image_section.html" %}

    {# Intro - RichText. To be styled as 'large text' #}
    {% image page.introduction_customisations.image max-100x100 as introduction_background %}
    <section class="section wrapper wrapper--small wrapper--bottom-space-xl large-text"
             style="{% if introduction_background %}background:url({{ introduction_background.url }});{% endif %}
            {% if page.introduction_customisations.background_hex %}background:{{ page.introduction_customisations.background_hex }};{% endif %}">
        {{ page.introduction|richtext }}
    </section>

    {# People listed by Category #}
    {% image page.people_customisations.image max-100x100 as people_background %}
    <section style="{% if people_background %}background:url({{ people_background.url }});{% endif %}
            {% if page.people_customisations.background_hex %}background:{{ page.people_customisations.background_hex }};{% endif %}">
    {% for category in page.categories %}
        {% if category.people.exists %}
            <div class="wrapper wrapper--center wrapper--people">
                <h3>{{ category.title }}</h3>
            </div>
            {# category.description is also available #}
            <div class="article-container wrapper wrapper--medium wrapper--bottom-space-xl">
                {% for person in category.people %}
                    {# Person card here #}
                    {% include "includes/person_index_card.html" with person=person %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    </section>

    {# Call to Action, link is likely external #}
    {% if page.call_to_action %}
        <section class="cta">
            {% include "includes/call_to_action.html" %}
        </section>
    {% endif %}

{% endblock %}
