{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<article>
    {# Hero section #}
    {% if page.photo %}
        <div class="hero hero--article">
            <div class="wrapper wrapper--small-medium">
                {% image page.photo fill-1000x500 as hero_image %}
                <img class="hero__image hero__image--top-space" src="{{ hero_image.url }}">
            </div>
        </div>
    {% endif %}

    {# Breadcrumbs #}
    {% block breadcrumbs %}
        {% include "navigation/breadcrumbs.html" %}
    {% endblock %}

    <div class="wrapper wrapper--small wrapper--top-bottom-space">
        <h3 class="heading heading--bottom-space">{{ page.first_name }} {{ page.last_name }}</h3>
        {% if page.job_title %}
            <p class="label label--large label--green">{{ page.job_title }}</p>
        {% endif %}

        {% for category in page.categories %}
            <p class="label label--large label--green">{{ category }}</p>
        {% endfor %}

        {% if page.website %}
            <p><a class="label label--small label--grey" href="{{ page.website }}">{{ page.website }}</a></p>
        {% endif %}
        {% if page.email %}
            <p><a class="label label--small label--grey" href="mailto:{{ page.email }}">{{ page.email }}</a></p>
        {% endif %}
        {% if page.mobile_phone %}
            <p class="label label--small label--grey">{{ page.mobile_phone }}</p>
        {% endif %}
        {% if page.landline_phone %}
            <p class="label label--small label--grey">{{ page.landline_phone }}</p>
        {% endif %}

        <div class="wrapper wrapper--top-bottom-space">
            {% if page.introduction %}
                <p class="rich-text">{{ page.introduction }}</p>
            {% endif %}

            {{ page.biography }}
        </div>

        {% for item in page.social_media_profile.all %}
            <h4>{{ item.get_service_display }}</h4>
            <p><a class="link link--underlined" href="{{ item.profile_url }}">{{ item.profile_url }}</a></p>
        {% endfor %}
    </div>
</article>

{% endblock %}
